@model DFI.Data.Facilities.ListFacilityDto

@using PagedList.Mvc;

<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col" class="d-none d-lg-table-cell">
                <a href="javascript:void(0)" class="notunderline" data-group="column" data-id="email">Email</a>
                <i class="fa fa-sort-alpha-desc" style="display: none" aria-hidden="true"></i>
            </th>
            <th scope="col">
                <a href="javascript:void(0)" class="notunderline" data-group="column" data-id="facilityname">Facility Name</a>
                <i class="fa fa-sort-alpha-desc" style="display: none" aria-hidden="true"></i>
            </th>
            <th scope="col" class="d-none d-md-table-cell">
                <a href="javascript:void(0)" class="notunderline" data-group="column" data-id="phonenumber">Phone Number</a>
                <i class="fa fa-sort-alpha-desc" style="display: none" aria-hidden="true"></i>
            </th>
            <th scope="col" class="d-none d-md-table-cell">
                <a href="javascript:void(0)" class="notunderline" data-group="column" data-id="city">City</a>
                <i class="fa fa-sort-alpha-desc" style="display: none" aria-hidden="true"></i>
            </th>
            <th scope="col">
                <a href="javascript:void(0)" class="notunderline" data-group="column" data-id="facilitystatus">Status</a>
                <i class="fa fa-sort-alpha-desc" style="display: none" aria-hidden="true"></i>
            </th>
            <th scope="col">
                Actions
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var facility in Model.FacilityShortDtos)
        {
            <tr>
                <td class="d-none d-lg-table-cell text-break">@facility.Email</td>
                <td>@facility.FacilityName</td>
                <td class="d-none d-md-table-cell">@facility.PhoneNumber</td>
                <td class="d-none d-md-table-cell">@facility.City</td>
                <td>@facility.FacilityStatus</td>
                <td>
                    <a href="/facilities/facility/@facility.FacilityId">
                        <i class="fa fa-share-square-o blueIcon" aria-hidden="true"></i>
                    </a>
                    <a href="javascript:void(0)" data-id="sendEmailDirectly" data-email="@facility.Email"
                       title="Send email directly" data-toggle="modal" data-fullname="@facility.FacilityName" data-target="#sendEmailDirectlyModal">
                        <i class="fa fa-envelope envelopIcon" aria-hidden="true"></i>
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
<br />
Page @(Model.FacilityShortDtos.PageCount < Model.FacilityShortDtos.PageNumber ? 0 : Model.FacilityShortDtos.PageNumber) of @Model.FacilityShortDtos.PageCount

@if (Model.FacilityShortDtos.PageCount > 1)
{
    @Html.PagedListPager(Model.FacilityShortDtos, page => Url.Action("Index",
        new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }), new PagedListRenderOptions()
        {
            MaximumPageNumbersToDisplay = 5
        })
}
