@using DFI.Helpers
@using System.Web.Mvc.Html
@using DFI.Data.Accounts
@using DFI.Data.Emails
@model DFI.Data.Facilities.FacilityDto

@{
    ViewBag.Title = "Practice";
}

<h2>Practice</h2>
@Html.Partial("_Status", (Helper.EState)Model.FacilityStatus)

@using (Ajax.BeginForm("Facility", "Facilities", null, new AjaxOptions()
{
    HttpMethod = "POST",
    InsertionMode = InsertionMode.Replace,
    LoadingElementId = "spinner",
    OnSuccess = "fnSuccess"
}, new { enctype = "multipart/form-data", id = "FacilityRegistrationForm" }))

{
    <script type="text/javascript">
        function fnSuccess(message) {
            if (message) {
                $("#validationMessageId").html(message);
                $("#validationMessageId").show();
            } else {
                $("#validationMessageId").hide();
                $("#createFacilityAccount").attr("disabled", "disabled");
                $("#successMessage").show();
                setTimeout(function () { location.reload() }, 1000)
            }
        }
    </script>

    @Html.HiddenFor(c => c.Id)
    @Html.HiddenFor(c => c.FacilityStatus)

    for (int i = 0; i < Model.DocumentDtos.Count; i++)
    {
        @Html.HiddenFor(model => Model.DocumentDtos[i].Id)
        @Html.HiddenFor(model => Model.DocumentDtos[i].Type)
        @Html.HiddenFor(model => Model.DocumentDtos[i].Name)
    }

    <div class="form-group row">
        <div class="col-sm-3">
            <img src='@Url.Action("GetTempPhoto", "Professionals", new {id = Model.DocumentDtos.FirstOrDefault(c => c.Type == EDocumentType.Photo.ToString())?.Id})' id="facilityPhoto" class="img-fluid img-thumbnail" alt="Photo" />
        </div>
        <div class="col-sm-9">
            <div class="form-group row">
                @Html.LabelFor(c => c.Photo, "Upload Photo", new { @class = "col-sm-3" })
                <div class="col-sm-4">
                    <div class="custom-file " id="customFile" lang="es">
                        @Html.TextBoxFor(m => m.Photo, new
                        {
                            type = "file",
                            data_id = "file",
                            id = "facilityPhotoInput",
                            @class = "custom-file-input",
                            aria_describedby = "fileHelp",
                            accept = "image/x-png,image/gif,image/jpeg"
                        })
                        @Html.LabelFor(c => c.Photo, "Select file...", new { @class = "custom-file-label" })
                        <span class="field-validation-valid" id="custom-file-validation-message">
                            Invalid file selected, valid files are of .jpg, .png, .gif types.
                        </span>
                    </div>
                </div>
                <div class="col-sm-4">
                    <a href="javascript:void(0)" class="btn" id="deletePhoto" title="Delete photo">
                        <i style="color: red;" class="fa fa-trash"></i>
                    </a>
                </div>
            </div>

            @foreach (var doc in Model.DocumentDtos.Where(c => c.Type == EDocumentType.Photo.ToString()))
            {
                <div class="form-group row">
                    <label class="col-sm-3">
                        <i class="fa fa-download" aria-hidden="true"></i>
                    </label>
                    <div class="col-sm-4">
                        <a href="/Professionals/DownloadFile/@doc.Id" title="Download" class="notunderline" data-type="@doc.Type" data-id="@doc.Id" data-group="documents">
                            @doc.Name
                        </a>
                    </div>
                    <div class="col-sm-5">
                    </div>
                </div>
            }

            <div class="form-group row">
                @Html.LabelFor(model => model.FacilityName, "Office Name", new { @class = "col-sm-3" })
                <div class="col-sm-9">
                    @Html.EditorFor(model => model.FacilityName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.FacilityName)
                </div>
            </div>
            @Html.HiddenFor(c => c.Email, new { id = "email" })
            <div class="form-group row">
                @Html.LabelFor(model => model.Email, "Email", new { @class = "col-sm-3" })
                <div class="col-sm-9">
                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control mb-2", @disabled = "disabled" } })
                    <p id="newEmailInfo" @(string.IsNullOrEmpty(Model.NewEmail) ? "style=display:none" : "style=display:block")>
                        The new email, <b><span id="newEmailRequest">@Model.NewEmail</span></b>, is waiting confirmation
                    </p>
                    <p>
                        <a href="javascript:void()" class="btn btn-info" data-toggle="modal" data-target="#changeEmailModal">Change email</a>
                    </p>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-3" for="IsBillingEmailSame">Is billing email same</label>
                <div class="col-sm-9">
                    <input type="checkbox" id="IsBillingEmailSame" />
                </div>
            </div>

            <div class="form-group row">
                @Html.LabelFor(model => model.BillingEmail, "Billing email", new { @class = "col-sm-3" })
                <div class="col-sm-9">
                    @Html.EditorFor(model => model.BillingEmail, new { htmlAttributes = new { @class = "form-control", id = "billingEmail" } })
                    @Html.ValidationMessageFor(model => model.BillingEmail)
                </div>
            </div>

            <div class="form-group row">
                @Html.LabelFor(model => model.PayType, "Payment Type", new { @class = "col-sm-3" })
                <div class="col-sm-5">
                    @Html.RadioButtonFor(model => model.PayType, "1099", new { id = "payType1099" })
                    <label class="form-check-label" for="payType1099">1099 (Independent Contractor)</label>
                </div>

                <div class="col-sm-3">
                    @Html.RadioButtonFor(model => model.PayType, "W4", new { id = "payTypeW4" })
                    <label class="form-check-label" for="payTypeW4">W4 (Employee)</label>
                </div>
                @Html.ValidationMessageFor(model => model.PayType)  
            </div>


            <div class="form-group row">
                @Html.LabelFor(model => model.ShortLocations, "Locations", new { @class = "col-sm-3" })
                <div class="col-sm-9">
                    @foreach (var location in Model.ShortLocations)
                    {
                        <div class="card">
                            <h5 class="card-header">Doctor name: @location.DoctorName</h5>
                            <div class="card-body">
                                <p class="card-text">@location.FullAddress</p>
                                @Html.ActionLink("Edit", "GetFacilityLocation", "Facilities", new { facilityId = Model.Id, facilityLocationId = location.LocationId }, new { @class = "btn btn-primary" })
                            </div>
                        </div><br />
                    }
                </div>
            </div>
        </div>
    </div>

    <div class="alert alert-danger" style="display: none" data-id="validationMessage" id="validationMessageId" role="alert"></div>
    <div class="alert alert-success" style="display: none" id="successMessage" role="alert">Saved successfully</div>

    <div class="form-group row">
        <div class="col-sm-12">
            @Html.ActionLink("Add location", "GetFacilityLocation", "Facilities", new { facilityId = Model.Id }, new { @class = "btn btn-success" })
            <button type="submit" class="btn btn-primary" id="createFacilityAccount">Update account</button>
            @if (this.User.IsInRole(Role.Facility))
            {
                @Html.ActionLink("Cancel", "Index", "Home", new { area = "" }, new { @class = "btn btn-secondary", id = "cancelBtn" })
            }
            else
            {
                @Html.ActionLink("Cancel", "Index", "Facilities", new { area = "" }, new { @class = "btn btn-secondary" })
            }
            @if (this.User.IsInRole(Role.Admin))
            {
                <button type="button" class="btn btn-success @(Model.FacilityStatus == (int) Helper.EState.Active ? "d-none" : "")" id="activateFacility">Activate</button>
                <button type="button" class="btn btn-warning @(Model.FacilityStatus != (int) Helper.EState.Active ? "d-none" : "")" id="deactivateFacility">Deactivate</button>
                <button type="button" class="btn btn-danger @(Model.FacilityStatus == (int) Helper.EState.Deleted ? "d-none" : "")" id="deleteFacilityBtn" data-toggle="modal" data-target="#deleteFacilityModal">Delete</button>
                <button type="button" class="btn btn-secondary" id="impersonateUser">Impersonate</button>
                if (Model.FacilityStatus == (int)Helper.EState.Submitted)
                {
                    <button type="button" class="btn btn-info" id="resend-registration-email">Resend registration email</button>
                }
            }
            <i id="spinner" class="fa fa-spinner fa-spin" style="padding-left: 15px; font-size: 27px; display: none"></i>
        </div>
    </div>

   <div class="form-group row">
        <div class="col-sm-12">
            <p>
                <a href="javascript:void(0)" id="permanentPlacementAgreement" class="font-weight-bold" data-toggle="modal" data-target="#permanentPlacementAgreementModal">Permanent Placement Agreement</a>
                and
                <a href="javascript:void(0)" id="dentalFillinsFees" class="font-weight-bold" data-toggle="modal" data-target="#dentalFillinsFeesModal">Dental Fillins Fees</a>
                and
                <a href="javascript:void(0)" id="temporaryStaffingAgreement" class="font-weight-bold" data-toggle="modal"
                   data-target="#temporaryStaffingAgreementModal">Temporary Staffing Agreement</a>
            </p>
        </div>
    </div>
}

<div class="modal fade" id="permanentPlacementAgreementModal" tabindex="-1" role="dialog" aria-labelledby="permanentPlacementAgreementModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="permanentPlacementAgreementLabel">Permanent Placement Agreement</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                @{ Html.RenderPartial("../../Views/Registrator/_PermanentPlacementAgreement"); }
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="dentalFillinsFeesModal" tabindex="-1" role="dialog" aria-labelledby="dentalFillinsFeesModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="dentalFillinsFeesLabel">Dental Fillins Fees</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                @{ Html.RenderPartial("../../Views/Registrator/_DentalFillinsFeesAgreement"); }
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="temporaryStaffingAgreementModal" tabindex="-1" role="dialog" aria-labelledby="temporaryStaffingAgreementModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="temporaryStaffingAgreementLabel">Temporary Staffing Agreement</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                @{ Html.RenderPartial("../../Views/Registrator/_TemporaryStaffingAgreementForOffice"); }
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="deleteFacilityModal" tabindex="-1" role="dialog" aria-labelledby="deleteFacilityModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteFacilityModalLabel">Delete Facility</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Are you sure?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                <button type="button" id="deleteFacility" class="btn btn-primary" data-dismiss="modal">Yes</button>
            </div>
        </div>
    </div>
</div>

<script>
    var selectors = {
        photo: '#facilityPhoto',
        photoInput: '#facilityPhotoInput',
        email: '#email',
        billingEmail: '#billingEmail',
        customFileValidationMessage: '#custom-file-validation-message'
    };
</script>

@Html.Partial("_ChangeEmail", new EmailChangeDto { Email = Model.Email })

@Scripts.Render("~/bundles/facilityAccountCreate")
@Scripts.Render("~/bundles/impersonate-account")
@Scripts.Render("~/bundles/resend-registration-email")
