﻿@using DFI.Helpers
@using DFI.Data.Facilities
@using DFI.Data.Accounts
@using System.Web.Mvc.Html
@model DFI.Data.Facilities.FacilityLocationDto
@{
    ViewBag.Title = "FacilityLocation";
}

<h2>Location</h2>
@Html.Hidden("IsFacilityLogIn", this.User.IsInRole(Role.Facility))

@using (Ajax.BeginForm("CreateUpdateFacilityLocation", "Facilities", null, new AjaxOptions()
{
    HttpMethod = "POST",
    InsertionMode = InsertionMode.Replace,
    LoadingElementId = "spinner",
    OnSuccess = "fnSuccess"
}, new { enctype = "multipart/form-data", id = "FacilityLocationForm" }))
{
    <script type="text/javascript">
        function fnSuccess(data) {
            isBusy = false;
            if (data && typeof data !== 'number') {
                $("#validationMessageId").html(data);
                $("#validationMessageId").show();
            } else {
                $("#validationMessageId").hide();
                $("#createFacilityLocation").attr("disabled", "disabled");
                $("#successMessage").show();

                setTimeout(function () {
                    $("#successMessage").hide();

                    if (location.search.indexOf("facilityLocationId") > 0) //this param has when update location
                    {
                        $("#createFacilityLocation").removeAttr('disabled');
                    }
                    else {

                        var isAdmin = "@User.IsInRole(Role.Admin)";
                        if (isAdmin == "True") {
                            var facilityId = $("#FacilityId").val();
                            window.location.href = window.location.origin + "/Facilities/Facility/" + facilityId;
                        } else {
                            window.location.href = window.location.origin + "/Facilities/MyProfile";
                        }

                    }

                }, 5000)
            }
        }
    </script>

    @Html.HiddenFor(c => c.Id)
    @Html.HiddenFor(c => c.FacilityId)
    @Html.HiddenFor(c => c.AddressFromGoogle, new { data_id = "addressFromGoogle" })



    <div class="form-group row">
        @Html.LabelFor(model => model.Apartment, "Suite number", new { @class = "col-sm-3" })
        <div class="col-sm-9">
            @Html.EditorFor(model => model.Apartment, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Apartment)
        </div>
    </div>

    @Html.Partial("_Map")

    <div>
        <h4>Office hours</h4>
        @for (int i = 0; i < Model.FacilityHours.Count; i++)
        {
            @Html.HiddenFor(c => c.FacilityHours[i].DayOfWeek);
            <div class="form-group row">
                @Html.LabelFor(model => model.FacilityHours[i].RangeHours, Model.FacilityHours[i].DayOfWeek, new { @class = "col-sm-3" })
                <div class="col-sm-9">
                    @Html.EditorFor(model => model.FacilityHours[i].RangeHours, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.FacilityHours[i].RangeHours)
                </div>
            </div>

        }
    </div>
    <hr />
    <div class="form-group row">
        @Html.LabelFor(model => model.PhoneNumber, "Phone number", new { @class = "col-sm-3" })
        <div class="col-sm-9">
            @Html.EditorFor(model => model.PhoneNumber, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.PhoneNumber)
        </div>
    </div>

    <div class="form-group row">
        @Html.LabelFor(model => model.DoctorsName, "Doctors name", new { @class = "col-sm-3" })
        <div class="col-sm-9">
            @Html.EditorFor(model => model.DoctorsName, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.DoctorsName)
        </div>
    </div>

    <div class="form-group row">
        @Html.LabelFor(model => model.WebsiteAddress, "Website address", new { @class = "col-sm-3" })
        <div class="col-sm-9">
            @Html.EditorFor(model => model.WebsiteAddress, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.WebsiteAddress)
        </div>
    </div>

    <div class="form-group row">
        @Html.LabelFor(c => c.ChartingSoftware, "Charting software", new { @class = "col-sm-3" })
        <div class="col-sm-3">
            @Html.EditorFor(c => c.ChartingSoftware, new { htmlAttributes = new { @class = "form-control", @data_type = "autocomplete-input", @data_action = "/Facilities/GetChartingSoftwareNames" } })
            @Html.ValidationMessageFor(model => model.ChartingSoftware)
        </div>
    </div>

    <div class="form-group row">
        @Html.LabelFor(c => c.XRaySoftware, "X-ray software", new { @class = "col-sm-3" })
        <div class="col-sm-3">
            @Html.EditorFor(c => c.XRaySoftware, new { htmlAttributes = new { @class = "form-control", @data_type = "autocomplete-input", @data_action = "/Facilities/GetXraySoftwareNames" } })
            @Html.ValidationMessageFor(model => model.XRaySoftware)
        </div>
    </div>

    <div class="form-group row">
        @Html.LabelFor(model => model.AllowedAdultProphylaxisTime, "Allowed adult prophylaxis time (minutes)", new { @class = "col-sm-3" })
        <div class="col-sm-3">
            @Html.DropDownListFor(c => c.AllowedAdultProphylaxisTime, new SelectList(new List<string> { "30-40", "40-50", "50-60" }), "Select time", new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.AllowedAdultProphylaxisTime)
        </div>
    </div>

    <div class="form-group row">
        @Html.LabelFor(model => model.AllowedChildProphylaxisTime, "Allowed child prophylaxis time (minutes)", new { @class = "col-sm-3" })
        <div class="col-sm-3">
            @Html.DropDownListFor(c => c.AllowedChildProphylaxisTime, new SelectList(new List<string> { "30-40", "40-50", "50-60" }), "Select time", new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.AllowedChildProphylaxisTime)
        </div>
    </div>

    <div class="form-group row">
        @Html.LabelFor(c => c.PaidEndOfTheDay, "Paid end of the day", new { @class = "col-sm-3" })
        <div class="col-sm-3">
            @Html.DropDownListFor(c => c.PaidEndOfTheDay, new SelectList(Enum.GetValues(typeof(EPay)).Cast<EPay>().Select(x => x.GetDisplayName())), "Select payment method", new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.PaidEndOfTheDay)
        </div>
    </div>

    <div class="form-group row">
        @Html.LabelFor(model => model.AdditionalInfo, "Is there any additional information about your office that you feel is valuable for us to know?", new { @class = "col-sm-3" })
        <div class="col-sm-9">
            @Html.TextAreaFor(model => model.AdditionalInfo, new { @class = "form-control", rows = 5 })
            @Html.ValidationMessageFor(model => model.AdditionalInfo)
        </div>
    </div>

    <div class="alert alert-danger" style="display: none" data-id="validationMessage" id="validationMessageId" role="alert"></div>
    <div class="alert alert-success" style="display: none" id="successMessage" role="alert">Location has been created or updated.</div>

    <div class="alert alert-danger" style="display: none" id="deleteLocationValidationMessage" role="alert"></div>
    <div class="alert alert-success" style="display: none" id="deleteLocationSuccessMessage" role="alert">Deleted successfully</div>

    if (this.User.IsInRole(Role.Admin))
    {
        @Html.ActionLink("Back", "Facility", "Facilities", new { id = Model.FacilityId }, new { @class = "btn btn-secondary", @id = "backButton" })
    }
    else
    {
        @Html.ActionLink("Back", "MyProfile", "Facilities", null, new { @class = "btn btn-secondary", @id = "backButton" })
    }

    <button type="submit" class="btn btn-success" id="createFacilityLocation">Submit</button>

    if (Model.Id > 0 && !Model.IsOnlyOne)
    {
        <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteLocationModal">Delete</button>
    }
}

@if (Model.Id > 0 && !Model.IsOnlyOne)
{
    <div class="modal fade" id="deleteLocationModal" tabindex="-1" role="dialog" aria-labelledby="deleteLocationModal" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteLocationLabel">Delete location</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="deleteLocationBody">
                        Are you sure? This location will not be available for a new requests.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                    <button type="button" id="deleteLocation" data-id="@Model.Id" class="btn btn-primary" data-dismiss="modal">Yes</button>
                </div>
            </div>
        </div>
    </div>
}

@Styles.Render("~/Content/Styles/autocomplite-input")
@Scripts.Render("~/bundles/autocomplete_input")
@Scripts.Render("~/bundles/facility-location")


