@using DFI.Helpers
@using DFI.Data.Emails
@model DFI.Data.Facilities.FacilitySearchDto

@{
    ViewBag.Title = "Practices";
}

<h2>Practices</h2>
<div class="form-group row">
    <label class="col-sm-3" for="Email">Email</label>
    <div class="col-sm-5">
        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", @data_type = "autocomplete-input", @data_action = "/Facilities/GetFacilityEmails" } })
        @Html.ValidationMessageFor(model => model.Email)
    </div>
</div>
<div class="form-group row">
    <label class="col-sm-3" for="FacilityName">Facility Name</label>
    <div class="col-sm-5">
        @Html.EditorFor(model => model.FacilityName, new { htmlAttributes = new { @class = "form-control", @data_type = "autocomplete-input", @data_action = "/Facilities/GetFacilityNames?eFacilityNameFor=FacilitiesList" } })
        @Html.ValidationMessageFor(model => model.FacilityName)
    </div>
</div>
<div class="form-group row">
    <label class="col-sm-3" for="PhoneNumber">Phone Number</label>
    <div class="col-sm-5">
        @Html.EditorFor(model => model.PhoneNumber, new { htmlAttributes = new { @class = "form-control", @data_type = "autocomplete-input", @data_action = "/Facilities/GetFacilityPhoneNumbers" } })
        @Html.ValidationMessageFor(model => model.PhoneNumber)
    </div>
</div>
<div class="form-group row">
    <label class="col-sm-3" for="City">City</label>
    <div class="col-sm-5">
        @Html.EditorFor(model => model.City, new { htmlAttributes = new { @class = "form-control", @data_type = "autocomplete-input", @data_action = "/Facilities/GetFacilityCities" } })
        @Html.ValidationMessageFor(model => model.City)
    </div>
</div>
<div class="form-group row">
    <label class="col-sm-3" for="Status">Status</label>
    <div class="col-sm-5">
        @foreach (var status in Enum.GetNames(typeof(Helper.EState)).Where(x => x != Helper.EState.Deleted.ToString() && x != Helper.EState.New.ToString()))
        {
            <label style="margin-right: 10px;">
                <input type="checkbox" data-group="statuses" value="@((int)Enum.Parse(typeof(Helper.EState), status))" name="Status">
                @status
            </label>
        }
    </div>
</div>
<div class="form-group row">
    <div class="col-sm-4">
        <a href="javascript:void(0)" class="btn btn-primary" id="search">Search</a>
        <a href="javascript:void(0)" class="btn btn-secondary" id="cleanSearch">Clean filters</a>
        <a href="javascript:void(0)" class="btn btn-warning" id="showPopupForSendEmailToAll" data-toggle="modal" data-target="#sendEmailToAllModal">Email to all</a>
        <span style="padding-left: 15px;">
            <i id="spinner" class="fa fa-spinner fa-spin" style="font-size: 27px;/* padding-left: 65px; */"></i>
        </span>
    </div>
</div>
<div id="facilityListPartialView"></div>

@Html.Partial("_SendBulkEmail", new EmailLightDto())
@Html.Partial("_SendDirectlyEmail", new EmailLightDto())
@Html.Partial("_ToastPopups")
@Scripts.Render("~/bundles/facilityTableJS")
@Styles.Render("~/Content/Styles/autocomplite-input")
@Scripts.Render("~/bundles/autocomplete_input")