@model DFI.Models.Faq.FaqItemViewModel

<div class="faq-item my-3">
    <div>
        <span class="font-weight-bold w-100">Q: @Html.Raw(Model.Question)</span>
    </div>
    <div>
        <span class="w-100">A: @Html.Raw(Model.Answer)</span>
    </div>
</div>