@using DFI.Models.Faq
@{
    ViewBag.Title = "FAQ";
}
@section styles{
    @Styles.Render("~/Content/css/homePage")
}

<section class="container my-2 justify-content-center">
    <div class="row my-4">
        <div class="col-12 text-center">
            <h1 class="font-babe-sans">FAQ</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 my-3">
            <h4 class="text-center font-weight-light mb-3" style="min-height:56px;">
                FOR THE DENTAL PROFESSIONAL
            </h4>
            @Html.Partial("_FaqItem", new FaqItemViewModel(
                "How much does it cost to join DFI?",
                "Dental personnel NEVER pay a fee to DFI."))
            @Html.Partial("_FaqItem", new FaqItemViewModel(
                "Should I have my own malpractice insurance?",
                "DFI recommends that you do carry your own liability insurance policy. Rates for such " +
                "policies are very low and will be crucial if you ever find yourself in a position to need it. Many " +
                "DFI temps use the following companies to carry their malpractice policy; "
                + "<a href=\"https://www.hpso.com/\">www.hpso.com</a> "
                + "<a href=\"https://www.proliability.com/\">www.proliability.com</a>"))
            @Html.Partial("_FaqItem", new FaqItemViewModel(
                "Can I join more than one staffing agency?",
                "DFI feels you should have every opportunity to fill your schedule, therefore, we have no " +
                "policy against joining other agencies. We all cover different areas and have different clients."))
            @Html.Partial("_FaqItem", new FaqItemViewModel(
                "Where does DFI cover?",
                "We started in Chester County. Due to growing demand and the launch of our web app in 2022, we were able " +
                "to expand statewide with the help of our knowledgeable customer service representatives."))
            @Html.Partial("_FaqItem", new FaqItemViewModel(
                "What do temps make hourly?",
                "Hourly wages depend on your experience and location. You have the option to turn down a " +
                "position if you do not agree with the offered rate."))
            @Html.Partial("_FaqItem", new FaqItemViewModel(
                "How do I get paid for temporary assignments?",
                "Most offices will pay you via check at the end of the day, or at the end of the assignment " +
                "if it's more than one day. Most offices do not take out taxes, so please be sure to consult your " +
                "accountant regarding tax regulations for temping."))
            @Html.Partial("_FaqItem", new FaqItemViewModel(
                "What does DFI expect from me?",
                "We hold our temps, as well as our offices, to the highest standard. Details may be found in " +
                "the Placement Agreement."))

        </div>
        <div class="col-md-6 my-3">
            <h4 class="text-center font-weight-light mb-3" style="min-height:56px;">FOR THE DENTAL PRACTICE</h4>
            @Html.Partial("_FaqItem", new FaqItemViewModel(
                "What does it cost to establish an account with DFI?",
                "There is no fee to sign up with DFI. We encourage you to set up your account before the " +
                "need for a temp arises, so that we have your information if you need assistance on short notice."))
            @Html.Partial("_FaqItem", new FaqItemViewModel(
                "How does DFI bill?",
                "DFI mails invoices on the first and fifteenth of each month. Details on rates may be found " +
                "on the Rate Sheet."))
            @Html.Partial("_FaqItem", new FaqItemViewModel(
                "What do temps make per hour?",
                "Temp rates vary dependent upon the temp's experience and the length of notice given. Rates " +
                "are confirmed with each assignment."))
            @Html.Partial("_FaqItem", new FaqItemViewModel(
                "How do temps get paid?",
                "Temps usually receive compensation via check at the end of the day for daily jobs, or the " +
                "end of the week for long term jobs. Please consult with your accountant regarding tax regulations " +
                "for temporary employees."))
            @Html.Partial("_FaqItem", new FaqItemViewModel(
                "What is DFI's cancellation policy?",
                "If an office cancels a temporary employee without 24 hours notice, the office is " +
                "responsible to pay that temp 25% of their scheduled wages. Details may be found in the Staffing Agreement."))
        </div>
    </div>
</section>