﻿
<h5>DFI Placement Fee</h5>
<p>
    <span><b>$58.30</b> temporary placement/day</span><br />
    <span><b>$125.00</b> dentist temporary placement/day</span><br />
    <span><b>+15%</b> placement fee < 24 hr notice</span>
</p>
<p>
    If client cancels after temporary staff is procured the placement fee will be charged.
    If client cancels temporary staff  < 12hrs, client is responsible to pay temporary staff 50% of expected hourly wages.
</p>
<h5>Temporary Staff Hourly Rates</h5>
<p>
    Hourly rates of temporary staff vary depending upon position, experience, notice given for assignment and travel distance.  All rates will be quoted upon assignment confirmation.
    Client is responsible for direct payment to temporary employee per staffing agreement.
</p>
<h5>Permanent Placement Rates</h5>
<div class="form-group row">
    <label class="col-sm-3 font-weight-bold">Dental Hygienist</label>
    <div class="col-sm-9">
        <span>$1050.00 / day scheduled per week</span>
    </div>
</div>
<div class="form-group row">
    <label class="col-sm-3 font-weight-bold">Practice Manager</label>
    <div class="col-sm-9">
        <span>$950.00 / day scheduled per week</span>
    </div>
</div>
<div class="form-group row">
    <label class="col-sm-3 font-weight-bold">EFDA</label>
    <div class="col-sm-9">
        <span>$900.00 / day scheduled per week</span>
    </div>
</div>
<div class="form-group row">
    <label class="col-sm-3 font-weight-bold">Dental Assistant</label>
    <div class="col-sm-9">
        <span>$850.00 / day scheduled per week</span>
    </div>
</div>
<div class="form-group row">
    <label class="col-sm-3 font-weight-bold">Administrative</label>
    <div class="col-sm-9">
        <span>$750.00 / day scheduled per week</span>
    </div>
</div>
<div class="form-group row">
    <label class="col-sm-3 font-weight-bold">Dentist</label>
    <div class="col-sm-9">
        <span>$2,250.00 / day scheduled per week</span>
    </div>
</div>
<p>Permanent Placement Agreement and payment to DFI shall be completed before hire.</p>
<p>All rates subject to PA sales tax payable in full by client.</p>