﻿<p>
    Throughout this Agreement, the parties shall be referred to as follows: Dental office or Doctor shall be referred to as ‘Client’. Dental Fillins, LLC. shall be referred to as ‘DFI’.
    Please read and fully understand the following before signing:
</p>
<p>
    Client, has advised DFI that it may be interested in employing, engaging or retaining, the temporary staff provided by DFI pursuant to the Staffing Agreement.
    As such, Client hereby acknowledges and agrees that all permanent placement assignments (whether as employees or independent contractors) for
    temporary staff who have been provided by DFI shall be arranged through DFI. No oral or written contracts or any other arrangements shall be arranged directly by the Client through temporary staff.
    Arranging a permanent position directly with temporary staff will be considered a breach of contract and Client will be subject to all legal and equitable remedies that may be pursued by DFI.
</p>
<p>
    Client is required to pay a permanent placement fee to DFI if employee was first provided to Client’s office by DFI. If employee was provided to Client’s office through other means or agencies after first DFI assignment,
    Client is still responsible to pay a permanent placement fee to DFI.
</p>
<p>Permanent placement fees paid to DFI are as follows:</p>
<div class="form-group row">
    <label class="col-sm-3 font-weight-bold">Dental Hygienist</label>
    <div class="col-sm-9">
        <span>$1050.00 / day scheduled per week</span>
    </div>
</div>
<div class="form-group row">
    <label class="col-sm-3 font-weight-bold">Practice Manager</label>
    <div class="col-sm-9">
        <span>$950.00 / day scheduled per week</span>
    </div>
</div>
<div class="form-group row">
    <label class="col-sm-3 font-weight-bold">EFDA</label>
    <div class="col-sm-9">
        <span>$900.00 / day scheduled per week</span>
    </div>
</div>
<div class="form-group row">
    <label class="col-sm-3 font-weight-bold">Dental Assistant</label>
    <div class="col-sm-9">
        <span>$850.00 / day scheduled per week</span>
    </div>
</div>
<div class="form-group row">
    <label class="col-sm-3 font-weight-bold">Administrative</label>
    <div class="col-sm-9">
        <span>$750.00 / day scheduled per week</span>
    </div>
</div>
<div class="form-group row">
    <label class="col-sm-3 font-weight-bold">Dentist</label>
    <div class="col-sm-9">
        <span>$2,250.00 / day scheduled per week</span>
    </div>
</div>
<p>Permanent Placement Agreement and payment to DFI shall be completed before hire.</p>
<p>Permanent placement fees are paid in full on the temporary hire date or the daily temp rate will accrue.</p>
<p>
    Client, will receive a prorated credit for a future permanent placement if a permanently placed staff’s employment is terminated for any reason within ninety
    (90) days of his or her start date; no refunds will be made to Client of any such amounts.
</p>
<p>
    All placement fees are subject to sales tax, which is payable in full by the Client.
</p>
<p>
    Client assumes all legal responsibility for permanently placed staff upon signing this Addendum.
    Client shall hold DFI harmless from any and all liability, loss, claims or damages associated with any alleged negligence or malpractice committed by permanently placed staff.
</p>
<p>Each of DFI and Client agree to be bound by the terms of this Agreement.</p>
<p>IN WITNESS WHEREOF, the parties hereto have executed this Addendum</p>