﻿<p>Throughout this Agreement, the parties shall be referred to as follows: Dental Office, Dental Practice, or Doctors shall be referred to as ‘Client’.  
    Dental Fillins, LLC. shall be referred to as ‘DFI’.</p>
<p>Please read and fully understand the following before signing:</p>
<ol>
    <li>A representative of DFI shall screen offices prior to assignment whenever possible.  DFI reserves the right to refuse to provide DFI temps to Client at any time for any problem that arises in connection with temporary staff provided to Client, including but not limited to non-standard of care, mistreatment of DFI temporary staff, delinquent accounts.</li>
    <li>Clients shall provide all PPE, practice OSHA universal precautions for infection control, and follow CDC guidelines.</li>
    <li>Client shall report all problems with DFI temporary staff to DFI immediately.   Prompt action will be taken to resolve the situation.</li>
    <li>Client agrees to hold DFI harmless from any and all liability for any loss, claim, liability, or damage occurring during the DFI temporary staff assignment.  Client shall hold DFI harmless for alleged negligence or malpractice of DFI temporary staff.  Client shall provide at its sole cost and expense malpractice coverage for DFI staff while providing services to Client.   Each of Client and DFI agree to be bound by this Agreement.</li>
    <li>DFI is to be paid the appropriate placement fee set forth on the attached fee schedule when the temporary DFI staff has been placed by Client selection.</li>
    <li>In addition to the placement fee to be paid to DFI pursuant to Section 5, DFI temporary staff is to be paid directly by Client at the end of scheduled assignment unless previous arrangements have been made with DFI.  DFI temporary staff rate shall be agreed upon at the confirmation of assignment between DFI and Client.  DFI shall have no obligation to compensate temporary staff in this regard.</li>
    <li>Client and its owners, employees, agents, officers, and directors, agree not to employ, engage or contact directly or indirectly any DFI temporary staff.  A permanent placement fee will be charged to a Client who employs, engages or contracts directly or indirectly with DFI temporary staff.  In such an instance, if the Permanent Placement Addendum is not attached hereto and executed by DFI and Client, the permanent placement fee shall be equal to the applicable rate on the then-existing DFI permanent placement fee schedule, payable to DFI within ten (10) days of such hire.</li>
    <li>Clients shall keep all DFI temporary staff information confidential and not disclose such information to any party.</li>
    <li>Either party may terminate this Agreement for any reason, with or without cause, by providing thirty (30) days written notice to the other, subject to continuing obligations of Section 4, 5, 6, 7, 8 hereof.</li>
    <li>Each of DFI and Client agree to be bound by the terms of this Agreement.</li>
</ol>
<p>IN WITNESS WHEREOF, the parties hereto have executed this Agreement</p>
