﻿<p>Throughout this Agreement, the parties shall be referred to as the following: 
    Dental Fillins, LLC. shall be referred to as ‘DFI’. Temporary staff shall be referred to as ‘I’. Doctors/ dental practices shall be referred to as ‘Client’. 
    Please read and fully understand the following before agreeing.</p>
<p>Please read and fully understand the following before signing:</p>
<ol>
    <li>I agree not to become an employee or independent contractor of any Client or to contract (orally, in writing, or digitally) directly or indirectly with any Client for a period of twelve (12) months from my last DFI temporary assignment.   Contracting or accepting a permanent or temporary position from Client without complying with this Agreement would be considered breach of contract and I would be subject to appropriate legal action (including entitlements to legal and equitable relief) from DFI.</li>

    <li>If I am offered a permanent or temporary position during the term of this Agreement or for twelve (12) months thereafter, I agree to contact DFI before making any arrangements.  I recognize that all Clients are required to process all requests for permanent and temporary placement through DFI and to pay a fee to DFI for such placements.</li>

    <li>I represent that, if required by law, I possess all licenses, certifications, or other registrations necessary to provide services to Clients.</li>

    <li>I agree to accept payments directly from Client as arranged through DFI and Client.  I acknowledge and agree that I am not an employee of DFI and that Client, and not DFI, is solely responsible to compensate me for services rendered to a Client.</li>

    <li>I agree to follow OSHA and HIPAA standards of infection control and privacy if compliance per federal, state, and local laws and regulations, as well as the rules and guidelines of the Client while on DFI assignment.</li>

    <li>I agree to perform my tasks to the best of my abilities and exercise proper judgment in reference to DFI assignment.  I agree to use my best professional standards of quality care.  I agree to immediately report any problems experienced with Clients to DFI.  DFI will take appropriate action to attempt to address any unfavorable situations.</li>

    <li>Once assigned, I agree to contact DFI immediately with any change to my availability.  I must provide DFI with at least forty-eight (48) hours notice for canceling a DFI temporary assignment.</li>

    <li>We may terminate or suspend your account, without notice or liability, for any reason, including without limitation if you breach this agreement.  If you wish to terminate your account, you may discontinue using the service.</li>

    <li>I agree to hold DFI harmless and release it from any and all liability for any harm, loss, liability, claim, or damage that may come to me as a result of a DFI assignment, including but not limited to any injuries or liabilities that arise in connection with travel to and from a DFI assignment.</li>

    <li>Each of DFI and I are to be bound by the terms of this agreement.</li>
</ol>
<p>IN WITNESS WHEREOF, the parties hereto have executed this Agreement</p>
