@using DFI.Helpers
@model DFI.Data.Facilities.FacilityRegistrationDto
@{
    ViewBag.Title = "Please create an account for dental practice";
}

@using (Ajax.BeginForm("CreateFacilityAccount", "Registrator", null, new AjaxOptions()
{
    HttpMethod = "POST",
    InsertionMode = InsertionMode.Replace,
    LoadingElementId = "spinner",
    OnSuccess = "fnSuccess"
}, new { enctype = "multipart/form-data", id = "FacilityRegistrationForm" }))
{
    <script type="text/javascript">
        function fnSuccess(data) {
            console.log(data);
            if (data && typeof data !== 'number') {
                $("#validationMessageId").html(data);
                $("#validationMessageId").show();
            } else {
                $("#validationMessageId").hide();
                $("#successMessage").show()
                setTimeout(function () {
                    $("#successMessage").hide();
                    window.location.href = "@(Url.Action("GetFacilityLocation", "Facilities"))" + "?facilityId=" + data;
                }, 2000)
            }
        }
    </script>
    <h2>Please create an account for dental practice</h2>

    <div class="form-group row">
        <div class="col-sm-3">
            <img src='@Url.Action("GetTempPhoto", "Professionals", new {id = Model.FacilityDto.DocumentDtos.FirstOrDefault(c => c.Type == EDocumentType.Photo.ToString())?.Id})' id="facilityPhoto" class="img-fluid img-thumbnail" alt="Photo" />
        </div>
        <div class="col-sm-9">
            <div class="form-group row">
                @Html.LabelFor(c => c.FacilityDto.Photo, "Upload Photo", new { @class = "col-sm-3" })
                <div class="col-sm-4">
                    <div class="custom-file " id="customFile" lang="es">
                        @Html.TextBoxFor(m => m.FacilityDto.Photo, new
                        {
                            type = "file",
                            data_id = "file",
                            id = "facilityPhotoInput",
                            @class = "custom-file-input",
                            aria_describedby = "fileHelp",
                            accept = "image/x-png,image/gif,image/jpeg"
                        })
                        @Html.LabelFor(c => c.FacilityDto.Photo, "Select file...", new { @class = "custom-file-label" })
                        <span class="field-validation-valid" id="custom-file-validation-message">
                            Invalid file selected, valid files are of .jpg, .png, .gif types.
                        </span>
                    </div>
                </div>
                <div class="col-sm-4">
                    <a href="javascript:void(0)" class="btn" id="deletePhoto" title="Delete photo"><i style="color: red;" class="fa fa-trash"></i></a>
                </div>
            </div>

            @foreach (var doc in Model.FacilityDto.DocumentDtos.Where(c => c.Type == EDocumentType.Photo.ToString()))
            {
                <div class="form-group row">
                    <label class="col-sm-3"><i class="fa fa-download" aria-hidden="true"></i></label>
                    <div class="col-sm-4">
                        <a href="/Professionals/DownloadFile/@doc.Id" title="Download" class="notunderline" data-type="@doc.Type" data-id="@doc.Id" data-group="documents">
                            @doc.Name
                        </a>
                    </div>
                    <div class="col-sm-5">
                    </div>
                </div>
            }

            <div class="form-group row">
                @Html.LabelFor(model => model.FacilityDto.FacilityName, "Office Name", new { @class = "col-sm-3" })
                <div class="col-sm-9">
                    @Html.EditorFor(model => model.FacilityDto.FacilityName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.FacilityDto.FacilityName)
                </div>
            </div>

            <div class="form-group row">
                @Html.LabelFor(model => model.FacilityDto.Email, "Email", new { @class = "col-sm-3" })
                <div class="col-sm-9">
                    @Html.EditorFor(model => model.FacilityDto.Email, new { htmlAttributes = new { @class = "form-control", id = "email" } })
                    @Html.ValidationMessageFor(model => model.FacilityDto.Email)
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-3" for="IsBillingEmailSame">Is billing email same</label>
                <div class="col-sm-9">
                    <input type="checkbox" id="IsBillingEmailSame" />
                </div>
            </div>

            <div class="form-group row">
                @Html.LabelFor(model => model.FacilityDto.BillingEmail, "Billing email", new { @class = "col-sm-3" })
                <div class="col-sm-9">
                    @Html.EditorFor(model => model.FacilityDto.BillingEmail, new { htmlAttributes = new { @class = "form-control", id = "billingEmail" } })
                    @Html.ValidationMessageFor(model => model.FacilityDto.BillingEmail)
                </div>
            </div>

            <div class="form-group row">
                @Html.LabelFor(model => model.FacilityDto.PayType, "Payment Type", new { @class = "col-sm-3" })

                <div class="col-sm-5">
                    @Html.RadioButtonFor(model => model.FacilityDto.PayType, "1099", new { id = "payType1099" })
                    <label class="form-check-label" for="payType1099">1099 (Independent Contractor)</label>
                </div>

                <div class="col-sm-3">
                    @Html.RadioButtonFor(model => model.FacilityDto.PayType, "W4", new { id = "payTypeW4" })
                    <label class="form-check-label" for="payTypeW4">W4 (Employee)</label>
                </div>
                @Html.ValidationMessageFor(model => model.FacilityDto.PayType)
            </div>
        </div>
    </div>

    <div class="form-group row">
        @Html.LabelFor(model => model.Password, "Password", new { @class = "col-sm-3", type = "password" })
        <div class="col-sm-9">
            @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Password)
        </div>
    </div>

    <div class="form-group row">
        @Html.LabelFor(model => model.ConfirmPassword, "Confirm Password", new { @class = "col-sm-3", type = "password" })
        <div class="col-sm-9">
            @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.ConfirmPassword)
        </div>
    </div>

    <div class="form-group row">
        <div class="col-sm-12">
            By submitting the form you opt in to receive email and text message notifications, and confirm your agreement with the
            @Html.ActionLink("Privacy Policy", "PrivacyPolicy", "Home", routeValues: null, htmlAttributes: new { @target = "_blank" })
        </div>
    </div>

    <div class="alert alert-danger" style="display: none" data-id="validationMessage" id="validationMessageId" role="alert"></div>
    <div class="alert alert-success" style="display: none" id="successMessage" role="alert">Your account has been created. Please verity you email to finish signing up.</div>

    <div class="form-group row">
        <div class="col-sm-12">
            <button type="submit" class="btn btn-primary" id="createFacilityAccount">Submit and Create location</button>
            @Html.ActionLink("Cancel", "Index", "Home", new { area = "" }, new { @class = "btn btn-secondary" })
            @Html.Partial("_CloudflareWidget")
        </div>
        <div class="col-sm-9">
            <i id="spinner" class="fa fa-spinner fa-spin" style="font-size: 27px; display: none"></i>
        </div>
    </div>
}

<div class="modal fade" id="permanentPlacementAgreementModal" tabindex="-1" role="dialog" aria-labelledby="permanentPlacementAgreementModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="permanentPlacementAgreementLabel">Permanent Placement Agreement</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                @{Html.RenderPartial("_PermanentPlacementAgreement");}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-success" data-dismiss="modal" data-action="accept_permanent_placement_agreement">Accept</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="dentalFillinsFeesModal" tabindex="-1" role="dialog" aria-labelledby="dentalFillinsFeesModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="dentalFillinsFeesLabel">Dental Fillins Fees</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                @{Html.RenderPartial("_DentalFillinsFeesAgreement");}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-success" data-dismiss="modal" data-action="accept_dental_fillins_fees_agreement">Accept</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="temporaryStaffingAgreementModal" tabindex="-1" role="dialog" aria-labelledby="temporaryStaffingAgreementModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="temporaryStaffingAgreementLabel">Temporary Staffing Agreement</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                @{ Html.RenderPartial("../../Views/Registrator/_TemporaryStaffingAgreementForOffice"); }
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-success" data-dismiss="modal" data-action="accept_temporary_staffing_agreement_for_office">Accept</button>
            </div>
        </div>
    </div>
</div>

<script>
    var selectors = {
        photo: '#facilityPhoto',
        photoInput: '#facilityPhotoInput',
        email: '#email',
        billingEmail: '#billingEmail',
        customFileValidationMessage: '#custom-file-validation-message'
    };
</script>

@Scripts.Render("~/bundles/facilityAccountCreate")
