﻿@using DFI.Helpers
@model DFI.Data.Temps.GetRegistrationFormDto
@{
    ViewBag.Title = "TempRegistration";
}

@Html.AntiForgeryToken()

<h2>Please create an account to receive opportunities for temporary placement</h2>

@using (Html.BeginForm("TempRegistration", "Registrator", FormMethod.Post))
{
    <br />
    <P>
        Licensed Professionals please enter your license number and last name to create your account.
        Temporary Dental Assistants will need to provide your radiology license number. If you do not know it, you can look it up here on the website <a href="https://www.pals.pa.gov/#!/page/search" target="_blank">www.pals.pa.gov.</a>
        <br />Enter one of your licenses the rest will be found automatically.
    </P>
    <p>
        Licenses are acceptable only from <b>@Helper.EBoard.StateBoardOfDentistry.GetDisplayName()</b><br />
        Licenses type:
        <ul>
            <li><b>@Helper.ELicenseType.DentalHygienist.GetDisplayName()</b></li>
            <li><b>@Helper.ELicenseType.Dentist.GetDisplayName()</b></li>
            <li><b>@Helper.ELicenseType.ExpandedFunctionDentalAsst.GetDisplayName()</b></li>
        </ul>
    </p>

    <div class="form-group row">
        <label class="col-sm-3" for="LicenseNumber">License Number</label>
        <div class="col-sm-2">
            @Html.EditorFor(model => model.LicenseNumber, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.LicenseNumber)
        </div>
    </div>

    <div class="form-group row">
        <label class="col-sm-3" for="LastName">Last Name</label>
        <div class="col-sm-2">
            @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.LastName)
        </div>
    </div>

    <p>If you are a dental professional that does not require a license with the state board of dentistry please use links below to create your account.</p>
    <div class="form-group row">
        <label class="col-sm-3" for="IsDentalAssistant">Dental assistant</label>
        <div class="col-sm-9">
            @Html.CheckBoxFor(model => model.IsDentalAssistant, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.IsDentalAssistant)
        </div>
    </div>

    <div class="form-group row">
        <label class="col-sm-3" for="IsReceptionist">Receptionist</label>
        <div class="col-sm-9">
            @Html.CheckBoxFor(model => model.IsReceptionist, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.IsReceptionist)
        </div>
    </div>

    <div class="form-group row">
        <label class="col-sm-3" for="IsOfficeManager">Office manager</label>
        <div class="col-sm-9">
            @Html.CheckBoxFor(model => model.IsOfficeManager, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.IsOfficeManager)
        </div>
    </div>

    <div class="form-group row">
        <div class="col-sm-2">
            <button type="submit" class="btn btn-primary" id="btnGetRegistrationForm">Submit</button><i id="spinner" class="fa fa-spinner fa-spin float-right" style="font-size: 27px; display: none"></i>
            @Html.Partial("_CloudflareWidget")
        </div>    
    </div>

    <div class="alert alert-danger" style="display: none" id="validationMessageGetForm" role="alert">@ViewBag.ValidationMessages</div>
}


@Scripts.Render("~/bundles/tempRegistration")






