@using DFI.Helpers
@model DFI.Data.Temps.TempRegistrationFormDto
@using DFI.Data.Accounts
@Html.AntiForgeryToken()
@using DFI.Data.Temps

<h2>Please create an account to receive opportunities for temporary placement</h2>


@using (Ajax.BeginForm("TempRegistrationForm", "Registrator", null, new AjaxOptions()
{
    HttpMethod = "POST",
    InsertionMode = InsertionMode.Replace,
    LoadingElementId = "spinner",
    OnSuccess = "fnSuccess"
}, new { enctype = "multipart/form-data", id = "TempForm" }))

{
    <script type="text/javascript">
        function fnSuccess(message) {
            console.log(message);
            if (message) {
                $("#validationMessageId").html(message);
                $("#validationMessageId").show();
            } else {
                $("#validationMessageId").hide();
                $("#successMessage").show()
                setTimeout(function () {
                    $("#successMessage").hide();
                    window.location.href = "/"
                }, 2000)
            }
        }
    </script>

    @Html.HiddenFor(c => c.TempDto.Id)
    @Html.HiddenFor(c => c.TempDto.PersonId)

    for (int i = 0; i < Model.TempDto.DocumentDtos.Count; i++)
    {
        @Html.HiddenFor(model => Model.TempDto.DocumentDtos[i].Id)
        @Html.HiddenFor(model => Model.TempDto.DocumentDtos[i].Type)
        @Html.HiddenFor(model => Model.TempDto.DocumentDtos[i].Name)
    }

    <div class="form-group row">
        <div class="col-sm-3">
            <img src='@Url.Action("GetTempPhoto", "Professionals", new {id = Model.TempDto.DocumentDtos.FirstOrDefault(c => c.Type == EDocumentType.Photo.ToString())?.Id})' id="tempPhoto" class="img-fluid img-thumbnail" alt="Photo" />
        </div>
        <div class="col-sm-9">
            <div class="form-group row">
                @Html.LabelFor(c => c.TempDto.Photo, "Upload Photo", new { @class = "col-sm-3" })
                <div class="col-sm-4">
                    <div class="custom-file" id="photoFile" lang="es">
                        @Html.TextBoxFor(m => m.TempDto.Photo, new { type = "file", data_id = "file", @class = "custom-file-input", aria_describedby = "fileHelp" })
                        @Html.LabelFor(c => c.TempDto.Photo, "Select photo...", new { @class = "custom-file-label" })
                    </div>
                </div>
            </div>
            @foreach (var doc in Model.TempDto.DocumentDtos.Where(c => c.Type == EDocumentType.Photo.ToString()))
            {
                <div class="form-group row">
                    <label class="col-sm-3"><i class="fa fa-download" aria-hidden="true"></i></label>
                    <div class="col-sm-4">
                        <a href="/Professionals/DownloadFile/@doc.Id" title="Download" class="notunderline" data-type="@doc.Type" data-id="@doc.Id" data-group="documents">
                            @doc.Name
                        </a>
                    </div>
                    <div class="col-sm-5">
                    </div>
                </div>
            }

            <div class="form-group row">
                @Html.LabelFor(model => model.TempDto.FirstName, "First Name", new { @class = "col-sm-3" })
                <div class="col-sm-9">
                    @Html.EditorFor(model => model.TempDto.FirstName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.TempDto.FirstName)
                </div>
            </div>

            <div class="form-group row">
                @Html.LabelFor(model => model.TempDto.LastName, "Last Name", new { @class = "col-sm-3" })
                <div class="col-sm-9">
                    @Html.EditorFor(model => model.TempDto.LastName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.TempDto.LastName)
                </div>
            </div>

            <div class="form-group row">
                @Html.LabelFor(model => model.TempDto.Email, "Email", new { @class = "col-sm-3" })
                <div class="col-sm-9">
                    @Html.EditorFor(model => model.TempDto.Email, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.TempDto.Email)
                </div>
            </div>
        </div>
    </div>

    <div class="form-group row">
        @Html.LabelFor(model => model.Password, "Password", new { @class = "col-sm-3" })
        <div class="col-sm-9">
            @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Password)
        </div>
    </div>

    <div class="form-group row">
        @Html.LabelFor(model => model.ConfirmPassword, "Confirm Password", new { @class = "col-sm-3" })
        <div class="col-sm-9">
            @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.ConfirmPassword)
        </div>
    </div>

    @Html.HiddenFor(c => c.TempDto.AddressFromGoogle, new { data_id = "addressFromGoogle" })

    <div class="form-group row">
        @Html.LabelFor(model => model.TempDto.Apartment, "Apartment", new { @class = "col-sm-3" })
        <div class="col-sm-9">
            @Html.EditorFor(model => model.TempDto.Apartment, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.TempDto.Apartment)
        </div>
    </div>

    @Html.Partial("_Map");

    <div class="form-group row">
        @Html.LabelFor(model => model.TempDto.CellPhone, "Cell Phone", new { @class = "col-sm-3" })
        <div class="col-sm-9">
            @Html.EditorFor(model => model.TempDto.CellPhone, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.TempDto.CellPhone)
        </div>
    </div>

    <div class="form-group row">
        @Html.LabelFor(model => model.TempDto.HomePhone, "Home Phone", new { @class = "col-sm-3" })
        <div class="col-sm-9">
            @Html.EditorFor(model => model.TempDto.HomePhone, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.TempDto.HomePhone)
        </div>
    </div>

    <div class="form-group row">
        @Html.LabelFor(model => model.TempDto.DistanceToWork, "How far are you willing to travel? (miles)", new { @class = "col-sm-3" })
        <div class="col-sm-9">
            @Html.EditorFor(model => model.TempDto.DistanceToWork, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.TempDto.DistanceToWork)
        </div>
    </div>

    <div class="form-group row">
        @Html.LabelFor(model => model.TempDto.WhoReferenced, "Who can we thank for referring you?", new { @class = "col-sm-3" })
        <div class="col-sm-9">
            @Html.EditorFor(model => model.TempDto.WhoReferenced, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.TempDto.WhoReferenced)
        </div>
    </div>

    <div id="licensesSection">
        @for (int i = 0; i < Model.TempDto.LicenseDtos.Count; i++)
        {
            <div class="card form-group" data-id=@("licenseNumber" + i)>
                @Html.HiddenFor(c => c.TempDto.LicenseDtos[i].LicenseType)
                @if (Model.TempDto.LicenseDtos[i].LicenseType != ENoLicensePosition.DentalAssistant.GetDisplayName())
                {
                    @Html.HiddenFor(c => c.TempDto.LicenseDtos[i].LicenseNumber)
                }
                @Html.HiddenFor(c => c.TempDto.LicenseDtos[i].ExpiryDate)
                @Html.HiddenFor(c => c.TempDto.LicenseDtos[i].BoardName)
                @Html.HiddenFor(c => c.TempDto.LicenseDtos[i].Status)
                @Html.HiddenFor(c => c.TempDto.LicenseDtos[i].Profession)
                @Html.HiddenFor(c => c.TempDto.LicenseDtos[i].IsDeleted, new { @data_name = "IsDeletedLicense" })
                <div class="card-header" id=@("headingOne" + i)>
                    <h5 class="mb-0">
                        <button class="btn btn-link" data-toggle="collapse" data-target=@("#collapseOne" + i) aria-expanded="true" aria-controls=@("collapseOne" + i)>
                            @Model.TempDto.LicenseDtos[i].LicenseType @Model.TempDto.LicenseDtos[i].LicenseNumber <br />
                            @if (Model.TempDto.LicenseDtos[i].ExpiryDate != null)
                            {
                                <span style="color: red">EXP: @(Model.TempDto.LicenseDtos[i].ExpiryDate?.ToString("M/d/yyyy"))</span>
                            }
                        </button>
                        @if (Model.TempDto.LicenseDtos.Count > 1)
                        {
                            <span class="fa fa-trash pull-right" style="color: red; cursor: pointer" title="Delete license" data-action="deleteLicense"
                                  data-licensename="@Model.TempDto.LicenseDtos[i].LicenseType" data-id=@("licenseNumber" + i)
                                  data-toggle="modal" data-target="#deleteLicenseModal"></span>
                        }
                    </h5>
                </div>

                <div id=@("collapseOne" + i) class="collapse" aria-labelledby=@("headingOne" + i) data-parent="#licensesSection">
                    <div class="card-body">
                        @if (Model.TempDto.LicenseDtos[i].LicenseType == ENoLicensePosition.DentalAssistant.GetDisplayName())
                        {
                            <div class="form-group row">
                                @Html.LabelFor(model => model.TempDto.LicenseDtos[i].LicenseNumber, "License number", new { @class = "col-sm-3" })
                                <div class="col-sm-9">
                                    @Html.EditorFor(model => model.TempDto.LicenseDtos[i].LicenseNumber, new { htmlAttributes = new { @class = "form-control", data_name = "license_number" } })
                                    @Html.ValidationMessageFor(model => model.TempDto.LicenseDtos[i].LicenseNumber)
                                </div>
                            </div>
                        }

                        <div class="form-group row">
                            @Html.LabelFor(model => model.TempDto.LicenseDtos[i].DesiredHourlyRate, "Desired hourly rate", new { @class = "col-sm-3" })
                            <div class="col-sm-9">
                                @Html.EditorFor(model => model.TempDto.LicenseDtos[i].DesiredHourlyRate, new { htmlAttributes = new { @class = "form-control", data_name = "desired_hourly_rate" } })
                                @Html.ValidationMessageFor(model => model.TempDto.LicenseDtos[i].DesiredHourlyRate)
                            </div>
                        </div>

                        <div class="form-group row">
                            @Html.LabelFor(model => model.TempDto.LicenseDtos[i].YearsInPractice, "Years in practice", new { @class = "col-sm-3" })
                            <div class="col-sm-9">
                                @Html.EditorFor(model => model.TempDto.LicenseDtos[i].YearsInPractice, new { htmlAttributes = new { @class = "form-control", data_name = "years_in_practice" } })
                                @Html.ValidationMessageFor(model => model.TempDto.LicenseDtos[i].YearsInPractice)
                            </div>
                        </div>

                        <div class="form-group row">
                            @Html.LabelFor(model => model.TempDto.LicenseDtos[i].UniqueQualities, "What unique qualities do you have to offer in your field?", new { @class = "col-sm-3" })
                            <div class="col-sm-9">
                                @Html.EditorFor(model => model.TempDto.LicenseDtos[i].UniqueQualities, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.TempDto.LicenseDtos[i].UniqueQualities)
                            </div>
                        </div>

                        <div class="form-group row">
                            @Html.LabelFor(model => model.TempDto.LicenseDtos[i].CurrentEmployer, "Current employer", new { @class = "col-sm-3" })
                            <div class="col-sm-9">
                                @Html.EditorFor(model => model.TempDto.LicenseDtos[i].CurrentEmployer, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.TempDto.LicenseDtos[i].CurrentEmployer)
                            </div>
                        </div>

                        <div class="form-group row">
                            @Html.LabelFor(model => model.TempDto.LicenseDtos[i].CurrentEmployerPhoneNumber, "Current employer phone number", new { @class = "col-sm-3" })
                            <div class="col-sm-9">
                                @Html.EditorFor(model => model.TempDto.LicenseDtos[i].CurrentEmployerPhoneNumber, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.TempDto.LicenseDtos[i].CurrentEmployerPhoneNumber)
                            </div>
                        </div>

                        <div class="form-group row">
                            @Html.LabelFor(model => model.TempDto.LicenseDtos[i].CurrentEmployerEmail, "Current employer email", new { @class = "col-sm-3" })
                            <div class="col-sm-9">
                                @Html.EditorFor(model => model.TempDto.LicenseDtos[i].CurrentEmployerEmail, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.TempDto.LicenseDtos[i].CurrentEmployerEmail)
                            </div>
                        </div>

                        @if (Model.TempDto.LicenseDtos[i].LicenseType == ENoLicensePosition.DentalAssistant.GetDisplayName())
                        {
                            <div class="form-group row">
                                @Html.LabelFor(c => c.TempDto.RadiologyLicense, "Upload Radiology License", new { @class = "col-sm-3" })
                                <div class="col-sm-4">
                                    <div class="custom-file" id="radiologyLicenseFile" lang="es">
                                        @Html.TextBoxFor(m => m.TempDto.RadiologyLicense, new { type = "file", data_id = "file", id = "TempDto_RadiologyLicense", @class = "custom-file-input", aria_describedby = "fileHelp" })
                                        @Html.LabelFor(c => c.TempDto.RadiologyLicense, "Select file...", new { @class = "custom-file-label" })
                                    </div>
                                </div>
                            </div>

                            foreach (var doc in Model.TempDto.DocumentDtos.Where(c => c.Type == EDocumentType.RadiologyLicense.ToString()))
                            {
                                <div class="form-group row">
                                    <label class="col-sm-3"><i class="fa fa-download" aria-hidden="true"></i></label>
                                    <div class="col-sm-4">
                                        <a href="/Professionals/DownloadFile/@doc.Id" title="Download" class="notunderline" data-type="@doc.Type" data-id="@doc.Id" data-group="documents">
                                            @doc.Name
                                        </a>
                                    </div>
                                    <div class="col-sm-5">
                                    </div>
                                </div>
                            };
                        }
                    </div>
                </div>
            </div>
        }
    </div>

    <div class="form-group row">
        @Html.LabelFor(c => c.TempDto.IsReadyToPermanentWork, "Are interested in being on our contact list for permanent placement opportunities?", new { @class = "col-sm-3" })
        <div class="col-sm-9">
            @Html.CheckBoxFor(model => model.TempDto.IsReadyToPermanentWork, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.TempDto.IsReadyToPermanentWork)
        </div>
    </div>

    <div class="form-group row">
        @Html.LabelFor(c => c.TempDto.IsGetSMSForNewRequest, "Receive notifications via text message for new requests?", new { @class = "col-sm-3" })
        <div class="col-sm-9">
            @Html.CheckBoxFor(model => model.TempDto.IsGetSMSForNewRequest, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.TempDto.IsGetSMSForNewRequest)
        </div>
    </div>

    <div class="form-group row">
        @Html.LabelFor(c => c.TempDto.TempAvailableDaysDto, "What days of the week are you available to work?", new { @class = "col-sm-3" })
        <div class="col-sm-9">
            <div class="form-group row">
                @for (int i = 0; i < 7; i++)
                {
                    <label class="col-sm-1">
                        @Html.CheckBoxFor(model => model.TempDto.TempAvailableDaysDto[i].IsSelected, new { @class = "day-checkbox" })
                        @Enum.GetName(typeof(DayOfWeek), i).Substring(0, 2)
                        @Html.HiddenFor(model => model.TempDto.TempAvailableDaysDto[i].DayOfWeekAvailable, new { @Value = i })
                    </label>           
                }
            </div>
            @Html.ValidationMessageFor(model => model.TempDto.TempAvailableDaysDto)
        </div>
    </div>

    if (this.User.IsInRole(Role.Admin))
    {
        <div class="form-group row">
            @Html.LabelFor(model => model.TempDto.AdministratorsNotes, "Administrators notes", new { @class = "col-sm-3" })
            <div class="col-sm-9">
                @Html.TextAreaFor(model => model.TempDto.AdministratorsNotes, new { @class = "form-control", rows = 5 })
                @Html.ValidationMessageFor(model => model.TempDto.AdministratorsNotes)
            </div>
        </div>
    }

    foreach (var doc in Model.TempDto.DocumentDtos.Where(c => c.Type != EDocumentType.Photo.ToString() && c.Type != EDocumentType.RadiologyLicense.ToString()))
    {
        <div class="form-group row">
            <label class="col-sm-3"><i class="fa fa-download" aria-hidden="true"></i></label>
            <div class="col-sm-4">
                <a href="/Professionals/DownloadFile/@doc.Id" title="Download" class="notunderline" data-type="@doc.Type" data-id="@doc.Id" data-group="documents">
                    @doc.Name
                </a>
            </div>
            <div class="col-sm-5">
            </div>
        </div>
    };

    <div class="form-group row">
        @Html.LabelFor(c => c.TempDto.Certificate, "Upload Act 31 certificate", new { @class = "col-sm-3" })
        <div class="col-sm-4">
            <div class="custom-file" id="certificateFile" lang="es">
                @Html.TextBoxFor(m => m.TempDto.Certificate, new { type = "file", data_id = "file", id = "TempDto_Certificate", @class = "custom-file-input", aria_describedby = "fileHelp" })
                @Html.LabelFor(c => c.TempDto.Certificate, "Select certificate...", new { @class = "custom-file-label" })
            </div>
        </div>
    </div>

    <div class="form-group row">
        @Html.LabelFor(c => c.TempDto.Resume, "Upload Resume", new { @class = "col-sm-3" })
        <div class="col-sm-4">
            <div class="custom-file" id="resumeFile" lang="es">
                @Html.TextBoxFor(m => m.TempDto.Resume, new { type = "file", data_id = "file", id = "TempDto_Resume", @class = "custom-file-input", aria_describedby = "fileHelp" })
                @Html.LabelFor(c => c.TempDto.Resume, "Select resume...", new { @class = "custom-file-label" })
            </div>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-sm-12">
            By submitting the form you opt in to receive email and text message notifications, and confirm your agreement with the
            @Html.ActionLink("Privacy Policy", "PrivacyPolicy", "Home", routeValues: null, htmlAttributes: new { @target = "_blank" })
        </div>
    </div>
    <div class="alert alert-danger" style="display: none" data-id="validationMessage" id="validationMessageId" role="alert"></div>
    <div class="alert alert-success" style="display: none" id="successMessage" role="alert">Your account has been created. Please verity you email to finish signing up.</div>

    <div class="form-group row">
        <div class="col-sm-3">
            <button type="submit" class="btn btn-primary" id="createAccount">Create Account</button>
            @Html.ActionLink("Cancel", "Index", "Home", new { area = "" }, new { @class = "btn btn-secondary", id = "cancelBtn" })
        </div>
        <div class="col-sm-9">
            <i id="spinner" class="fa fa-spinner fa-spin" style="font-size: 27px; display: none"></i>
        </div>
    </div>
}

<div class="modal fade" id="tempAgreementModal" tabindex="-1" role="dialog" aria-labelledby="tempAgreementModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="tempAgreementLabel">Temporary Staffing Agreement</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                @{Html.RenderPartial("_TemporaryStaffingAgreement");}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-success" data-dismiss="modal" data-action="temp_accept_agreement">Accept and create</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="deleteLicenseModal" tabindex="-1" role="dialog" aria-labelledby="deleteLicenseModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteLicenseModalLabel">Delete License</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Are you sure?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                <button type="button" id="deleteLicense" class="btn btn-primary" data-dismiss="modal">Yes</button>
            </div>
        </div>
    </div>
</div>

@Scripts.Render("~/bundles/tempAccountCreate")
@Scripts.Render("~/bundles/tempAvailableDays")
