﻿@model DFI.Data.Accounts.ForgotPasswordViewModel
@{
    ViewBag.Title = "Change password";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <p>Please enter your email address. You will receive an email message with instructions on how to reset your password.</p>
    <hr />
    <div class="form-group">
        @Html.LabelFor(m => m.Email, new { @class = "col-md-1" })
        <div class="col-md-6">
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Email)
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-2">
            <input type="submit" class="btn btn-primary" value="Submit" />
            @Html.ActionLink("Cancel", "Login", "Account", null, new {@class = "btn btn-default"})
        </div>
    </div>
}
