﻿@model DFI.Data.Accounts.Login

@{
    ViewBag.Title = "Login";
}
<style>
    h2 {
        margin-bottom: 40px;
    }
</style>
<h2>Login</h2>

@using (Html.BeginForm())
{
@Html.AntiForgeryToken()

<div class="form-horizontal">
    <input type="hidden" name="returnUrl" value="@ViewBag.returnUrl" />
    <p>
        <div class="form-group">
            <label class="col-md-1" for="Login">Login</label>
            <div class="col-md-6" id="Login">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name)
            </div>
        </div>
    </p>
    <p>
        <div class="form-group">
            <label class="col-md-1" for="Password">Password</label>
            <div class="col-md-6" id="Password">
                @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Password)
            </div>
        </div>
    </p>
    <p>
        <div class="form-group">
            <label class="col-md-1"></label>
            <div class="col-md-6">
                @Html.ValidationMessage("NamePassword")
            </div>
        </div>
    </p>

    <p><button type="submit" class="btn btn-primary">Submit</button></p>
    @Html.Partial("_CloudflareWidget")
</div>
<div>
    <p>@Html.ActionLink("Forgot password?", "ForgotPassword")</p>
</div>
}

