﻿@{
    ViewBag.Title = "Your password has been changed successfully";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
        @Html.ActionLink("Enter to account", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>