header.masthead {
    position: relative;
    background-color: #343a40;
    background: url("/Content/Images/HomePage/wallpaper1.png") no-repeat center center;
    background-size: contain;
    padding-top: 8rem;
    padding-bottom: 8rem;
}

header.masthead .overlay {
    position: absolute;
    background-color: #212529;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0.3;
}

header.masthead h1 {
    font-size: 2rem;
}

@media (min-width: 768px) {
    header.masthead {
        padding-top: 28rem;
        padding-bottom: 12rem;
    }
    header.masthead h1 {
        font-size: 3rem;
    }
}

.showcase .showcase-text {
    padding: 3rem;
}

.showcase .showcase-img {
    min-height: 30rem;
    background-size: cover;
    background-position: center left;
}

@media (min-width: 768px) {
    .showcase .showcase-text {
        padding: 7rem;
    }
}

.features-icons {
    padding-top: 4rem;
    padding-bottom: 7rem;
}

.features-icons .features-icons-item {
    max-width: 20rem;
}

.features-icons .features-icons-item .features-icons-icon {
    height: 7rem;
}

.features-icons .features-icons-item .features-icons-icon i {
    font-size: 4.5rem;
}

.features-icons .features-icons-item:hover .features-icons-icon i {
    font-size: 5rem;
}

.testimonials {
    padding-top: 7rem;
    padding-bottom: 7rem;
}

.testimonials .testimonial-item {
    max-width: 18rem;
}

.testimonials .testimonial-item img {
    max-width: 12rem;
    -webkit-box-shadow: 0px 5px 5px 0px #adb5bd;
    box-shadow: 0px 5px 5px 0px #adb5bd;
}

.call-to-action {
    position: relative;
    background-color: #343a40;
    background: url("/Content/Images/HomePage/AdobeStock.jpeg") no-repeat center center;
    background-size: cover;
    padding-top: 7rem;
    padding-bottom: 7rem;
}

.call-to-action .overlay {
    position: absolute;
    background-color: #212529;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0.3;
}

.body-content {
    margin: 0;
    padding: 0;
    max-width: 100%;
}

.video-wrapper__video {
    position: inherit;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.video-wrapper {
    width: 100%;
    position: relative;
    background-color: #f8f9fa !important;
}

.logoHomePage{
    position: absolute;
    z-index: 6;
    width: 100%;
}

.offset-top-3{
    margin-top: 3em;
}

@media (max-width: 667px) {
    .showcase .showcase-img {
        min-height: 24rem;
    }
}

.contact-testimonial-item {
    max-width: 7rem;
}

.contact-background-color {
    background-color: #efefef
}


@font-face {
    font-family: 'Babe-Sans';
    src: url('../../fonts/BabeSans/BabeSansRegular.woff2') format('woff2'), 
         url('../../fonts/BabeSans/BabeSansRegular.woff') format('woff'), 
         url('../../fonts/BabeSans/BabeSansRegular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.font-babe-sans {
    font-family: 'Babe-Sans', sans-serif;
    color: #2b5f73;
    font-size: 4em;
    line-height: 1em;
}

.font-beige-color {
    margin-top: 33px;
    color: #977c4f;
    margin-bottom: 15px;
    font-weight: 500;
}

.btn-beige {
    color: #fff;
    background-color: #977c4f;
    border-color: #847357;
    padding: 15px 20px;
    border-radius: 12px;
}

.carousel-caption {
    padding: 20px;
    border-radius: 10px;
    position: initial !important;
    color: black;
}

.carousel-inner {
    text-align: center;
}

.carousel-item {
    padding: 30px 0;
}
.carousel-indicators li{
    background-color: black !important;
}

.neutral-background-color {
    background-color: #d6e5e4
}

.neutral-2-background-color {
    background-color: #daeaea
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3e%3cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3e%3c/svg%3e");
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3e%3cpath d='M5.25 0l1.5 1.5-2.5 2.5 2.5 2.5-1.5 1.5-4-4 4-4z'/%3e%3c/svg%3e");
}

.testimonials-review {
    padding-top: 2rem;
    padding-bottom: 2rem;
}


.info-section {
    background-color: #ffffff;
    padding: 20px;
    border-top-left-radius: 70px; /* Top-left border-radius */
    border-bottom-left-radius: 70px; /* Bottom-left border-radius */
    margin-left: 0;
    margin-right: 0;
    display: flex;
    align-items: center;
}

.info-icon {
    margin-right: 15px; /* Space between icon and text */
}

.info-text {
    font-size: 1rem;
    color: #3a4b56; /* Greyish-blue color */
}

.checklist {
    list-style-type: none; /* Remove default list styling */
    padding-left: 0; /* Remove left padding */
}

.checklist-item {
    display: flex; /* Align image and text horizontally */
    align-items: center; /* Vertically center-align the content */
    margin-bottom: 15px; /* Space between items */
}

.checklist-item img {
    width: 30px; /* Adjust size of the image */
    height: 30px; /* Keep the image square */
    margin-right: 10px; /* Space between image and text */
}

.under-photo {
    margin-top: 0px;
    border-top-width: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: white;
}

.img-max-height-350 {
    max-height: 350px;
    object-fit: cover; /* Ensure the image covers the area without stretching */
    border-radius: 15px;
}

.testimonial-item {
    text-align: center; /* Center align text and images */
}

.container-custom {
    display: flex;
    justify-content: center; /* Center the items horizontally */
    align-items: center; /* Center the items vertically */
}

.row-center {
    display: flex;
    align-items: center;
}

@media (min-width: 992px) {
    .abs {
        position: absolute;
    }
}
@media (min-width: 992px) {
    .pb-12rem {
        padding-bottom: 12rem !important;
    }
}

.showcase-img-height {
    height: 100vh; /* Viewport height on larger screens */
}

@media (max-width: 768px) {
    .showcase-img-height {
        height: 50vh; /* Smaller height on smaller screens */
    }
}

@media (min-width: 1536px) {
    .showcase-img-height {
        height: 100vh;
    }
}

@media (min-width: 1920px) {
    .showcase-img-height {
        height: 80vh;
    }
}

@media (max-width: 768px) {
    .showcase-img-height-p4 {
        height: 63vh; /* Smaller height on smaller screens */
    }
}

@media (min-width: 1536px) {
    .showcase-img-height-p4 {
        height: 122vh;
    }
}

@media (min-width: 1920px) {
    .showcase-img-height-p4 {
        height: 103vh;
    }
}


@media (max-width: 768px) {
    .showcase-img-height-reviews {
        height: 43vh; /* Smaller height on smaller screens */
    }
}

@media (min-width: 1536px) {
    .showcase-img-height-reviews {
        height: 92vh;
    }
}

@media (min-width: 1920px) {
    .showcase-img-height-reviews {
        height: 78vh;
    }
}

