﻿@model DFI.Data.Emails.EmailChangeDto

<div class="modal fade" id="changeEmailModal" tabindex="-1" role="dialog" aria-labelledby="changeEmailModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="changeEmailModalLabel">Change Email</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="formChangeEmailModal">
                    @Html.HiddenFor(c => c.Email, new { id = "EmailChange_Email" })
                    <p>
                        Please enter a new email. Until you do not confirm a new email we will send all messages to the current email.<br />
                        After hit submit we will send email confirmation to the email which you entered.
                    </p>
                    <div class="col-sm-12 mb-2">
                        @Html.EditorFor(model => model.NewEmail, new { htmlAttributes = new { @class = "form-control", id = "EmailChange_NewEmail" } })
                        @Html.ValidationMessageFor(model => model.NewEmail)
                    </div>
                    <div class="col-sm-12">
                        <div class="alert alert-danger" style="display: none" id="changeEmailValidationMessage" role="alert"></div>
                        <div class="alert alert-success" style="display: none" id="changeEmailSuccessMessage" role="alert">Sent successfully</div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button type="button" id="submitNewEmail" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </div>
</div>

@Scripts.Render("~/bundles/change_email")
