<script src="https://challenges.cloudflare.com/turnstile/v0/api.js?onload=onloadTurnstileCallback" defer></script>

<script type="text/javascript">
    window.onloadTurnstileCallback = function () {
        turnstile.render("#cloudflare-widget", {
            sitekey: "0x4AAAAAAAzTCXX5HlBFF4D-",
            callback: function (token) {
                console.log(`Challenge Success ${token}`);
            },
        });
    };
</script>
<div class="mt-4">
    <label style="color: rgb(89, 89, 89); margin-bottom: 8px; display: block; font-size: 0.875rem; min-height: 1.22em;">
        <span>Let us know you're human</span>
    </label>
</div>
<div id="cloudflare-widget" class="mt-2"></div>