﻿<link rel="apple-touch-icon" sizes="57x57" href="@Url.Content("~/Content/Images/New-Favicon/apple-touch-icon-57x57.png?v=1.0")">
<link rel="apple-touch-icon" sizes="60x60" href="@Url.Content("~/Content/Images/New-Favicon/apple-touch-icon-60x60.png?v=1.0")">
<link rel="apple-touch-icon" sizes="72x72" href="@Url.Content("~/Content/Images/New-Favicon/apple-touch-icon-72x72.png?v=1.0")">
<link rel="apple-touch-icon" sizes="76x76" href="@Url.Content("~/Content/Images/New-Favicon/apple-touch-icon-76x76.png?v=1.0")">
<link rel="apple-touch-icon" sizes="114x114" href="@Url.Content("~/Content/Images/New-Favicon/apple-touch-icon-114x114.png?v=1.0")">
<link rel="apple-touch-icon" sizes="144x144" href="@Url.Content("~/Content/Images/New-Favicon/apple-touch-icon-144x144.png?v=1.0")">
<link rel="apple-touch-icon" sizes="152x152" href="@Url.Content("~/Content/Images/New-Favicon/apple-touch-icon-152x152.png?v=1.0")">
<link rel="apple-touch-icon" sizes="180x180" href="@Url.Content("~/Content/Images/New-Favicon/apple-touch-icon-180x180.png?v=1.0")">
<link rel="apple-touch-icon" sizes="512x512" href="@Url.Content("~/Content/Images/New-Favicon/apple-touch-icon-512x512.png?v=1.0")">
<link rel="icon" type="image/png" sizes="192x192" href="@Url.Content("~/Content/Images/New-Favicon/android-chrome-192x192.png?v=1.0")">
<link rel="icon" type="image/png" sizes="32x32" href="@Url.Content("~/Content/Images/New-Favicon/favicon-32x32.png?v=1.0")">
<link rel="icon" type="image/png" sizes="16x16" href="@Url.Content("~/Content/Images/New-Favicon/favicon-16x16.png?v=1.0")">

<link rel="manifest" href="@Url.Content("~/Content/Images/New-Favicon/manifest.json")">

<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="@Url.Content("~/Content/Images/New-Favicon/mstile-144x144.png?v=1.0")">
<meta name="theme-color" content="#ffffff">

<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
<meta name="apple-mobile-web-app-title" content="App">