@using DFI.Data.Accounts
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - DFI Inc</title>

    @Html.Partial("_Favicons")

    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">
    <meta name="description" content="@ViewBag.Description">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/layoutJS")
    @RenderSection("styles", required: false)
    @Styles.Render("~/Content/css/nav-bar")
    @Styles.Render("~/Content/css/footer")
    <script async src=@($"https://www.googletagmanager.com/gtag/js?id={Setting.GoogleAnalyticId}")></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', '@Setting.GoogleAnalyticId');
    </script>
</head>
<body>
    <nav class="navbar  navbar-expand-xl custom-fixed-top">
        <div class="overlay overlay-custom">
            <div class="overlay-content">
                <div class="left-content left-content-custom">
                    <p>Welcome to Dental Fillins Staffing Agency</p>
                </div>
                <div class="center-content center-content-custom">   
                    <p><img src="../../content/images/time.png" alt="Clock Logo" style="margin-right: 10px; width: 25px;"> Mon-Fri: 9am to 9pm / Sat-Sun: Closed</p>
                </div>
                <div class="right-content right-content-custom">
                    <a href="https://www.instagram.com/dentalfillins/?hl=en" target="_blank"><img src="../../content/images/instagram.png" alt="Instagram Logo"></a>
                    <a href="https://www.facebook.com/Dental-Fillins-256618831068185/" target="_blank"><img src="../../content/images/facebook.png" alt="Facebook Logo"></a>
                </div>
            </div>
        </div>
        <a class="custom-navbar-brand" href="../../Home/Index">
            <img class="logo" src="../../content/images/logo.png" alt="DFI Logo">
        </a>
        <button class="navbar-toggler custom-navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent" style="margin-top: 40px;">
            <ul class="navbar-nav mr-auto custom-navbar-nav">
                <li class="nav-item">
                    <a href="@Url.Action("Index", "Home")" class="custom-nav-link">Home</a>
                </li>
                <li class="nav-item">
                    <a href="@Url.Action("About", "Home")" class="custom-nav-link">About</a>
                </li>
                <li class="nav-item">
                    <a href="@Url.Action("Reviews", "Home")" class="custom-nav-link">Reviews</a>
                </li>
                <li class="nav-item">
                    <a href="@Url.Action("Contact", "Home")" class="custom-nav-link">Contact</a>
                </li>
                <li class="nav-item nav-item">
                    <a href="@Url.Action("Index", "Faq")" class="custom-nav-link">FAQ</a>
                </li>
                <li class="nav-item">
                    @if (this.User.Identity.IsAuthenticated)
                    {
                        <a href="@Url.Action("Logout", "Account")" class="custom-nav-link">Log out</a>
                    }
                    else
                    {
                        <a href="@Url.Action("Login", "Account")" class="custom-nav-link">Log in</a>
                    }
                </li>
            </ul>
            <ul class="navbar-right navbar-nav mr">
                @if (this.User.IsInRole(Role.Admin))
                {
                    <li class="nav-item dropdown">
                        <a class="custom-nav-link top-dropdown-toggle" href="#" id="smallerscreenmenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Admin Menu
                        </a>
                        <div class="dropdown-menu dropdown-menu-scrollable top-dropdown-menu" aria-labelledby="smallerscreenmenu">
                            <a class="dropdown-item top-dropdown-item" href="../../Registrator/TempRegistration">Registration professional</a>
                            <a class="dropdown-item top-dropdown-item" href="../../Registrator/FacilityRegistration">Registration practice</a>
                            <a class="dropdown-item top-dropdown-item" href="../../Professionals">Professionals</a>
                            <a class="dropdown-item top-dropdown-item" href="../../Facilities">Practices</a>
                            <a class="dropdown-item top-dropdown-item" href="../../Requests">Requests</a>
                            <a class="dropdown-item top-dropdown-item" href="../../Requests/Create">Create request</a>
                            <a class="dropdown-item top-dropdown-item" href="../../Requests/Calendar?eCalendarEvent=RecentAndFuture">Calendar</a>
                            <a class="dropdown-item top-dropdown-item" href="../../Charts">Charts</a>
                            <a class="dropdown-item top-dropdown-item" href="../../Home/Videos">Videos</a>
                            <a class="dropdown-item top-dropdown-item" href="../../Hangfire">Jobs</a>
                        </div>
                    </li>
                }
                @if (this.User.Identity.IsAuthenticated == false)
                {
                    <li class="text-muted align-items-center menu-collapsed">
                        <small class='small-logout'>READY TO SIGN UP?</small>
                    </li>
                    <a href="../../Registrator/FacilityRegistration" class="nav-group-item nav-group-item-action">
                        <div class="d-flex w-100 justify-content-start align-items-center">
                            <span class="menu-collapsed">For Dental Offices</span>
                        </div>
                    </a>
                    <a href="../../Registrator/TempRegistration" class="nav-group-item nav-group-item-action">
                        <div class="d-flex w-100 justify-content-start align-items-center">
                            <span class="menu-collapsed">For Professionals</span>
                        </div>
                    </a>
                }
                @if (this.User.IsInRole(Role.Facility) || this.User.IsInRole(Role.Temp))
                {
                    <li class="text-muted d-flex align-items-center menu-collapsed">
                        <small class='navbar-small'>MY ACCOUNT</small>
                    </li>
                    if (this.User.IsInRole(Role.Facility))
                    {
                        <a href="../../Facilities/MyProfile" class="nav-group-item nav-group-item-action">
                            <div class="d-flex w-100 justify-content-start align-items-center">
                                <span class="menu-collapsed">Practice</span>
                            </div>
                        </a>
                    }
                    else if (this.User.IsInRole(Role.Temp))
                    {
                        <a href="../../Professionals/MyProfile" class="nav-group-item nav-group-item-action">
                            <div class="d-flex w-100 justify-content-start align-items-center">
                                <span class="menu-collapsed">Professional</span>
                            </div>
                        </a>
                    }
                }
                @if (this.User.IsInRole(Role.Facility) || this.User.IsInRole(Role.Temp))
                {
                    <a href="../../Requests" class="nav-group-item nav-group-item-action">
                        <div class="d-flex w-100 justify-content-start align-items-center">
                            <span class="menu-collapsed">Requests</span>
                            <span class="submenu-icon ml-auto"></span>
                        </div>
                    </a>
                    if (this.User.IsInRole(Role.Facility))
                    {
                        <a href="../../Requests/Create" class="nav-group-item nav-group-item-action">
                            <div class="d-flex w-100 justify-content-start align-items-center">
                                <span class="menu-collapsed">Create</span>
                                <span class="submenu-icon ml-auto"></span>
                            </div>
                        </a>
                    }
                    if (this.User.IsInRole(Role.Temp))
                    {
                        <a href="../../Requests/Calendar?eCalendarEvent=History" class="nav-group-item nav-group-item-action">
                            <div class="d-flex w-100 justify-content-start align-items-center">
                                <span class="menu-collapsed">Calendar</span>
                            </div>
                        </a>
                    }
                    else
                    {
                        <a href="../../Requests/Calendar?eCalendarEvent=RecentAndFuture" class="nav-group-item nav-group-item-action">
                            <div class="d-flex w-100 justify-content-start align-items-center">
                                <span class="menu-collapsed">Calendar</span>
                            </div>
                        </a>
                    }
                }
            </ul>
        </div>
    </nav>
    <div class="col" style="padding-left: 0px; padding-right: 0px;">
        @Html.Partial("_ToastPopups")
        <div class="container body-content">
            @RenderBody()
        </div>
        <footer>
            <div class="container-fluid footer-container">
                <div class="row justify-content-around">
                    <div class="col-md-2 mb-4 mb-md-0">
                        <img src="../../content/images/LogoFull.png" alt="Logo" class="footer-logo">
                        <div class="d-flex align-items-center ml-4 mt-4">
                            <h6 class="mr-3">Follow Us</h6>
                            <div class="social-links">
                                <a href="https://www.instagram.com/dentalfillins/?hl=en">
                                    <i class="fa fa-instagram fa-2x fa-fw"></i>
                                </a>
                                <a href="https://mobile.twitter.com/DentalFillins">
                                    <i class="fa fa-twitter fa-2x fa-fw"></i>
                                </a>
                                <a href="https://www.facebook.com/Dental-Fillins-256618831068185/">
                                    <i class="fa fa-facebook fa-2x fa-fw"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 mb-4 mb-md-0">
                        <h4>Contact Us</h4>
                        <div class="contact-info">
                            <div class="contact-item">
                                <img src="../../content/images/phone.png" alt="Call Us">
                                <div class="contact-details">
                                    <span>Call Us</span>
                                    <p>(484) 602-5656</p>
                                </div>
                            </div>
                            <div class="contact-item">
                                <img src="../../content/images/email.png" alt="Email">
                                <div class="contact-details">
                                    <span>Email</span>
                                    <p>info@dfitemps.com</p>
                                </div>
                            </div>
                            <div class="contact-item">
                                <img src="../../content/images/location.png" alt="Address">
                                <div class="contact-details">
                                    <span>Address</span>
                                    <p>302 Baywood Road</p>
                                    <p>West Chester, PA 19382</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 mb-4 mb-md-0">
                        <h4>Get Started Now</h4>
                        <ul class="footer-links">
                            <li><a href="../../Registrator/FacilityRegistration">For Dental Practices</a></li>
                            <li><a href="../../Registrator/TempRegistration">For Professionals</a></li>
                        </ul>
                        <h4 class="mt-2">Useful Links</h4>
                        <ul class="footer-links">
                            <li><a href="@Url.Action("Index", "Home")">Home</a></li>
                            <li><a href="@Url.Action("About", "Home")">About</a></li>
                            <li><a href="@Url.Action("Reviews", "Home")">Reviews</a></li>
                            <li><a href="@Url.Action("Contact", "Home")">Contact</a></li>
                            <li>@Html.ActionLink("Privacy Policy", "PrivacyPolicy", "Home", routeValues: null, htmlAttributes: new { id = "PrivacyPolicyLinkId" })</li>
                        </ul>
                    </div>
                    <div class="col-md-3 mb-4 mb-md-0">
                        <h4 class="footer-links">
                            <a href="https://www.instagram.com/dentalfillins/?hl=en" target="_blank">Instagram</a>
                        </h4>
                        <div class="instagram-gallery">
                            <img src="../../Content/Images/4.jpg" alt="Instagram Pic">
                            <img src="../../Content/Images/3.jpg" alt="Instagram Pic">
                            <img src="../../Content/Images/5.jpg" alt="Instagram Pic">
                            <img src="../../Content/Images/1.jpg" alt="Instagram Pic">
                            <img src="../../Content/Images/2.jpg" alt="Instagram Pic">
                            <img src="../../Content/Images/6.jpg" alt="Instagram Pic">
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        @RenderSection("scripts", required: false)
    </div>
    </body>
    </html>
