﻿<style>
    #map {
        height: 400px;
        width: 100%;
    }
</style>
<div class="form-group row">
    <label class="col-sm-3" for="AddressAutoComplete">Address Auto Complete</label>
    <div class="col-sm-9">
        <input class="form-control text-box single-line" data-val="true" autocomplete="off" data-val-length="AddressAutoComplete cannot be longer than 1000 characters." data-val-length-max="1000" id="AddressAutoComplete" name="AddressAutoComplete" type="text" value="">
        <span class="field-validation-valid" data-valmsg-for="AddressAutoComplete" data-valmsg-replace="true"></span>
    </div>
</div>
<div class="form-group row" id="insertMap" style="display: none">
    <div class="col-sm-12">
        <div id="map"></div>
    </div>
</div>

@Scripts.Render("~/bundles/googleMap")
@Scripts.Render("https://maps.googleapis.com/maps/api/js?key=" + Setting.GoogleMapsApi + "&libraries=places&callback=initAutocomplete")
@Scripts.Render("~/bundles/mapMarker")


