﻿@model DFI.Data.Emails.EmailLightDto

<div class="modal fade" id="sendEmailDirectlyModal" tabindex="-1" role="dialog" aria-labelledby="sendEmailDirectlyModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="sendEmailDirectlyModalLabel"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form id="formSendDirectlyEmail">
                <div class="modal-body">
                    <div class="form-group row">
                        @Html.LabelFor(c => c.Subject, new { @class = "col-sm-2", @for = "directlyEmailSubject" })
                        <div class="col-sm-10">
                            @Html.EditorFor(model => model.Subject, new { htmlAttributes = new { @class = "form-control", @id = "directlyEmailSubject" } })
                            @Html.ValidationMessageFor(model => model.Subject)
                        </div>
                    </div>
                    <div class="form-group row">
                        @Html.LabelFor(c => c.Body, new { @class = "col-sm-2", @for = "directlyEmailBody" })
                        <div class="col-sm-10">
                            @Html.TextAreaFor(model => model.Body, new { @class = "form-control", @rows = 5, @id = "directlyEmailBody" })
                            @Html.ValidationMessageFor(model => model.Body)
                        </div>
                    </div>
                </div>
            </form>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" id="sendEmailDirectly">Send</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>
