@using DFI.Helpers
@model DFI.Helpers.Helper.EState

<div class="mb-2 entity-state" id="professionalStatus">
    @{
        switch(Model)
        {
            case Helper.EState.New:
                <span class="badge badge-pill badge-secondary text-capitalize badge-lg">
                    @Helper.EState.New.ToString().ToLowerInvariant()
                </span>
                break;
            case Helper.EState.Submitted:
                <span class="badge badge-pill badge-primary text-capitalize badge-lg">
                    @Helper.EState.Submitted.ToString().ToLowerInvariant()
                </span>
                break;
            case Helper.EState.Active:
                <span class="badge badge-pill badge-success text-capitalize badge-lg">
                    @Helper.EState.Active.ToString().ToLowerInvariant()
                </span>
                break;
            case Helper.EState.InActive:
                <span class="badge badge-pill badge-danger text-capitalize badge-lg">
                    @Helper.EState.InActive.ToString().ToLowerInvariant()
                </span>
                break;
            case Helper.EState.Deleted:
                <span class="badge badge-pill badge-dark text-capitalize badge-lg">
                    @Helper.EState.Deleted.ToString().ToLowerInvariant()
                </span>
                break;                    
        }
    }
</div>
