<div id="toast-changes-saved" class="toast ml-auto fade hide" role="alert" aria-live="assertive" aria-atomic="true" data-delay="5000" style="position: absolute; top: 90px; right: 20px;">
    <div class="toast-header">
        <strong class="mr-auto">Success</strong>
        <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="toast-body" id="toast-body-success">
        Changes were saved successfully.
    </div>
</div>

<div id="toast-changes-error" class="toast ml-auto fade hide" role="alert" aria-live="assertive" aria-atomic="true" data-delay="5000" style="position: absolute; top: 90px; right: 20px;">
    <div class="toast-header toast-header-error">
        <strong class="mr-auto">Error</strong>
        <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="toast-body" id="toast-changes-error-message">
    </div>
</div>

