@model DFI.Data.Charts.ChartsDto
@{
    ViewBag.Title = "Charts";
}
@section scripts
{
    @Scripts.Render("~/bundles/datepicker")

    <script>
        $(function () {
            layout.InitializeDatePickers();
        });
    </script>
}
<h2>Charts</h2>

<div class="form-group row">
    <div class="col-sm-2">
        <div class="list-group" id="all-charts">
            <a href="javascript:void()" class="list-group-item list-group-item-action active" data-ajax-url="GetProfit" data-toggle="list">Profits</a>
            <a href="javascript:void()" class="list-group-item list-group-item-action" data-ajax-url="GetRequestsWithStatuses" data-toggle="list">Requests</a>
            <a href="javascript:void()" class="list-group-item list-group-item-action" data-ajax-url="GetRequestsForTemps" data-toggle="list">Temps</a>
            <a href="javascript:void()" class="list-group-item list-group-item-action" data-ajax-url="GetRequestsForOffices" data-toggle="list">Offices</a>
        </div>
    </div>
    <div class="col-sm-10">
        <div class="row mb-5">
            @Html.Label("From", new { @class = "col-sm-1" })
            <div class="col-sm-2">
                @Html.EditorFor(c => c.From, new { htmlAttributes = new { @class = "form-control date-picker" } })
            </div>
            @Html.Label("To", new { @class = "col-sm-1" })
            <div class="col-sm-2">
                @Html.EditorFor(c => c.To, new { htmlAttributes = new { @class = "form-control date-picker" } })
            </div>
            <div class="col-sm-2">
                <a href="javascript:void(0)" class="btn btn-primary" id="submit_profit_chart">Submit</a>
                <span style="padding-left: 15px;">
                    <i id="spinner" class="fa fa-spinner fa-spin" style="font-size: 27px;"></i>
                </span>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <canvas id="myChart"></canvas>
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
@Scripts.Render("~/bundles/charts")
