﻿footer {
    background-color: #1c3f4d;
    color: #fff;
    padding: 60px 0;
}

.social-links a {
    margin-right: 10px;
    color: white;
}

.footer-logo {
    max-width: 100%;
    height: auto;
}

.social-links img {
    width: 24px;
    height: 24px;
    margin: 0 10px;
}

.contact-info {
    margin-top: 10px;
}

.contact-item {
    display: flex;
    align-items: flex-start; /* Align items at the start of the cross axis */
    margin: 10px 0;
}

.contact-item img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.contact-item span {
    font-weight: bold;
    margin-right: 5px;
}

.contact-details {
    display: flex;
    flex-direction: column; /* Stack items vertically */
}

.contact-details span {
    font-weight: bold;
    color: #d6e5e4;
}

.contact-details p {
    margin: 0; /* Remove default margin */
}

.footer-links {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-links li {
    margin: 0px 0;
}

.footer-links a {
    color: #fff;
    text-decoration: none;
}

.footer-links a:hover {
    text-decoration: underline;
}

.instagram-gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
}

.instagram-gallery img {
    width: 100%;
    height: auto;
}