.overlay.overlay-custom {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 3rem; 
    background-color: #2b5f73;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 999;
    color: #efefef; 
    font-size: small;
}
.overlay-content {
    display: flex;
    flex-grow: 1;
}
.left-content.left-content-custom {
    flex-grow: 1;
    margin-top: 20px;
    margin-left: 120px;
}
.left-content-custom  p {
    margin-top: 0;
    margin-bottom: 1rem;

}
.center-content-custom p {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.center-content.center-content-custom {
    flex-grow: 1;
    display: flex;
    justify-content: right;
    align-items: center;
}

.center-content-custom img {
    width: 20px;
    height: auto;
    margin-top: auto;
}


.right-content.right-content-custom {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    margin-right: 40px;
}

.right-content-custom img {
    width: 25px;
    height: auto;
    margin-top: 15px;
    margin-right: 0px;
}

.right-content-custom a {
    margin-left: 10px; 
}

    .right-content-custom a:not(:last-child) {
        margin-right: 5px; 
    }

@media screen and (max-width: 768px) {
    .left-content.left-content-custom,
    .center-content.center-content-custom {
        display: none;
    }

    .right-content.right-content-custom {
        flex-basis: 100%;
        justify-content: center;
        margin-right: 0;
        margin-bottom: 10px;
    }
}
.dropdown-menu-scrollable {
    max-height: 200px; 
    overflow-y: auto; 
}
 .logo {
    width: 300px;
    height: auto;
    margin-top: 40px;
}
.small-logout {
    margin-top: 33px;
    display: inline-block;
    color: #977c4f;
    white-space: nowrap;
    margin-right: 30px;
    margin-bottom: 15px;
    font-size: 90%;
    font-weight: 600;
}

.navbar-small {
    display: inline-block;
    color: #977c4f;
    margin-top: 18px;
    white-space: nowrap;
    margin-right: 30px;
    margin-bottom: 15px;
    font-size: 90%;
    font-weight: 600;
}
/*Dropdown menu*/


.top-dropdown-toggle {
    white-space: nowrap;
}

    .top-dropdown-toggle::after {
        display: inline-block;
        margin-left: 0.255em;
        vertical-align: 0.255em;
        content: "";
        border-top: 0.3em solid;
        border-right: 0.3em solid transparent;
        border-bottom: 0;
        border-left: 0.3em solid transparent;
    }

    .top-dropdown-toggle:empty::after {
        margin-left: 0;
    }
.top-dropdown-menu {
    position: absolute;
    top: 100%;
    left: -80%;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 10rem;
    padding: 0.5rem 0;
    margin: 0.125rem 0 0;
    font-size: 1rem;
    color: #1c3f4d;
    text-align: left;
    list-style: none;
    background-color: #efefef;
    background-clip: padding-box;
    border: 1px solid #977c4f;
    border-radius: 0.25rem;
}
.top-dropdown-item {
    display: block;
    width: 100%;
    padding: 0.25rem 1.5rem;
    clear: both;
    font-weight: 550;
    color: #1c3f4d;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
}

    .top-dropdown-item:hover,
    .top-dropdown-item:focus {
        color: #977c4f;
        text-decoration: none;
        background-color: #efefef;
    }

/*Navbar right buttons*/

.nav-group-item {
    position: relative;
    display: block;
    padding: 0.6em;
    margin: 20px 10px 22px 0; 
    border: 1px solid #977c4f;
    border-radius: 8px 10px 12px 14px;
    display: grid;
    place-items: center;
    color: #977c4f;
    overflow: hidden; 
    z-index: 1; 
    transition: all 0.5s ease; 
    text-decoration: none;
}

    .nav-group-item::before, .nav-group-item::after {
        position: absolute;
        content: "";
        background-color: #2b5f73;
        height: 0%;
        width: 0%;
        border-radius: inherit; 
        transition: all 0.5s ease; 
        z-index: -1;
    }

    .nav-group-item::before {
        bottom: 0;
        right: 0;
    }

    .nav-group-item::after {
        top: 0;
        left: 0;
    }

    .nav-group-item:hover::before,
    .nav-group-item:focus::before,
    .nav-group-item:hover::after,
    .nav-group-item:focus::after {
        height: 100%;
        width: 100%;
    }

    .nav-group-item:hover,
    .nav-group-item:focus {
        color: white; 
        text-decoration: none; 
    }

.nav-group-item-action:active {
    color: #212529;
    background-color: #e9ecef;
}

.nav-item-action {
    color: #977c4f;
    text-align: inherit;
    margin-top: 28px;
}
/* Media queries */
@media (max-width: 1200px), (max-width: 576px) and (orientation: landscape) {
    .nav-group-item {
        max-width: 150px;
        margin-left: 0;
        margin-bottom: 10px;
        margin-top: 0;
    }
}

.nav-group-item:first-child {
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
}

.nav-group-item:last-child {
    position: relative;
    display: block;
    padding: 0.5rem;
    margin-bottom: 22px;
    border: 1px solid #977c4f;
    border-radius: 8px 10px 12px 14px;
    display: grid;
    place-items: center;
    margin-right: 40px;
}

.nav-group-item.disabled, .nav-group-item:disabled {
    color: #6c757d;
    pointer-events: none;
    background-color: #fff;
}

.nav-group-item.active {
    z-index: 2;
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}

.nav-group-horizontal {
    -ms-flex-direction: row;
    flex-direction: row;
}

    .nav-group-horizontal .nav-group-item {
        margin-right: -1px;
        margin-bottom: 0;
    }

        .nav-group-horizontal .nav-group-item:first-child {
            border-top-left-radius: 0.25rem;
            border-bottom-left-radius: 0.25rem;
            border-top-right-radius: 0;
        }

        .nav-group-horizontal .nav-group-item:last-child {
            margin-right: 0;
            border-top-right-radius: 0.25rem;
            border-bottom-right-radius: 0.25rem;
            border-bottom-left-radius: 0;
        }

@media (min-width: 576px) {
    .nav-group-horizontal-sm {
        -ms-flex-direction: row;
        flex-direction: row;
    }

        .nav-group-horizontal-sm .nav-group-item {
            margin-right: -1px;
            margin-bottom: 0;
        }

            .nav-group-horizontal-sm .nav-group-item:first-child {
                border-top-left-radius: 0.25rem;
                border-bottom-left-radius: 0.25rem;
                border-top-right-radius: 0;
            }

            .nav-group-horizontal-sm .nav-group-item:last-child {
                margin-right: 0;
                border-top-right-radius: 0.25rem;
                border-bottom-right-radius: 0.25rem;
                border-bottom-left-radius: 0;
            }
}

@media (min-width: 768px) {
    .nav-group-horizontal-md {
        -ms-flex-direction: row;
        flex-direction: row;
    }

        .nav-group-horizontal-md .nav-group-item {
            margin-right: -1px;
            margin-bottom: 0;
        }

            .nav-group-horizontal-md .nav-group-item:first-child {
                border-top-left-radius: 0.25rem;
                border-bottom-left-radius: 0.25rem;
                border-top-right-radius: 0;
            }

            .nav-group-horizontal-md .nav-group-item:last-child {
                margin-right: 0;
                border-top-right-radius: 0.25rem;
                border-bottom-right-radius: 0.25rem;
                border-bottom-left-radius: 0;
            }
}

@media (min-width: 992px) {
    .nav-group-horizontal-lg {
        -ms-flex-direction: row;
        flex-direction: row;
    }

        .nav-group-horizontal-lg .nav-group-item {
            margin-right: -1px;
            margin-bottom: 0;
        }

            .nav-group-horizontal-lg .nav-group-item:first-child {
                border-top-left-radius: 0.25rem;
                border-bottom-left-radius: 0.25rem;
                border-top-right-radius: 0;
            }

            .nav-group-horizontal-lg .nav-group-item:last-child {
                margin-right: 0;
                border-top-right-radius: 0.25rem;
                border-bottom-right-radius: 0.25rem;
                border-bottom-left-radius: 0;
            }
}

@media (min-width: 1200px) {
    .nav-group-horizontal-xl {
        -ms-flex-direction: row;
        flex-direction: row;
    }

        .nav-group-horizontal-xl .nav-group-item {
            margin-right: -1px;
            margin-bottom: 0;
        }

            .nav-group-horizontal-xl .nav-group-item:first-child {
                border-top-left-radius: 0.25rem;
                border-bottom-left-radius: 0.25rem;
                border-top-right-radius: 0;
            }

            .nav-group-horizontal-xl .nav-group-item:last-child {
                margin-right: 0;
                border-top-right-radius: 0.25rem;
                border-bottom-right-radius: 0.25rem;
                border-bottom-left-radius: 0;
            }
}
/*Navbar*/
.custom-navbar {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0.5rem 1rem;
}

    .custom-navbar > .container,
    .custom-navbar > .container-fluid {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -ms-flex-align: center;
        align-items: center;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }

.custom-navbar-nav {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    margin-right: 30px;
}
.custom-navbar {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem;
}

.custom-nav-link {
    display: block;
    padding: 0.5rem 0.5rem;
    margin-right: 20px;
    font-weight: 550;
    color: #2b5f73;
    text-decoration: none;
}
    .custom-nav-link:hover {
        color: #977c4f;
        text-decoration: none; 
    }

.custom-navbar-brand {
    display: inline-block;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    line-height: inherit;
    white-space: nowrap;
}
@media (min-width: 992px) {
    .custom-navbar-brand {
        margin-right: 50px;
    }
}
.custom-navbar-brand:hover, .custom-navbar-brand:focus {
    text-decoration: none;
}

.custom-navbar-toggler {
    background-image: url('../../content/images/toggler.png'); /* Path to your image */
    background-size: contain; /* Ensure the image fits within the span */
    background-repeat: no-repeat; /* Prevent repeating the image */
    background-position: center; /* Center the image */
    display: inline-block;
    width: 30px; /* Adjust width as needed */
    height: 30px; /* Adjust height as needed */
    border-color: #efefef;
}

.custom-navbar-expand-xl .navbar-collapse {
    display: -ms-flexbox !important;
    display: flex !important;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
    margin-top: 40px;
}

.custom-navbar-light .custom-navbar-nav .show > .nav-link,
.custom-navbar-light .custom-navbar-nav .active > .nav-link,
.custom-navbar-light .custom-navbar-nav .nav-link.show,
.custom-navbar-light .custom-navbar-nav .nav-link.active {
    color: #977c4f; 
}

.custom-navbar-dark .custom-navbar-nav .nav-link,
.custom-navbar-dark .custom-navbar-nav .nav-link:hover,
.custom-navbar-dark .custom-navbar-nav .nav-link:focus,
.custom-navbar-dark .custom-navbar-nav .show > .nav-link,
.custom-navbar-dark .custom-navbar-nav .active > .nav-link,
.custom-navbar-dark .custom-navbar-nav .nav-link.show,
.custom-navbar-dark .custom-navbar-nav .nav-link.active {
    color: #977c4f; 
}

.custom-navbar-dark .custom-navbar-toggler {
    border-color: #efefef;
    color: #2b5f73; 
}


.custom-navbar-collapse {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 40px;
}
@media (max-width: 1199.98px) {
    .custom-navbar-expand-xl > .container,
    .custom-navbar-expand-xl > .container-fluid {
        padding-right: 0;
        padding-left: 0;
    }
}

.custom-fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
    background-color: #f7f7f5;
    min-height: 10rem;
}

.navbar-toggler {
    margin-top: 40px;
}

@media (max-width: 1399px) {
    .navbar-collapse {
        flex-basis: 100%;
        flex-grow: 1;
        -ms-flex-align: center;
        max-height: 300px;
        align-items: center;
        overflow-y: scroll;
        overflow-x: hidden;
        scrollbar-width: thin;
    }

    .navbar-collapse::-webkit-scrollbar {
        width: 8px; /* Scrollbar width */
    }

    .navbar-collapse::-webkit-scrollbar-thumb {
        background: #ccc; /* Scrollbar color */
        border-radius: 4px; /* Rounded edges */
    }

    .navbar-collapse::-webkit-scrollbar-thumb:hover {
        background: #888; /* Color on hover */
    }
}