body {
    font-family: 'Poppins', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Poppins', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 700;
}

body {
    padding-top: 9rem;
}

.navbar.fixed-top {
    min-height: 10rem;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 2.2rem;
}

/* Override the default bootstrap behavior where horizontal description lists
   will truncate terms that are too long to fit in the left column
*/
.dl-horizontal dt {
    white-space: normal;
}

.fixedHeight {
    overflow-y: scroll;
    height: 200px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.notunderline {
    text-decoration: none !important;
    border-bottom: 0 !important;
}

.blueIcon {
    color: #007bff !important;
}

.envelopIcon {
    color: #ffc107 !important;
}

.toast-header {
    background-color: #d4edda;
    border-bottom: 0;
}

.toast-header-error {
    background-color: #fa9b9b;
    border-bottom: 0;
}

.entity-state {
    font-size: large;
}

.custom-control-label::before, .custom-file-label, .custom-select {
    overflow: hidden;
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.fc-view-container a {
    color: white !important;
    cursor: pointer;
}

@media (max-width: 576px) {
    .btn:not(.toggle-on, .toggle-off, .media-off) {
        width: 100%;
        margin-bottom: 5px;
    }
}

@media (max-width: 778px) {
    .fc-toolbar.fc-header-toolbar {
        display: inline;
    }

    .fc-toolbar.fc-header-toolbar .fc-left,
    .fc-toolbar.fc-header-toolbar .fc-center,
    .fc-toolbar.fc-header-toolbar .fc-right {
        margin-bottom: 10px;
        text-align: center;
    }

    .fc-scroller {
        height: auto !important;
    }
}

.toast {
    z-index: 99999;
}

.badge-lg{
    font-size: 100% !important;
}

.inline-form-photo {
    display: flex;
    max-width: 300px;
}

.badge-status-draft {
    color: #fff;
    background-color: #6c757d;
}

.badge-status-active {
    color: #212529;
    background-color: #ffc107;
}

.badge-status-success-filled-in-progress {
    color: #fff;
    background-color: #007bff;
}

.badge-status-canceled-deleted {
    color: #fff;
    background-color: #dc3545;
}

.badge-status-expired {
    color: #fff;
    background-color: #ff00ff;
}

.badge-status-need-approval {
    color: #fff;
    background-color: #28a745;
}

.badge-status-no-match {
    color: #fff;
    background-color: #ff8c00;
}

.mkdwn-color-chip {
    border: 1px solid #6b808c;
    border-radius: 3px;
    display: inline-block;
    height: 14px;
    margin: 0 1px -3px 3px;
    width: 14px;
}
.navbar-nav .show > .nav-link, .navbar-dark .navbar-nav .active > .nav-link, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .nav-link.active {
    color: #475b73;
}
    .navbar-nav .show > .nav-link:hover,
    .navbar-dark .navbar-nav .active > .nav-link:hover,
    .navbar-dark .navbar-nav .nav-link.show:hover,
    .navbar-dark .navbar-nav .nav-link.active:hover {
        color: #977c4f;
    }
