﻿.error, .field-validation-error {
    color: red;
    background-color: #fee;
    border-radius: 5px;
    padding: inherit;
}

.input-validation-valid, .field-validation-valid, .validation-summary-valid {
    display: none
}

.input-validation-error {
    background-color: #fee;
    border: 1px solid red;
    outline: none;
    margin-bottom: 10px;
}

.input-validation-error:focus {
    outline: none
}

input[type="text"].input-validation-error:focus, select.input-validation-error:focus {
    outline: none;
}

.validation-summary-errors {
    color: red
}

.validation-summary-errors span {
    font-weight: 700
}

.validation-summary-errors ul {
    list-style: disc inside
}

.validation-summary-errors ul li {
    font-weight: normal
}

.validation-summary-errors ul li label, .validation-summary-errors ul li span {
    display: inline !important;
    font-weight: normal
}
