﻿@model List<DFI.Data.Home.Review>

<section class="testimonials-review text-center w-background-color">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 my-auto showcase-text">
                <h5 class="font-beige-color">Client Reviews</h5>
                <span class="font-babe-sans">What clients are saying</span>
                <p class="lead mb-6">
                    We’ve become trusted partners on both sides of the dental staffing connection for quality
                    practices and top dental talent throughout Pennsylvania. Are you next?
                </p>
            </div>
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    @{ int k = 0; }

                    @foreach (var item in Model)
                    {
                        <li data-target="#carouselExampleIndicators" data-slide-to="@k" class="@(k == 0 ? "active" : "")"></li>
                        k++;
                    }
                </ol>
                <div class="carousel-inner">

                    @{ int i = 0; }

                    @foreach (var item in Model)
                    {
                        <div class="@(i == 0 ? "carousel-item active" : "carousel-item")">
                            <div class="d-flex justify-content-center">
                                <img src="@Url.Action("ProxyImage", "Home", new { imageUrl = item.ProfilePhotoUrl })" class="rounded-circle" alt="Reviewer @(item.AuthorName)" style="width: 100px; height: 100px;">
                            </div>
                            <div class="carousel-caption">
                                <h5>@item.AuthorName</h5>
                                <img src="~/Content/Images/ReviewsPage/5Stars.jpg" alt="Rating: 5 stars">
                                <p class="text-bg-danger">@item.Text</p>
                            </div>
                        </div>

                        i++;
                    }

                </div>
                <a class="carousel-control-prev carousel-dark" href="#carouselExampleIndicators" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </div>
</section>
