@model List<string>

<section class="testimonials-review text-center neutral-background-color" id="video-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 my-auto showcase-text">
                <h5 class="font-beige-color">Watch How Dental Fillins Works</h5>
            </div>
            <div id="carouselExampleIndicatorsVideo" class="col-lg-12 carousel slide" data-interval="false">
                <ol class="carousel-indicators">
                    @{ int j = 0; }

                    @foreach (var item in Model)
                    {
                        <li data-target="#carouselExampleIndicatorsVideo" data-slide-to="@j" class="@(j == 0 ? "active" : "")"></li>
                        j++;
                    }
                </ol>
                <div class="carousel-inner">

                    @{ int y = 0; }

                    @foreach (var item in Model)
                    {
                        <div class="@(y == 0 ? "carousel-item active" : "carousel-item")">
                            <div class="carousel-caption">
                                <div class="embed-responsive embed-responsive-16by9">
                                    <iframe class="embed-responsive-item" src="@item" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                                </div>
                            </div>
                        </div>
                        y++;
                    }

                </div>
                <a class="carousel-control-prev carousel-dark" href="#carouselExampleIndicatorsVideo" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicatorsVideo" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
            <div class="col-lg-12 text-center">
                @Html.ActionLink("Contact Us", "Contact", "Home", new { area = "" }, new { @class = "btn btn-lg btn-beige" })
            </div>
        </div>
    </div>
</section>