﻿@using DFI.Data.Accounts;
@model DFI.Data.Home.ReviewAndVideoDto
@{
    ViewBag.Title = "About Dental Fillins - Dentist Staffing Agency in PA for Temp Hygienists & Office Staff";
    ViewBag.Description = "Dental Fillins dentist staffing agency represents the best of cutting-edge web app tech " +
                "convenience and responsive direct support for temp dental hygienist professionals, assistants " +
                "and quality dentist offices in PA. Whether you’re in charge of scheduling or seeking to be hired, " +
                "feel empowered and supported in the workplace with the Dental Fillins team.";
}

@section styles{
    @Styles.Render("~/Content/css/homePage")
}

<section class="showcase neutral-2-background-color">
    <div class="container-fluid p-0">
        <div class="row no-gutters">
            <div class="col-lg-6 text-white showcase-img showcase-img-height" style="background-image: url('/Content/Images/AboutPage/Screenshot_141.jpg');"></div>
            <div class="col-lg-6 my-auto showcase-text">
                <h5 class="font-beige-color">What We Do</h5>
                <span class="font-babe-sans">
                    Dental Fillins is the go-to agency for effortless, quality staffing in dentistry
                </span>
                <p class="lead mb-6">
                    We represent the best of cutting-edge web app convenience combined with the type of attentive
                    support where everyone truly benefits. Thanks to 20+ years of combined experience in dentistry,
                    the Dental Fillins team understands the pain points of both temp professionals and dental
                    practices.<br><br>
                    Whether you’re in charge of scheduling or seeking to be hired, it’s important that you feel
                    empowered and supported in the workplace.<br><br>
                    We love to foster a thriving sense of community when connecting dental practices with
                    professionals. Some clients call us family. Every client calls us the best at what we do.<br><br>
                </p>
                @if (this.User.Identity.IsAuthenticated == false || this.User.IsInRole(Role.Admin))
                {
                    <div class="row">
                        <div class="col-lg-12">
                            @Html.ActionLink("Contact Us", "Contact", "Home", new { area = "" }, new { @class = "btn btn-lg btn-beige" })
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</section>
<section class="testimonials-review text-center contact-background-color">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 my-auto showcase-text">
                <img src="~/Content/Images/AboutPage/Logomark-Circle.png" style="width: 140px;"/>
                <h5 class="font-beige-color">Meet Our Team</h5>
                <span class="font-babe-sans">Experts in dentistry & people</span>
                <p class="lead" style="margin-bottom: 4rem;">
                    Dental Fillins (DFI) was established in 2005. Danielle and Wendy, registered dental hygienists
                    from West Chester, PA, lead this committed staffing agency team. Danielle and Wendy both
                    love dental hygiene and work clinically at the same fee for service practice in Chester County.
                </p>
            </div>
            <div class="container container-custom">
                <div class="row">
                    <div class="col-lg-4 d-flex justify-content-center mb-5 mb-lg-0">
                        <div class="testimonial-item mx-auto">
                            <img data-toggle="collapse" 
                                 data-target="#bio-danielle" aria-expanded="false" aria-controls="bio-danielle" 
                                 class="img-fluid img-max-height-350" src="~/Content/Images/HomePage/DentalFIllins-PA-Temp-Staffing-Agency-Dentist-Practice-Hygienists-Home-OurTeam-Danielle.jpg" alt="">
                            <p class="lead mb-3 font-beige-color under-photo">
                                DANIELLE SYDENSTRICKER<br>
                                <span style="font-size:large">CEO & Dental Hygienist</span>
                            </p>
                            <p id="bio-danielle" class="collapse under-photo">
                                CEO and experienced dental hygienist Danielle was a part-time temp for Dental Fillins before
                                becoming co-owner. She believes this benefits the practices and temporary staff as she fully
                                understands the inner workings of dental offices, which helps set this staffing agency apart from
                                others. Her friendly and personal style of dental staff matchmaking makes Danielle a true asset.
                                It’s true: clients love working with her! Danielle is a graduate of the University of Pittsburgh
                                School of Dental Medicine Dental Hygiene Program.
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-4 d-flex justify-content-center mb-5 mb-lg-0">
                        <div class="testimonial-item mx-auto">
                            <img class="img-fluid img-max-height-350" data-toggle="collapse" 
                                 data-target="#bio-wendy" aria-expanded="false" aria-controls="bio-wendy" 
                                 src="~/Content/Images/HomePage/DentalFIllins-PA-Temp-Staffing-Agency-Dentist-Practice-Hygienists-Home-OurTeam-Wendy.jpg" alt="">
                            <p class="lead mb-3 font-beige-color under-photo">
                                WENDY BIRONT<br>
                                <span style="font-size:large">CFO & Dental Hygienist</span>
                            </p>
                            <p id="bio-wendy" class="collapse under-photo">
                                Wendy is CFO at Dental Fillins who ensures all aspects of a staffing connection are working
                                smoothly from an admin perspective. She earned a B.S. in Dental Hygiene from Thomas
                                Jefferson University before pursuing master's degree courses at West Chester University in
                                areas of Public Health and Health Care Law. Wendy’s passion for administrative business and
                                healthy culture enables dental practice management teams to thrive in areas of contract
                                management, account services, and more.
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-4 d-flex justify-content-center mb-5 mb-lg-0">
                        <div class="testimonial-item mx-auto">
                            <img class="img-fluid img-max-height-350" src="~/Content/Images/AboutPage/Igor.jpg" alt="">
                            <p class="lead mb-3 font-beige-color under-photo">
                                IHAR PIATROU<br>
                                <span style="font-size:large">Senior Software Engineer</span>
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-4 d-flex justify-content-center mb-5 mb-lg-0">
                        <div class="testimonial-item mx-auto">
                            <img class="img-fluid img-max-height-350" data-toggle="collapse" 
                                 data-target="#bio-christie" aria-expanded="false" aria-controls="bio-christie" 
                                 src="~/Content/Images/AboutPage/Christie.jpg" alt="">
                            <p class="lead mb-3 font-beige-color under-photo">
                                CHRISTIE DESHER<br>
                                <span style="font-size:large">Customer Relations Representative</span>
                            </p>
                            <p id="bio-christie" class="collapse under-photo">
                                With over 16 years of invaluable expertise in dental administration and management, Christie
                                brings a dedication to delivering seamless, efficient dental practice operations to Dental Fillins
                                clients. She has a keen eye for detail and is committed to building environments for exceptional
                                patient care. From scheduling and billing to staff management, Christie serves clients in the
                                Delaware and Philadelphia region with a focus on personalized solutions tailored to each
                                practice's unique needs.
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-4 d-flex justify-content-center mb-5 mb-lg-0">
                        <div class="testimonial-item mx-auto">
                            <img class="img-fluid img-max-height-350" src="~/Content/Images/AboutPage/Natalya.jpg" alt="">
                            <p class="lead mb-3 font-beige-color under-photo">
                                NATALIYA PIATROVA<br>
                                <span style="font-size:large">Web Project Manager</span>
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-4 d-flex justify-content-center mb-5 mb-lg-0">
                        <div class="testimonial-item mx-auto">
                            <img class="img-fluid img-max-height-350" src="~/Content/Images/AboutPage/Joe.jpg" alt="">
                            <p class="lead mb-3 font-beige-color under-photo">
                                JOE GRUSZKA<br>
                                <span style="font-size:large">Customer Relations Representative</span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="showcase neutral-2-background-color">
    <div class="container-fluid p-0">
        <div class="row no-gutters">
            <div class="col-lg-6 order-lg-2 text-white showcase-img showcase-img-height" style="background-image: url('/Content/Images/AboutPage/Screenshot_14.jpg');"></div>
            <div class="col-lg-6 order-lg-1 my-auto showcase-text">
                <h5 class="font-beige-color">How It Works</h5>
                <span class="font-babe-sans">
                    Smile! Your perfect match awaits
                </span>
                <p class="lead mb-6">
                    As a temporary and permanent staffing agency for dental professionals, we serve
                    Pennsylvania's Chester County, Delaware County, and parts of Montgomery and Lancaster
                    Counties. Whether you are a dental hygienist, assistant, or an administrative, get ready to
                    connect with the offices that need your help.<br><br>
                    In less than 5 minutes, you can create a profile to gain full access to web app features,
                    employer reviews, up-to-date listings of current positions, and required forms for assignments.<br><br>
                    Temps and dental offices never pay a fee to join! We reach out same-day to verify a quality
                    connection, guiding new clients through everything they need to thrive.
                </p>
                <p class="lead mb-3 font-beige-color">
                    CREATE A PROFILE IN UNDER 5 MIN:
                </p>
                @if (this.User.Identity.IsAuthenticated == false || this.User.IsInRole(Role.Admin))
                {
                    <div class="row">
                        <div class="col-lg-6">
                            @Html.ActionLink("For Dental Offices", "FacilityRegistration", "Registrator", new { area = "" }, new { @class = "btn btn-block btn-lg btn-beige" })
                        </div>
                        <div class="col-lg-6">
                            @Html.ActionLink("For Professionals", "TempRegistration", "Registrator", new { area = "" }, new { @class = "btn btn-block btn-lg btn-beige" })
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</section>
@Html.Partial("_GoogleReviews", Model.Reviews)
@Html.Partial("_YouTubeVideos", Model.Videos)