﻿@using DFI.Data.Accounts;
@{
    ViewBag.Title = "Contact Dental Fillins - Dentist Staffing Agency in PA for Hygienists & Dental Office Practices";
    ViewBag.Description = "Discover what makes Dental Fillins Pennsylvania’s go-to agency for quality dental staffing. " +
                "We believe the journey in dental arts can be fulfilling and meaningful, so we pass along family-like" +
                " values, industry expertise and the tech to make staffing for your dental office practice reliable. " +
                "Hygienists love our prompt service, web app features and flexible options. Contact us for details!";
}

@section styles{
    @Styles.Render("~/Content/css/homePage")
}

<section class="showcase contact-background-color">
    <div class="container-fluid p-0">
        <div class="row no-gutters">
            <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url('/Content/Images/ContactPage/hart.jpg');"></div>
            <div class="col-lg-6 order-lg-1 my-auto showcase-text">
                <h5 class="font-beige-color">Contact Dental Fillins</h5>
                <span class="font-babe-sans">Your dental career matchmaker</span>
                <p class="lead mb-3">
                    Discover what makes Dental Fillins Pennsylvania’s go-to agency for quality dental staffing. We
                    believe the journey in dental arts can be fulfilling and meaningful through family-like values,
                    relationships, and the tech to make it work with daily life.
                </p>
                <p class="lead mb-6">
                    Contact us for prompt service and a team who cares.
                </p>
                <p class="lead mb-3 font-beige-color">
                    CREATE A PROFILE IN UNDER 5 MIN:
                </p>
                @if (this.User.Identity.IsAuthenticated == false || this.User.IsInRole(Role.Admin))
                {
                    <div class="row">
                        <div class="col-lg-6">
                            @Html.ActionLink("For Dental Offices", "FacilityRegistration", "Registrator", new { area = "" }, new { @class = "btn btn-block btn-lg btn-beige" })
                        </div>
                        <div class="col-lg-6">
                            @Html.ActionLink("For Professionals", "TempRegistration", "Registrator", new { area = "" }, new { @class = "btn btn-block btn-lg btn-beige" })
                        </div>
                    </div>          
                }
            </div>
        </div>
    </div>
</section>
<section class="testimonials text-center contact-background-color">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 font-beige-color">
                <div class="contact-testimonial-item mx-auto mb-5 mb-lg-0">
                    <img class="img-fluid mb-3" src="~/Content/Images/ContactPage/phone.png" alt="phone">
                </div>
                <h5>CALL US</h5>
                <h5 style="font-weight: 300">486-602-5656</h5>
            </div>
            <div class="col-lg-4 font-beige-color">
                <div class="contact-testimonial-item mx-auto mb-5 mb-lg-0">
                    <img class="img-fluid mb-3" src="~/Content/Images/ContactPage/email.png" alt="email">
                </div>
                <h5>EMAIL</h5>
                <h5 style="font-weight: 300">info@dfitemps.com</h5>
            </div>
            <div class="col-lg-4 font-beige-color">
                <div class="contact-testimonial-item mx-auto mb-5 mb-lg-0">
                    <img class="img-fluid mb-3" src="~/Content/Images/ContactPage/location.png" alt="location">
                </div>
                <h5>ADDRESS</h5>
                <h5 style="font-weight: 300">302 Baywood Rd</h5>
                <h5 style="font-weight: 300">West Chester, PA 19382</h5>
            </div>
        </div>
    </div>
</section>
