﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
</head>
<body>
    <div class="container body-content">
        <div class="form-group row">
            <div class="col-sm-4" style="margin-top: 150px;">
                <h1>Oops!</h1>
                <h3>We're working on it and we'll get it fixed as soon as possible</h3>
                @if (!string.IsNullOrEmpty(ViewBag.Error))
                {
                    <h5>Error:</h5>
                    <p>@ViewBag.Error</p>
                }
            </div>
            <div class="col-sm-8">
                <img src="~/Content/Images/Brokenrobot.jpg" class="img-fluid" alt="error-page"/>
            </div>
        </div>
        @Html.ActionLink("Go to home", "Index", "Home", new { area = "" }, new { @class = "btn btn-secondary", id = "cancelBtn" })
    </div>
</body>
</html>
