﻿@using DFI.Data.Accounts;
@model DFI.Data.Home.ReviewAndVideoDto
@{
    ViewBag.Title = "Dental Fillins Staffing Agency for Dentist Temp Hygienists & Office Staff in PA";
    ViewBag.Description = "Dental Fillins makes dental practice staffing in PA easy and reliable through " +
                "concierge-style personalized support alongside a cutting-edge web app to help everyone win — " +
                "dental offices maintain excellent standards of patient care while premier dental professionals enjoy the placements they want.";
}

@section styles{
    @Styles.Render("~/Content/css/homePage")
}

<section class="showcase neutral-2-background-color">
    <div class="container-fluid p-0">
        <div class="row no-gutters">
            <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url('/Content/Images/HomePage/1-p.jpg');"></div>
            <div class="col-lg-6 order-lg-1 my-auto showcase-text">
                <h5 class="font-beige-color">Pennsylvania’s You-First Dental Staffing Specialists</h5>
                <span class="font-babe-sans">
                    We connect dental practices with top dental talent and
                    ensure the perfect fit
                </span>
                <p class="lead mb-6">
                    Dental Fillins makes dental practice staffing easy and reliable
                    through concierge-style personalized support alongside a
                    cutting-edge web app to help everyone win—dental offices
                    maintain excellent standards of patient care while premier
                    dental professionals enjoy the placements they want.
                </p>
                <p class="lead mb-3 font-beige-color">
                    CREATE A PROFILE IN UNDER 5 MIN:
                </p>
                @if (this.User.Identity.IsAuthenticated == false || this.User.IsInRole(Role.Admin))
                {
                    <div class="row">
                        <div class="col-lg-6">
                            @Html.ActionLink("For Dental Offices", "FacilityRegistration", "Registrator", new { area = "" }, new { @class = "btn btn-block btn-lg btn-beige" })
                        </div>
                        <div class="col-lg-6">
                            @Html.ActionLink("For Professionals", "TempRegistration", "Registrator", new { area = "" }, new { @class = "btn btn-block btn-lg btn-beige" })
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</section>
<section class="showcase contact-background-color">
    <div class="container-fluid p-0">
        <div class="row no-gutters">
            <div class="col-lg-6 text-white showcase-img showcase-img-height" style="background-image: url('/Content/Images/HomePage/2-p.jpg');"></div>
            <div class="col-lg-6 my-auto showcase-text pb-12rem">
                <h5 class="font-beige-color">About Dental Fillins</h5>
                <span class="font-babe-sans">Staffing with the big picture in mind, helping everyone smile</span>
                <p class="lead mb-6">
                    The Dental Fillins team is fully committed to positioning everyone for success with an intentional
                    staffing agency process where front office staff, hired dental hygienists or personnel, and the
                    most valuable asset of all–your valued dental patients–enjoy the highest levels of care.
                </p>
                <p class="lead mb-3">
                    We’re not just an app linking dentists with hygienists. We are experienced dental career
                    matchmakers with genuine care for your success.
                </p>

                <div class="row row-center abs">
                    <div class="col-lg-4">
                        <a href="#video-section" class="btn btn-block btn-lg btn-beige">Watch Video</a>
                    </div>
                    <div class="col-lg-8">
                        <div class="info-section">
                            <img src="/Content/Images/HomePage/1-t.jpg" alt="Dental Icon" class="info-icon">
                            <div class="info-text">
                                Over 20 years in the business
                                as dental professionals and
                                administrative leaders!
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
<section class="showcase neutral-2-background-color">
    <div class="container-fluid p-0">
        <div class="row no-gutters">
            <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url('/Content/Images/HomePage/bbb.jpg');">
            </div>
            <div class="col-lg-6 order-lg-1 my-auto showcase-text">
                <h5 class="font-beige-color">Why Dental Practices Love Us</h5>
                <span class="font-babe-sans">
                    Tech you need, people you want
                </span>
                <p class="lead mb-3">
                    Dental Fillins understands exactly what your dental practice is looking for with staffing, which is
                    why we guarantee an experience that delivers everything you need to achieve maximum
                    success. Here’s how you benefit:
                </p>
                <ul class="checklist mb-3">
                    <li class="checklist-item">
                        <img src="~/Content/Images/HomePage/checkmark.png" alt="Item 1">
                        <span>Fast, responsive direct support from Dental Fillins team</span>
                    </li>
                    <li class="checklist-item">
                        <img src="~/Content/Images/HomePage/checkmark.png" alt="Item 2">
                        <span>User-friendly calendar and booking system</span>
                    </li>
                    <li class="checklist-item">
                        <img src="~/Content/Images/HomePage/checkmark.png" alt="Item 3">
                        <span>Professionals are pre-screened and vetted to meet high quality standards</span>
                    </li>
                    <li class="checklist-item">
                        <img src="~/Content/Images/HomePage/checkmark.png" alt="Item 4">
                        <span>Built-in license monitoring</span>
                    </li>
                    <li class="checklist-item">
                        <img src="~/Content/Images/HomePage/checkmark.png" alt="Item 5">
                        <span>
                            Personal follow-up ensuring hired staff is a fit for your workplace culture
                        </span>
                    </li>
                    <li class="checklist-item">
                        <img src="~/Content/Images/HomePage/checkmark.png" alt="Item 6">
                        <span>
                            Only pay when you book or hire a Dental Fillins professional
                        </span>
                    </li>
                </ul>
                <p class="lead mb-3 font-beige-color">
                    Register in under 5 minutes—for free!
                </p>
                <div class="row">
                    <div class="col-lg-6">
                        @Html.ActionLink("Get Your Office Started", "FacilityRegistration", "Registrator", new { area = "" }, new { @class = "btn btn-block btn-lg btn-beige" })
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="showcase contact-background-color">
    <div class="container-fluid p-0">
        <div class="row no-gutters">
            <div class="col-lg-6 text-white showcase-img showcase-img-height-p4" style="background-image: url('/Content/Images/HomePage/p-4.jpg');"></div>
            <div class="col-lg-6 my-auto showcase-text">
                <h5 class="font-beige-color">Why Dental Professionals Love Us</h5>
                <span class="font-babe-sans">We don’t just know you, we grow you</span>
                <p class="lead mb-6">
                    We welcome dentists, dental hygienists, EFDA, front desk and assistants who are seeking job
                    positions that align with their aspirations, providing flexibility and convenience, and helping
                    advance their careers in dental arts. Here’s how you can benefit:
                </p>
                <ul class="checklist mb-3">
                    <li class="checklist-item">
                        <img src="~/Content/Images/HomePage/checkmark.png" alt="Item 1">
                        <span>Unparalleled personal support from Dental Fillins team</span>
                    </li>
                    <li class="checklist-item">
                        <img src="~/Content/Images/HomePage/checkmark.png" alt="Item 2">
                        <span>Intuitive app features with personal calendar, alerts, booking reminders</span>
                    </li>
                    <li class="checklist-item">
                        <img src="~/Content/Images/HomePage/checkmark.png" alt="Item 3">
                        <span>Accept or decline jobs within customized mileage radius</span>
                    </li>
                    <li class="checklist-item">
                        <img src="~/Content/Images/HomePage/checkmark.png" alt="Item 4">
                        <span>Dental Fillins team is on-call and available for questions or concerns</span>
                    </li>
                    <li class="checklist-item">
                        <img src="~/Content/Images/HomePage/checkmark.png" alt="Item 5">
                        <span>
                            Direct support allows for seamless temp to long-term opportunities
                        </span>
                    </li>
                    <li class="checklist-item">
                        <img src="~/Content/Images/HomePage/checkmark.png" alt="Item 6">
                        <span>
                            Offices are screened and monitored with your best interests in mind
                        </span>
                    </li>
                </ul>
                <p class="lead mb-3 font-beige-color">
                    Free to use—dental personnel never pay a fee!
                </p>
                <div class="row">
                    <div class="col-lg-6">
                        @Html.ActionLink("Sign Up Now", "TempRegistration", "Registrator", new { area = "" }, new { @class = "btn btn-block btn-lg btn-beige" })
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
@Html.Partial("_YouTubeVideos", Model.Videos)
@Html.Partial("_GoogleReviews", Model.Reviews)
<section class="testimonials-review text-center neutral-background-color">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 my-auto showcase-text">
                <h5 class="font-beige-color">Meet Our Team</h5>
                <span class="font-babe-sans">We staff you at hello</span>
                <p class="lead" style="margin-bottom: 4rem;">
                    Dental Fillins is committed to adding real value with integrity wherever we serve.
                    We thrive on creating meaningful connections with family-like support, and would love
                    to help level-up your dental career journey.
                </p>
            </div>
            <div class="container container-custom">
                <div class="row">
                    <div class="col-lg-6 d-flex justify-content-center mb-5 mb-lg-0">
                        <div class="testimonial-item mx-auto">
                            <img class="img-fluid img-max-height-350" src="~/Content/Images/HomePage/DentalFIllins-PA-Temp-Staffing-Agency-Dentist-Practice-Hygienists-Home-OurTeam-Danielle.jpg" alt="">
                            <p class="lead mb-3 font-beige-color under-photo">
                                DANIELLE SYDENSTRICKER<br>
                                <span style="font-size:large">CEO & Dental Hygienist</span>                             
                            </p>
                            <span></span>
                        </div>
                    </div>
                    <div class="col-lg-6 d-flex justify-content-center mb-5 mb-lg-0">
                        <div class="testimonial-item mx-auto">
                            <img class="img-fluid img-max-height-350" src="~/Content/Images/HomePage/DentalFIllins-PA-Temp-Staffing-Agency-Dentist-Practice-Hygienists-Home-OurTeam-Wendy.jpg" alt="">
                            <p class="lead mb-3 font-beige-color under-photo">
                                WENDY BIRONT<br>                             
                                <span style="font-size:large">CFO & Dental Hygienist</span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12 text-center" style="margin-top: 4rem;">
                @Html.ActionLink("About Us", "About", "Home", new { area = "" }, new { @class = "btn btn-lg btn-beige" })
            </div>
        </div>
    </div>
</section>
