﻿@using DFI.Data.Accounts;
@model DFI.Data.Home.ReviewAndVideoDto
@{
    ViewBag.Title = "Dental Fillins Reviews - Dentist Staffing Agency in PA for Hygienists & Dental Office Practices";
    ViewBag.Description = "In the fast-paced world of dentistry, finding the perfect fit can be a challenge. " +
                "Dental Fillins is a dental staffing agency in PA, ready to serve your specific needs, goals, " +
                "and getting jobs done with the highest level of clinical professionalism. Dentist offices and temp hygienists can get started for free.";
}

@section styles{
    @Styles.Render("~/Content/css/homePage")
}

<section class="showcase contact-background-color">
    <div class="container-fluid p-0">
        <div class="row no-gutters">
            <div class="col-lg-6 text-white showcase-img showcase-img-height-reviews" style="background-image: url('/Content/Images/ReviewsPage/DentalFIllinsCopy.jpg');"></div>
            <div class="col-lg-6 my-auto showcase-text">
                <h5 class="font-beige-color">Client Testimonials</h5>
                <span class="font-babe-sans">We all love a win-win</span>
                <p class="lead mb-6">
                    The fast paced world of dentistry can feel unsettling at times. Dental Fillins is ready to stand with
                    you as we focus on your specific needs, goals, and getting jobs done with the highest level of
                    clinical professionalism.
                </p>
                <p class="lead mb-3">
                    But don’t take our word for it. Read on for why clients love us.
                </p>
                <p class="lead mb-6">
                    Many teams and professionals like these have grown with Dental Fillins. Are you next?
                </p>
                <p class="lead mb-3 font-beige-color">
                    CREATE A PROFILE IN UNDER 5 MIN:
                </p>
                @if (this.User.Identity.IsAuthenticated == false || this.User.IsInRole(Role.Admin))
                {
                    <div class="row">
                        <div class="col-lg-6">
                            @Html.ActionLink("For Dental Offices", "FacilityRegistration", "Registrator", new { area = "" }, new { @class = "btn btn-block btn-lg btn-beige" })
                        </div>
                        <div class="col-lg-6">
                            @Html.ActionLink("For Professionals", "TempRegistration", "Registrator", new { area = "" }, new { @class = "btn btn-block btn-lg btn-beige" })
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</section>
@Html.Partial("_GoogleReviews", Model.Reviews)
@Html.Partial("_YouTubeVideos", Model.Videos)