﻿@model IEnumerable<DFI.Models.YouTubeVideo>
@{
    ViewBag.Title = "YouTube video";
}
<style>
    pre {
        white-space: pre-wrap; /* Allows the text to wrap instead of forcing a horizontal scrollbar */
        word-wrap: break-word; /* Breaks long words to prevent overflow */
        overflow-x: auto; /* Enables scrolling only when necessary */
        padding: 10px; /* Add padding for better readability */
        border: 1px solid #ddd; /* Optional: Add a border to the <pre> block */
        background-color: #f8f9fa; /* Optional: Light background color */
    }
</style>

<div class="container">
    <h2>Manage Videos On Web Pages</h2>

    <h5>How to Get Video Link from YouTube</h5>
    <ol>
        <li>
            <strong>Go to the YouTube Video:</strong>
            <p>Open the video on YouTube that you want to embed. Coppy video URL.</p>
        </li>      
    </ol>

    <h5 class="mb-4">Add Video Link</h5>
    <!-- Form to add new video -->
    <form action="@Url.Action("AddVideo")" method="post" class="form-inline">
        <div class="col-lg-10">
            <div class="form-group">
                <label class="col-lg-1" for="Note">Note</label>
                <div class="col-lg-4" id="Note-div">
                    <input type="text" class="form-control" id="Note" name="note" placeholder="Note for Video URL" required>
                </div>
                <label class="col-lg-2" for="VideoUrl">Video URL</label>
                <div class="col-lg-5" id="VideoUrl-div">
                    <input type="text" class="form-control" id="VideoUrl" name="videoUrl" placeholder="Enter Video URL" required>
                </div>
            </div>
        </div>

        <div class="col-lg-2">
            <button type="submit" class="btn btn-primary">Add Video</button>
        </div>
    </form>

    <h5 class="mt-4">All Video Links</h5>
    <!-- Table with video URLs, update, and delete options -->
    <table class="table table-striped mt-4">
        <thead>
            <tr>
                <th>Note / Video URL</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var video in Model)
            {
                <tr>
                    <td>
                        <!-- Form to update video URL -->
                        <form action="@Url.Action("UpdateVideo")" method="post">
                            <input type="hidden" name="YouTubeVideoId" value="@video.YouTubeVideoId">
                            <div class="form-group">
                                <label class="col-lg-2" for="note">Note</label>
                                <input type="text" class="form-control mb-2" name="note" value="@video.Note" required style="width: 100%;">
                            </div>
                            <div class="form-group">
                                <label class="col-lg-3" for="videoUrl">Video Url</label>
                                <input type="text" class="form-control mb-2" name="videoUrl" value="@video.VideoUrl" required style="width: 100%;">
                            </div>
                            <button type="submit" style="display:none;" id="submitBtn-@video.YouTubeVideoId" class="btn btn-warning">Update</button>
                        </form>
                    </td>
                    <td style="width: 220px;">
                        <button type="button" class="btn btn-warning mr-3" onclick="document.getElementById('submitBtn-@video.YouTubeVideoId').click();">Update</button>

                        <!-- Form to delete video -->
                        <form action="@Url.Action("DeleteVideo")" method="post" style="display:inline;">
                            <input type="hidden" name="id" value="@video.YouTubeVideoId">
                            <button type="submit" class="btn btn-danger">Delete</button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

