﻿<table width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="#ffffff">
    <tbody>
        <tr>
            <td align="center" valign="top">
                <table align="center" width="600" border="0" cellspacing="0" cellpadding="0" style="width:600px;table-layout:fixed;background-color: white;">
                    <tbody>
                        <tr>
                            <td align="left" style="padding-left:25px;padding-top:25px;padding-right:25px;padding-bottom:30px;" width="100%">
                                <table style="text-align: center" width="100%">
                                    <tbody>
                                        <tr>
                                            <td>
                                                <a target="_blank" href='{{linkToWebSite}}'>
                                                    <img style="border: 0; display: block; height: auto; width: 100%; max-width: 612px" alt="" width="594" src="https://lh3.googleusercontent.com/6np9bEire5cOM9afNi3LpNenAHaDBEPH_GvOspRdB5AnwRIQpMiqOoCR0EiAHb7Rj7kSa7-8icBXmEQNT5rtmhL_6wxkDftobhe_ScriazODgvPLTcB6Yfxqp3mobuo2Tn-yyHmULBM=w2400">
                                                </a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td valign="top" align="center">
                                <table width="600" border="0" cellspacing="0" cellpadding="0" align="center" style="width:600px;background-color: white">
                                    <tbody>
                                        <tr>
                                            <td valign="top" align="center" style="padding:0px 0px">
                                                <table width="600" border="0" cellspacing="0" cellpadding="0" align="center" style="width:600px;">
                                                    <tbody>
                                                        <tr>
                                                            <td align="left" style="font-family:'LyftProUI-Bold','Helvetica Neue',Helvetica,Arial,sans-serif;font-size:20px;color:black;line-height:36px;padding-left:25px;padding-right:25px;text-align:left;">
                                                                <h2>
                                                                    Introducing our
                                                                    New Website
                                                                </h2>
                                                                <p>
                                                                    When you create your new account, you
                                                                    will have access to our expanded data
                                                                    base of professionals.
                                                                </p>
                                                                <h4>
                                                                    NEW FEATURES
                                                                </h4>
                                                                <ul>
                                                                    <li>Place temp requests easily</li>
                                                                    <li>Professional feedback and accountability</li>
                                                                    <li>Google Maps</li>
                                                                    <li>Office calendar</li>
                                                                    <li>Estimated Daily Fees</li>
                                                                    <li>Computer Generated Matching</li>
                                                                    <li>Easily modify your requests</li>
                                                                </ul>
                                                                <h4>
                                                                    What our new website can do for you!
                                                                </h4>
                                                                <p>
                                                                    At Dental Fillins, we strive to know our clients well. Many of you we have
                                                                    met and maybe even worked for. This Is what allows us to help you find
                                                                    the right fit for your office. With the growing demand for this kind of
                                                                    intimacy in Dental Staffing, we have found that communication and data
                                                                    entry are areas where we can be more efficient. This is why we hired an
                                                                    Innovative team to help us build a website that will keep us on the cutting
                                                                    edge of technology.
                                                                </p>
                                                                <p>
                                                                    <a href="{{linkToOfficeRegistration}}" style="     
                                                                            font-family: 'LyftProUI-Bold','Helvetica Neue',Helvetica,Arial,sans-serif;
                                                                            background-color: #b3d7ff;
                                                                            border-radius: 8px;
                                                                            color: #11111f;
                                                                            display: inline-block;
                                                                            font-size: 16px;
                                                                            font-weight: bold;
                                                                            line-height: 50px;
                                                                            text-align: center;
                                                                            text-decoration: none;
                                                                            width: 240px;" target="_blank">JOIN US</a>
                                                                </p>
                                                                <p>
                                                                    A computer can do a lot of the work, but it can't replace
                                                                    relationships. All placements will still be verified by Danielle and
                                                                    Wendy. Our commitment to you has not changed. We value each
                                                                    practice and know you are all unique. Utilizing our new website,
                                                                    we hope to be able to serve you better and help you grow. Thank
                                                                    you for taking the time to create your new office account and
                                                                    profile.
                                                                </p>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td valign="top" align="center" style="padding: 0 25px; background-color: white">
                                <table width="550" border="0" cellspacing="0" cellpadding="0" style="max-width: 550px;" align="center">
                                    <tbody>
                                        <tr>
                                            <td style="padding-top:0px;padding-bottom:0px">
                                                <hr height="1" style="border:0 none;border-top:1px solid #d8d8d8;background:none;height:0">
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <table width="550" border="0" cellspacing="0" cellpadding="0" style="max-width:550px" align="center">
                                    <tbody>
                                        <tr>
                                            <td>
                                                <a target="_blank" href="https://www.instagram.com/dentalfillins/?hl=en">
                                                    <img height="30" alt="instagram" src="https://lh3.googleusercontent.com/IzChyt7Z8QwkP-tzMrBz9p2kBI-m3hHfXCxTgavViv7F9vNLYgkUKMsh3kJ2Kr0WpqBe28uSbVHEEAkE4govy2qsShVcS26Ga5pjVHEdmnsVpxiqNMjLV_59IQ3UMEy3YoKSjDY5aQ=w200-h250">
                                                </a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <a target="_blank" href="https://www.facebook.com/Dental-Fillins-256618831068185/">
                                                    <img height="30" alt="facebook" src="https://lh3.googleusercontent.com/tRXgDfO3l-W3ZoAiBi3ULoyGae0BEP-exLr3e-q7vNG8wQajS48LoQoloIJkYt80zy3_8_tZ6g_bElcjqhePChTa7sWcLNrQxbXdHEauKPu-P67oxLcqf8hmlQnqTZQ68sblG06Rqw=w2400">
                                                </a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <a target="_blank" href="https://mobile.twitter.com/DentalFillins">
                                                    <img height="30" alt="twitter" src="https://lh3.googleusercontent.com/M2qVaruK1hudY27sOItlqUzP5JraPAk8tf8HmYFGFTRmtBMlwj-E1Xg0yxzdeioxOc5nM0byXxSADg-APyyhucf9bOfRGA8aDxqNImL2rzyZBvmGYtxyZxerN8usHLXYk0LYn0IVug">
                                                </a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td align="left" style="color:#88888f;font-family:'LyftProUI-Regular','Helvetica Neue',Helvetica,Arial,sans-serif;font-size:12px;line-height:18px;font-weight:normal;padding:10px 0px 0px 0px;text-decoration:none" valign="middle">
                                                <span>302 Baywood Road West Chester, PA 19382</span><br> © @DateTime.Now.Year Dental Fillins, LLC.
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <table width="550" border="0" cellspacing="0" cellpadding="0" style="max-width:550px" align="center">
                                    <tbody>
                                        <tr>
                                            <td align="center"><img src="https://lh3.googleusercontent.com/9S0si6-QT0MRE2DyyJtb6xriVIoIqXzJ3SpSgiWYJwcRbkmnRp56eC-lIZjGQg1CepwBg2dwK4MJd0yWl_H6ARZ3dGB85qQgRNTz00yDtL4v0N44euPsZwSN38s_WK9YJc2OVUaUHb20KA8VIW_jvfGTD1KlJW4ruL_Z6YvVXn3kf6WcLeR-EcGnAql0krm4rfN3AZ_x1EiLSJYktiDZWSUVKXZRLZJ37lsgJ7JvQGcTy1tsiDMEFUIOtxHjqExz3zXdD6WKRJQt_gtLBMR8zBEzPuRqbE3ZbCCP6tl63xgE_KzXWhqO_7kX5reL0DA88B-iC3e0xBM4tiN1mvY6hrPlpV9EtMrdPWetmvtljDWD5cRUSKxlWafGeuqE3m8WPX1ZTbNEspugEzHFNsyJ9F5I7wfFUvf1XMmx_rE_hJjrEzxmt29LOUmpyg1AeMXYFyNxXk-9MuVZKNAfyS9ju-yUnIbMcf1pn6TELm9yZzaAnHpyLGPzJUL6zJJXXYyAI4gHa8uuwTKK70AqVIBlCVlpHf3TMkLeDtSdjxDugfKciTz2qcI7sfJfDzGg9xs5gKzN-hk_v6p4Z2HKvWcTmRVrG9E0Io_2RIBeGFauoM-exe2D7Cjxv1S_NDzGX-5daOd562seySE2e14nOaSfXfjebsMaEA=w824-h969-no-temp.png" width="1" height="80" alt=""></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>
