﻿@model DFI.Data.Requests.RequestAssigneeListDto
@using DFI.Data.Requests
@using PagedList.Mvc;
@using DFI.Data.Accounts
@using DFI.Helpers

@if (Model.RequestAssigneeDtos.Any())
{
    if (this.User.IsInRole(Role.Admin))
    {
        @Html.Hidden("SearchRequestAssigneeId");

        <div class="form-group row">
            <label class="col-sm-3" for="FirstName">Search by full name</label>
            <div class="col-sm-3">
                @Html.Editor("TempFullNameSearch", new { htmlAttributes = new { @class = "form-control", @data_type = "autocomplete-input", @data_action = $"/Requests/GetTempsFullNamesForRequest?requestId={Model.RequestAssigneeDtos.First().RequestId}" } })
            </div>
            <div class="col-sm-4">
                <a href="javascript:void(0)" class="btn btn-primary" id="searchTempsOnRequestPage">Search</a>
                <a href="javascript:void(0)" class="btn btn-secondary" id="cleanSearchOnRequestPage">Clean filter</a>
            </div>
        </div>
    }
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">
                    Full Name
                </th>
                @if (this.User.IsInRole(Role.Admin))
                {
                    <th scope="col">
                        Phone Number
                    </th>
                }
                @if (this.User.IsInRole(Role.Admin) || this.User.IsInRole(Role.Facility))
                {
                    <th scope="col" class="d-none d-md-table-cell">
                        Price
                    </th>
                    <th scope="col" class="d-none d-md-table-cell">
                        Rate per hour
                    </th>
                }
                <th scope="col" class="d-none d-lg-table-cell">
                    <a href="javascript:void(0)" class="notunderline" data-group="column" data-id="Rating">Rating</a>
                    <i class="fa fa-sort-alpha-desc" style="display: none" aria-hidden="true"></i>
                </th>
                <th scope="col" class="d-none d-md-table-cell">
                    <a href="javascript:void(0)" class="notunderline" data-group="column" data-id="DistanceToWork">Distance To Work</a>
                    <i class="fa fa-sort-alpha-desc" style="display: none" aria-hidden="true"></i>
                </th>
                <th scope="col">
                    <a href="javascript:void(0)" class="notunderline" data-group="column" data-id="Status">Status</a>
                    <i class="fa fa-sort-alpha-desc" style="display: none" aria-hidden="true"></i>
                </th>
                @if (this.User.IsInRole(Role.Admin) && (Model.RequestStatus == ERequestStatus.NeedsApproval || Model.RequestStatus == ERequestStatus.Filled))
                {
                    <th scope="col">
                        Actions
                    </th>
                }
            </tr>
        </thead>
        <tbody>
            @foreach (var temp in Model.RequestAssigneeDtos)
            {
                <tr>
                    <td>
                        @if (this.User.IsInRole(Role.Facility))
                        {
                            if (temp.Status == ERequestAssigneeStatus.Filled)
                            {
                                <span>@temp.FullName</span>
                            }
                            else
                            {
                                <span title="Name is hidden until the professional is not selected">@temp.FullName.Substring(0, 2) ....</span>
                            }
                        }
                        else if (this.User.IsInRole(Role.Admin))
                        {
                            <a href="/professionals/professional/@temp.TempId">
                                @temp.FullName
                            </a>
                        }
                        else if (this.User.IsInRole(Role.Temp))
                        {
                            <a href="/Professionals/MyProfile">
                                @temp.FullName
                            </a>
                        }
                    </td>
                    @if (this.User.IsInRole(Role.Admin))
                    {
                        <td>@temp.PhoneNumber</td>
                    }
                    @if (this.User.IsInRole(Role.Admin) || this.User.IsInRole(Role.Facility))
                    {
                        <td class="d-none d-md-table-cell">$ @temp.PriceForRequest</td>
                        <td class="d-none d-md-table-cell">$ @temp.RatePerHour</td>
                    }
                    <td class="d-none d-lg-table-cell">@temp.Rating.GetTwoDecimalPlacesStringOrNa()</td>
                    <td class="d-none d-md-table-cell">@temp.DistanceToWork mi</td>
                    <td>@Html.Partial("_RequestAssigneeStatus", temp.Status)</td>
                    @if (this.User.IsInRole(Role.Admin) && (Model.RequestStatus == ERequestStatus.NeedsApproval || Model.RequestStatus == ERequestStatus.Filled))
                    {
                        <td>
                            @if (temp.Status == ERequestAssigneeStatus.Filled)
                            {
                                <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#cancelAssigneeModal" data-requestassigneeid="@temp.RequestAssigneeId" data-action="set-request-assignee-id">
                                    Cancel
                                </button>
                            }
                            else if (temp.Status != ERequestAssigneeStatus.CanceledByTemp && temp.Status != ERequestAssigneeStatus.Deleted && temp.Status != ERequestAssigneeStatus.Inactive)
                            {
                                <button type="button" class="btn btn-success" data-toggle="modal" data-target="#fillAssigneeModal"
                                        data-requestassigneeid="@temp.RequestAssigneeId" data-action="set-request-assignee-id" data-isWaitingForResponse="@(temp.Status == ERequestAssigneeStatus.WaitingForResponse)">
                                    Fill
                                </button>
                            }
                        </td>
                    }
                    else if (this.User.IsInRole(Role.Temp) && temp.Email == User.Identity.Name && (temp.Status == ERequestAssigneeStatus.Filled || temp.Status == ERequestAssigneeStatus.If)
                             && (Model.RequestStatus == ERequestStatus.NeedsApproval || Model.RequestStatus == ERequestStatus.Filled))
                    {
                        <td>
                            <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#cancelAssigneeModal" data-requestassigneeid="@temp.RequestAssigneeId" data-action="set-request-assignee-id">
                                Cancel
                            </button>
                        </td>
                    }
                </tr>
            }
        </tbody>
    </table>
    <br />
    @Html.Partial("_ToastPopups")
}
else
{
    <p>This request doesn't have any professionals</p>
}

@if (Model.RequestAssigneeDtos.PageCount > 1)
{
    <span>Page</span> @(Model.RequestAssigneeDtos.PageCount < Model.RequestAssigneeDtos.PageNumber ? 0 : Model.RequestAssigneeDtos.PageNumber) <span>of</span> @Model.RequestAssigneeDtos.PageCount
}


@if (Model.RequestAssigneeDtos.PageCount > 1)
{
    @Html.PagedListPager(Model.RequestAssigneeDtos, page => Url.Action("Index",
        new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }), new PagedListRenderOptions()
        {
            MaximumPageNumbersToDisplay = 5
        })
}


<div class="modal fade" id="cancelAssigneeModal" tabindex="-1" role="dialog" aria-labelledby="cancelAssigneeModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="cancelAssigneeModalLabel">Cancel Request Assignee</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>The assignee of the request will be canceled, professional, practice and administrator will receive email. @(User.IsInRole(Role.Temp) ? "You can't undo this action." : "")</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                <button type="button" data-id="fillrequestorcancel" data-action="CancelFilledRequest" class="btn btn-danger" data-dismiss="modal">Yes</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="fillAssigneeModal" tabindex="-1" role="dialog" aria-labelledby="fillAssigneeModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="fillAssigneeModalLabel">Fill Request Assignee</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p id="modal-text-fill-request">
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                <button type="button" data-id="fillrequestorcancel" data-action="FillRequest" class="btn btn-success" data-dismiss="modal">Yes</button>
            </div>
        </div>
    </div>
</div>


@Scripts.Render("~/bundles/autocomplete_input")
@Styles.Render("~/Content/Styles/autocomplite-input")
