﻿<div class="modal fade" id="info-status" tabindex="-1" role="dialog" aria-labelledby="info-status" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Info</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div>
                    <span>
                        <strong>Draft</strong>
                        <span class="mkdwn-color-chip" style="background-color:#6c757d;"></span><br />
                        <span>A request was created but not submitted</span>
                    </span>
                </div>
                <div>
                    <span>
                        <strong>Active</strong>
                        <span class="mkdwn-color-chip" style="background-color: #ffc107;"></span><br />
                        <span>A request was created and submitted</span>
                    </span>
                </div>
                <div>
                    <span>
                        <strong>Needs Approval</strong>
                        <span class="mkdwn-color-chip" style="background-color: #28a745;"></span><br />
                        <span>Temps were found that match the request, administrator needs to select and approve a temp</span>
                    </span>
                </div>
                <div>
                    <span>
                        <strong>Filled</strong>
                        <span class="mkdwn-color-chip" style="background-color: #007bff;"></span><br />
                        <span>The request has been filled with a temp</span>
                    </span>
                </div>
                <div>
                    <span>
                        <strong>No Match</strong>
                        <span class="mkdwn-color-chip" style="background-color: #ff8c00;"></span><br />
                        <span>No temps were found for the request</span>
                    </span>
                </div>
                <div>
                    <span>
                        <strong>In Progress</strong>
                        <span class="mkdwn-color-chip" style="background-color: #007bff;"></span><br />
                        <span>The filled request is in progress</span>
                    </span>
                </div>
                <div>
                    <span>
                        <strong>Success</strong>
                        <span class="mkdwn-color-chip" style="background-color: #007bff;"></span><br />
                        <span>The request has been successfully completed</span>
                    </span>
                </div>
                <div>
                    <span>
                        <strong>Canceled</strong>
                        <span class="mkdwn-color-chip" style="background-color: #dc3545;"></span><br />
                        <span>Request has been canceled</span>
                    </span>
                </div>
                <div>
                    <span>
                        <strong>Expired</strong>
                        <span class="mkdwn-color-chip" style="background-color: #ff00ff;"></span><br />
                        <span>Temps were found by system but requested assignment could not be filled and date has passed</span>
                    </span>
                </div>
                <hr />
                <p>
                    <strong>RDH</strong><span> - Dental Hygienist</span>
                </p>
                <p>
                    <strong>DA</strong><span> - Dental Assistant</span>
                </p>
                <p>
                    <strong>Rec</strong><span> - Receptionist</span>
                </p>
                <p>
                    <strong>DMD</strong><span> - Dentist</span>
                </p>
                <p>
                    <strong>OM</strong><span> - Office Manager</span>
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
