@model DFI.Data.Requests.RequestDto
@using DFI.Data.Accounts

@{
    ViewBag.Title = $"Request {Model.Id}";
}

@Scripts.Render("~/bundles/assigneesRequest")
@Scripts.Render("~/bundles/temp-apply-request")

@Html.HiddenFor(c => c.Id)


<div class="modal-dialog modal-lg" role="document" id="modal-request-calendar">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="requestTitle">@($"Request {Model.Id}")</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body" id="request-partial-view">

            @if (Model.Status.HasValue)
            {
                @Html.Partial("_RequestStatus", Model.Status.Value)
            }

            @if (User.IsInRole(Role.Admin))
            {
                <div class="form-group row">
                    @Html.Label("Facility", new { @class = "col-sm-3" })
                    <div class="col-sm-9">
                        @Html.ActionLink(Model.FacilityName, "Facility", "Facilities", new { id = Model.FacilityId }, null)
                        @Html.ValidationMessageFor(model => model.LicenseType)
                    </div>
                </div>
            }

            @if (User.IsInRole(Role.Temp))
            {
                <div class="form-group row">
                    @Html.Label("Facility", new { @class = "col-sm-3" })
                    <div class="col-sm-9">
                        @Html.DisplayFor(model => model.FacilityName)
                    </div>
                </div>
            }

            <div class="form-group row">
                @Html.LabelFor(c => c.FacilityLocationFullAddress, "Location", new { @class = "col-sm-3" })
                <div class="col-sm-9">
                    <a href="https://maps.google.com/?q=@Model.FacilityLocationFullAddress" target="_blank">@Model.FacilityLocationFullAddress</a>
                </div>
            </div>
            <div class="form-group row">
                @Html.LabelFor(c => c.LicenseType, "Position", new { @class = "col-sm-3" })
                <div class="col-sm-9">
                    @Html.DisplayFor(c => c.LicenseType)
                </div>
            </div>
            <div class="form-group row">
                @Html.LabelFor(x => x.Description, new { @class = "col-sm-3" })
                <div class="col-sm-9">
                    @Html.DisplayFor(model => model.Description)
                </div>
            </div>
            <div class="form-group row">
                @Html.LabelFor(x => x.PayType, "Payment Type", new { @class = "col-sm-3" })
                <div class="col-sm-9">
                    @Html.DisplayFor(model => model.PayTypeDisplay)
                </div>
            </div>
            @if (User.IsInRole(Role.Admin) || User.IsInRole(Role.Facility))
            {
                <div class="form-group row">
                    @Html.LabelFor(x => x.IsAutoSearching, "Auto searching for temporary staff", new { @class = "col-sm-3" })
                    <div class="col-sm-9">
                        <span id="IsAutoSearching">@Model.IsAutoSearching</span>
                    </div>
                </div>
                <div class="form-group row">
                    @Html.LabelFor(x => x.IsAutoSearchingWithoutCheckingLicenseExpirationDay, "Auto searching for temporary staff without checking expiration day in licenses", new { @class = "col-sm-3" })
                    <div class="col-sm-9">
                        <span id="IsAutoSearching">@Model.IsAutoSearchingWithoutCheckingLicenseExpirationDay</span>
                    </div>
                </div>
            }
            <span style="padding-left: 15px;">
                <i id="spinner" class="fa fa-spinner fa-spin" style="font-size: 27px; display: none"></i>
            </span>
            @for (int i = 0; i < Model.RequestDays.Count; i++)
            {
                <div class="card my-1" @(Model.RequestDays.Count > 1 && Model.RequestDays[i].MarkByColorForCalendar == true ? "style=background-color:blanchedalmond" : string.Empty)>
                    <div class="card-body">
                        <div class="form-group row">
                            @Html.LabelFor(model => model.RequestDays[i].StartDateUi, "Date", new { @class = "col-sm-3" })
                            <div class="col-sm-9">
                                @Html.DisplayFor(model => model.RequestDays[i].StartDateUi)
                            </div>
                        </div>

                        <div class="form-group row">
                            @Html.LabelFor(x => x.RequestDays[i].ArrivalTime, "Arrival Time", new { @class = "col-sm-3" })
                            <div class="col-sm-9">
                                @Html.DisplayFor(model => model.RequestDays[i].ArrivalTime)
                            </div>
                        </div>

                        <div class="form-group row">
                            @Html.LabelFor(x => x.RequestDays[i].PatientHoursStart, "Patient hours start", new { @class = "col-sm-3" })
                            <div class="col-sm-9">
                                @Html.DisplayFor(model => model.RequestDays[i].PatientHoursStart.TimeOption)
                                @Html.DisplayFor(model => model.RequestDays[i].PatientHoursStart.ETimeKind)
                            </div>
                        </div>

                        <div class="form-group row">
                            @Html.LabelFor(x => x.RequestDays[i].LunchTime, "Lunch time", new { @class = "col-sm-3" })
                            <div class="col-sm-9">
                                @Html.DisplayFor(model => model.RequestDays[i].LunchTime)
                            </div>
                        </div>

                        <div class="form-group row">
                            @Html.LabelFor(x => x.RequestDays[i].PatientHoursEnd, "Patient hours end", new { @class = "col-sm-3" })
                            <div class="col-sm-9">
                                @Html.DisplayFor(model => model.RequestDays[i].PatientHoursEnd.TimeOption)
                                @Html.DisplayFor(model => model.RequestDays[i].PatientHoursEnd.ETimeKind)
                            </div>
                        </div>
                        <div class="form-group row">
                            @Html.LabelFor(x => x.RequestDays[i].Description, new { @class = "col-sm-3" })
                            <div class="col-sm-9">
                                @Html.DisplayFor(model => model.RequestDays[i].Description)
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
        <div class="modal-footer">
            @if (User.IsInRole(Role.Temp) && Model.TempId > 0 && Model.LongGuid != "")
            {
                <span style="padding-left: 15px;">
                    <i id="manual-apply-spinner" class="fa fa-spinner fa-spin" style="font-size: 27px; display: none"></i>
                </span>
                <a href="javascript:void(0)" id="apply-from-calendar" class="btn btn-success" data-temp-id="@Model.TempId" data-long-guid="@Model.LongGuid" data-apply-from-calendar="true">Apply</a>
            }

            @Html.ActionLink(
                "Go to request",
                "Edit",
                new { id = Model.Id },
                new { @class = "btn btn-primary" })
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>

            <div class="alert alert-danger" style="display: none" data-id="manually-apply-validationMessage" id="manually-apply-validationMessageId" role="alert"></div>
            <div class="alert alert-success" style="display: none" data-id="manually-apply-successMessage" id="manually-apply-successMessageId" role="alert">Applied successfully</div>
        </div>

    </div>
</div>









