﻿@model DFI.Data.Requests.RequestDto

<div class="tab-pane fade" id="ManualFill" role="tabpanel" aria-labelledby="ManualFill-tab">
    <div class="form-group row">
        <label class="col-sm-3" for="ProfessionalFullName">Professional full name</label>
        <div class="col-sm-5">
            @Html.Hidden("ProfessionalId_ManulFill")
            @Html.Editor("ProfessionalFullName", "ProfessionalFullName",
                new { htmlAttributes = new { @class = "form-control", @data_type = "autocomplete-input", @data_action = $"/Professionals/GetTempFullNames?requestId={Model.Id}" } })
        </div>
    </div>
    <span style="padding-left: 15px;">
        <i id="manual-fill-spinner" class="fa fa-spinner fa-spin" style="font-size: 27px; display: none"></i>
    </span>
    <div class="alert alert-danger" style="display: none" data-id="manually-fill-validationMessage" id="manually-fill-validationMessageId" role="alert"></div>
    <div class="alert alert-success" style="display: none" data-id="manually-fill-successMessage" id="manually-fill-successMessageId" role="alert">Fill successfully</div>

    <div class="form-group row">
        <div class="col-sm-12 my-2">
            <button type="button" class="btn btn-success" id="button-manual-fill" data-toggle="modal" data-target="#manually-fill-Modal">Fill</button>
        </div>
    </div>
</div>

<div class="modal fade" id="manually-fill-Modal" tabindex="-1" role="dialog" aria-labelledby="manually-fill-ModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="manually-fill-modal-label">Manual Fill</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Are you sure?</p>
                <p>The professional will be automatically assigned to the request and filled</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                <button type="button" id="fill-temp-manually" class="btn btn-primary" data-dismiss="modal">Yes</button>
            </div>
        </div>
    </div>
</div>

@Styles.Render("~/Content/Styles/autocomplite-input")
@Scripts.Render("~/bundles/autocomplete_input")
@Scripts.Render("~/bundles/manual-fill-request")