﻿@using DFI.Data.Requests
@using DFI.Helpers
@model DFI.Data.Requests.ERequestAssigneeStatus

@{
    switch (Model)
    {
        case ERequestAssigneeStatus.If:
            <span class="badge badge-pill badge-primary text-capitalize badge-lg">
                @ERequestAssigneeStatus.If.ToString().ToLowerInvariant()
            </span>
            break;
        case ERequestAssigneeStatus.Filled:
            <span class="badge badge-pill badge-success text-capitalize badge-lg">
                @ERequestAssigneeStatus.Filled.ToString().ToLowerInvariant()
            </span>
            break;
        case ERequestAssigneeStatus.TooLate:
            <span class="badge badge-pill badge-danger text-capitalize badge-lg">
                @ERequestAssigneeStatus.TooLate.GetDisplayName().ToLowerInvariant()
            </span>
            break;
        case ERequestAssigneeStatus.WaitingForResponse:
            <span class="badge badge-pill badge-light text-capitalize badge-lg">
                @Html.Raw(ERequestAssigneeStatus.WaitingForResponse.GetDisplayName().ToLowerInvariant().Replace(" ", "<br/>"))
            </span>
            break;
        case ERequestAssigneeStatus.CanceledByTemp:
            <span class="badge badge-pill badge-secondary text-capitalize badge-lg">
                @Html.Raw(ERequestAssigneeStatus.CanceledByTemp.GetDisplayName().ToLowerInvariant().Replace(" ", "<br/>"))
            </span>
            break;
        case ERequestAssigneeStatus.Deleted:
            <span class="badge badge-pill badge-dark text-capitalize badge-lg">
                @Html.Raw(ERequestAssigneeStatus.Deleted.GetDisplayName().ToLowerInvariant().Replace(" ", "<br/>"))
            </span>
            break;
        case ERequestAssigneeStatus.Inactive:
            <span class="badge badge-pill badge-dark text-capitalize badge-lg">
                @Html.Raw(ERequestAssigneeStatus.Inactive.GetDisplayName().ToLowerInvariant().Replace(" ", "<br/>"))
            </span>
            break;
    }
}


