@model PagedList.IPagedList<DFI.Data.Requests.RequestShortDto>

@using PagedList.Mvc;

<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col" class="d-none d-lg-table-cell">
                <a href="javascript:void(0)" class="notunderline" data-group="column" data-id="FacilityName">Facility Name</a>
                <i class="fa fa-sort-alpha-desc" style="display: none" aria-hidden="true"></i>
            </th>
            <th scope="col">
                <a href="javascript:void(0)" class="notunderline" data-group="column" data-id="LicenseType">License Type</a>
                <i class="fa fa-sort-alpha-desc" style="display: none" aria-hidden="true"></i>
            </th>
            <th scope="col" class="d-none d-md-table-cell">
                <a href="javascript:void(0)" class="notunderline" data-group="column" data-id="RequestStart">Request Start</a>
                <i class="fa fa-sort-alpha-desc" style="display: none" aria-hidden="true"></i>
            </th>
            <th scope="col" class="d-none d-md-table-cell">
                <a href="javascript:void(0)" class="notunderline" data-group="column" data-id="RequestEnd">Request End</a>
                <i class="fa fa-sort-alpha-desc" style="display: none" aria-hidden="true"></i>
            </th>
            <th scope="col">
                <a href="javascript:void(0)" class="notunderline" data-group="column" data-id="Status">Status</a>
                <i class="fa fa-sort-alpha-desc" style="display: none" aria-hidden="true"></i>
            </th>
            <th scope="col">
                Actions
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var temp in Model)
        {
            <tr>
                <td class="d-none d-lg-table-cell">@temp.FacilityName</td>
                <td>@temp.LicenseType</td>
                <td class="d-none d-md-table-cell">@temp.RequestStart.ToString("MM/dd/yyyy hh:mm tt")</td>
                <td class="d-none d-md-table-cell">@temp.RequestEnd.ToString("MM/dd/yyyy hh:mm tt")</td>
                <td>@Html.Partial("_RequestStatus", temp.Status)</td>
                <td>
                    <a href="/Requests/Edit/@temp.RequestId">
                        <i class="fa fa-share-square-o blueIcon" aria-hidden="true"></i>
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
<br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@if (Model.PageCount > 1)
{
    @Html.PagedListPager(Model, page => Url.Action("Index",
        new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }), new PagedListRenderOptions()
        {
            MaximumPageNumbersToDisplay = 5
        })
}

