﻿<div class="modal fade" id="cancelModal" tabindex="-1" role="dialog" aria-labelledby="cancelModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="cancelModalLabel">Cancel Request</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Request will be canceled, professional, practice and administrator will receive email. You can't undo this action.</p>
                <div class="form-group row">
                    @Html.Label("CancelationReason", "Cancelation Reason", new { @class = "col-sm-3" })
                    <div class="col-sm-9">
                        @Html.TextArea("CancelationReason", new { @class = "form-control", rows = 5 })
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                <button type="button" data-action="cancel-request" class="btn btn-danger" data-dismiss="modal">Yes</button>
            </div>
        </div>
    </div>
</div>