﻿@using DFI.Data.Requests
@model DFI.Data.Requests.ERequestStatus
@using DFI.Helpers
<div class="mb-2 entity-state">
    @{
        switch (Model)
        {
            case ERequestStatus.Draft:
                <span class="badge badge-pill badge-status-draft text-capitalize badge-lg">
                    @ERequestStatus.Draft.ToString().ToLowerInvariant()
                </span>
                break;
            case ERequestStatus.Active:
                <span class="badge badge-pill badge-status-active text-capitalize badge-lg">
                    @ERequestStatus.Active.ToString().ToLowerInvariant()
                </span>
                break;
            case ERequestStatus.Success:
                <span class="badge badge-pill badge-status-success-filled-in-progress text-capitalize badge-lg">
                    @ERequestStatus.Success.ToString().ToLowerInvariant()
                </span>
                break;
            case ERequestStatus.Canceled:
                <span class="badge badge-pill badge-status-canceled-deleted text-capitalize badge-lg">
                    @ERequestStatus.Canceled.ToString().ToLowerInvariant()
                </span>
                break;
            case ERequestStatus.Expired:
                <span class="badge badge-pill badge-status-expired text-capitalize badge-lg">
                    @ERequestStatus.Expired.ToString().ToLowerInvariant()
                </span>
                break;
            case ERequestStatus.Filled:
                <span class="badge badge-pill badge-status-success-filled-in-progress text-capitalize badge-lg">
                    @ERequestStatus.Filled.ToString().ToLowerInvariant()
                </span>
                break;
            case ERequestStatus.NeedsApproval:
                <span class="badge badge-pill badge-status-need-approval text-capitalize badge-lg">
                    @ERequestStatus.NeedsApproval.GetDisplayName().ToLowerInvariant()
                </span>
                break;
            case ERequestStatus.Deleted:
                <span class="badge badge-pill badge-status-canceled-deleted text-capitalize badge-lg">
                    @ERequestStatus.Deleted.ToString().ToLowerInvariant()
                </span>
                break;
            case ERequestStatus.InProgress:
                <span class="badge badge-pill badge-status-success-filled-in-progress text-capitalize badge-lg">
                    @ERequestStatus.InProgress.GetDisplayName()
                </span>
                break;
            case ERequestStatus.NoMatch:
                <span class="badge badge-pill badge-status-no-match text-capitalize badge-lg">
                    @ERequestStatus.NoMatch.GetDisplayName()
                </span>
                break;
        }
    }
</div>
