@using System.Web.Mvc.Html
@using DFI.Data.Accounts
@using DFI.Data.Requests
@using DFI.Helpers
@model DFI.Data.Requests.RequestDto


@if (User.IsInRole(Role.Admin) || User.IsInRole(Role.Facility))
{
    <div class="mb-2 entity-state">
        <span class="badge badge-pill badge-light text-capitalize badge-lg">
            <i class="fa fa-usd" aria-hidden="true"></i>
            <span id="priceForOffice">@Model.PriceForOffice</span>
        </span>
    </div>
}
else if (User.IsInRole(Role.Temp))
{
    <div class="mb-2 entity-state">
        <span class="badge badge-pill badge-light text-capitalize badge-lg">
            <i class="fa fa-usd" aria-hidden="true"></i>
            <span id="priceForTemp">@Model.PriceForTemp</span>
        </span>
    </div>
}

@if (User.IsInRole(Role.Admin))
{
    <div class="form-group row">
        @Html.Label("Facility", new { @class = "col-sm-3" })
        <div class="col-sm-9">
            @Html.ActionLink(Model.FacilityName, "Facility", "Facilities", new { id = Model.FacilityId }, null)
            @Html.ValidationMessageFor(model => model.FacilityName)
        </div>
    </div>
    <div class="form-group row">
        @Html.Label("Location", new { @class = "col-sm-3" })
        <div class="col-sm-9">
            <a href="https://maps.google.com/?q=@Model.FacilityLocationFullAddress" target="_blank">@Model.FacilityLocationFullAddress</a>
            @Html.ValidationMessageFor(model => model.LicenseType)
        </div>
    </div>
}

<div class="form-group row">
    @Html.LabelFor(c => c.LicenseType, "Position", new { @class = "col-sm-3" })
    <div class="col-sm-9">
        @Html.DisplayFor(c => c.LicenseType)
    </div>
</div>
<div class="form-group row">
    @Html.LabelFor(x => x.Description, new { @class = "col-sm-3" })
    <div class="col-sm-9">
        @Html.DisplayFor(model => model.Description)
    </div>
</div>
@if (User.IsInRole(Role.Admin) || User.IsInRole(Role.Facility))
{
    <div class="form-group row">
        @Html.LabelFor(x => x.IsAutoSearching, "Auto searching for temporary staff", new { @class = "col-sm-3" })
        <div class="col-sm-9">
            <span id="IsAutoSearching">@Model.IsAutoSearching</span>
        </div>
    </div>
    <div class="form-group row">
        @Html.LabelFor(x => x.IsAutoSearchingWithoutCheckingLicenseExpirationDay, "Auto searching for temporary staff without checking expiration day in licenses", new { @class = "col-sm-3" })
        <div class="col-sm-9">
            <span id="IsAutoSearching">@Model.IsAutoSearchingWithoutCheckingLicenseExpirationDay</span>
        </div>
    </div>
}
<span style="padding-left: 15px;">
    <i id="spinner" class="fa fa-spinner fa-spin" style="font-size: 27px; display: none"></i>
</span>
<ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
        <a class="nav-link active" id="RequestsDays-tab" data-toggle="tab" href="#RequestsDays" role="tab" aria-controls="home" aria-selected="true">Request's days</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="ProfessionalsAssignes-tab" data-toggle="tab" href="#ProfessionalsAssignes" role="tab" aria-controls="profile" aria-selected="false">Professionals</a>
    </li>
    @if (User.IsInRole(Role.Admin) && (Model.Status == ERequestStatus.Filled || Model.Status == ERequestStatus.NeedsApproval))
    {
        <li class="nav-item">
            <a class="nav-link" id="ManualFill-tab" data-toggle="tab" href="#ManualFill" role="tab" aria-controls="profile" aria-selected="false">Manual fill</a>
        </li>
    }
</ul>
<br />
@Html.HiddenFor(m => m.Id)
@Html.HiddenFor(m => m.FacilityId)
@Html.HiddenFor(m => m.AvailableLicenseTypes)
@Html.HiddenFor(m => m.Description)
@Html.HiddenFor(c => c.FacilityName)
@Html.HiddenFor(c => c.LicenseType)
@Html.HiddenFor(c => c.FacilityLocationId)
<div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="RequestsDays" role="tabpanel" aria-labelledby="RequestsDays-tab">
        @for (int i = 0; i < Model.RequestDays.Count; i++)
        {
            <div class="card my-1">
                <div class="card-body">
                    @Html.HiddenFor(m => m.RequestDays[i].RequestDayId)
                    @Html.HiddenFor(m => m.RequestDays[i].StartDate)
                    <div class="form-group row">
                        @Html.LabelFor(model => model.RequestDays[i].StartDate, "Date", new { @class = "col-sm-3" })
                        <div class="col-sm-9">
                            @Html.DisplayFor(model => model.RequestDays[i].StartDateUi)
                        </div>
                    </div>

                    <div class="form-group row">
                        @Html.LabelFor(x => x.RequestDays[i].ArrivalTime, "Arrival Time", new { @class = "col-sm-3" })
                        <div class="col-sm-9">

                            @foreach (var option in CommonConstants.ArrivalTimeOptions)
                            {
                                @Html.RadioButtonFor(model => model.RequestDays[i].ArrivalTime, option.Key)
                                <span data-id="labelRadioButton">@option.Key</span>
                            }
                            @Html.ValidationMessageFor(model => model.RequestDays[i].ArrivalTime)
                        </div>
                    </div>

                    <div class="form-group row">
                        @Html.LabelFor(x => x.RequestDays[i].PatientHoursStart.TimeOption, "Patient hours start", new { @class = "col-sm-3" })
                        <div class="col-sm-5">
                            @Html.DropDownListFor(model =>
                                model.RequestDays[i].PatientHoursStart.TimeOption,
                                CommonConstants.TimeOptions.Keys.Select(x => new SelectListItem
                                {
                                    Text = x,
                                    Value = x,
                                    Selected = x == Model.RequestDays[i].PatientHoursStart.TimeOption
                                }),
                                new { @class = "form-control", @data_val = "false" })
                        </div>
                        <div class="col-sm-4">
                            @Html.DropDownListFor(model =>
                                model.RequestDays[i].PatientHoursStart.ETimeKind,
                                Enum.GetNames(typeof(ETimeKind)).Select(x => new SelectListItem
                                {
                                    Text = x,
                                    Value = x,
                                    Selected = x == Model.RequestDays[i].PatientHoursStart.ETimeKind.ToString()
                                }),
                                new { @class = "form-control", @data_val = "false" })
                        </div>
                    </div>

                    <div class="form-group row">
                        @Html.LabelFor(x => x.RequestDays[i].LunchTime, "Lunch time", new { @class = "col-sm-3" })
                        <div class="col-sm-9">
                            @Html.DropDownListFor(
                                model => model.RequestDays[i].LunchTime,
                                CommonConstants.LunchTimeOptions
                                    .Select(x => new SelectListItem
                                    {
                                        Text = x,
                                        Value = x,
                                        Selected = x == Model.RequestDays[i].LunchTime
                                    }),
                                new { @class = "form-control", @data_val = "false" })
                        </div>
                    </div>

                    <div class="form-group row">
                        @Html.LabelFor(x => x.RequestDays[i].PatientHoursEnd.TimeOption, "Patient hours end", new { @class = "col-sm-3" })
                        <div class="col-sm-5">
                            @Html.DropDownListFor(
                                model => model.RequestDays[i].PatientHoursEnd.TimeOption,
                                CommonConstants.TimeOptions.Keys.Select(x => new SelectListItem
                                {
                                    Text = x,
                                    Value = x,
                                    Selected = x == Model.RequestDays[i].PatientHoursEnd.TimeOption
                                }),
                                new { @class = "form-control", @data_val = "false" })
                        </div>
                        <div class="col-sm-4">
                            @Html.DropDownListFor(
                                model => model.RequestDays[i].PatientHoursEnd.ETimeKind,
                                Enum.GetNames(typeof(ETimeKind)).Select(x => new SelectListItem
                                {
                                    Text = x,
                                    Value = x,
                                    Selected = x == Model.RequestDays[i].PatientHoursEnd.ETimeKind.ToString()
                                }),
                                new { @class = "form-control", @data_val = "false" })
                        </div>
                    </div>
                    <div class="form-group row">
                        @Html.LabelFor(x => x.RequestDays[i].Description, new { @class = "col-sm-3" })
                        <div class="col-sm-9">
                            @Html.TextAreaFor(model => model.RequestDays[i].Description, new { @class = "form-control", @rows = 2 })
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
    <div class="tab-pane fade" id="ProfessionalsAssignes" role="tabpanel" aria-labelledby="ProfessionalsAssignes-tab"></div>
    @if (User.IsInRole(Role.Admin) && (Model.Status == ERequestStatus.Filled || Model.Status == ERequestStatus.NeedsApproval))
    {
        @Html.Partial("_ManulFill")
    }
    <div class="alert alert-danger" style="display: none" data-id="validationMessage" id="validationMessageId" role="alert"></div>
    <div class="alert alert-success" style="display: none" data-id="successMessage" id="successMessageId" role="alert">Save successfully</div>

    <div class="form-group row">
        <div class="col-sm-12 my-2">
            @if (User.IsInRole(Role.Admin))
            {
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#saveHouorsModal">Update</button>
            }
            <a onclick="history.go(-1); return false;" href="#" class="btn btn-light">Back</a>

            @if ((Model.Status == ERequestStatus.InProgress || Model.Status == ERequestStatus.Filled || Model.Status == ERequestStatus.Active || Model.Status == ERequestStatus.NeedsApproval) && (User.IsInRole(Role.Admin) || User.IsInRole(Role.Facility)))
            {
                <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#cancelModal">
                    Cancel
                </button>
            }
            <i id="spinner" class="fa fa-spinner fa-spin" style="padding-left: 15px; font-size: 27px; display: none"></i>
        </div>
    </div>
</div>

@Html.Partial("_RequestCancelPopup")

<div class="modal fade" id="saveHouorsModal" tabindex="-1" role="dialog" aria-labelledby="saveHouorsModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="saveAndSubmitModalLabel">Update hours</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>
                    All temporary staff will receive emails about hours changes. The price will be recalculated.<br />
                    Are you sure?
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                <button type="button" data-action="update-request-hours" class="btn btn-primary" data-dismiss="modal">Yes</button>
            </div>
        </div>
    </div>
</div>
