﻿@using DFI.Data.Requests
@model List<RequestForInactiveOrDeletedTemp>

@if (Model.Any())
{
    <p>Action <b>Deactivate</b> or <b>Delete</b> professional will affect associated requests with statuses "Filled" or "Needs Approval".</p>
    <ol>
        <li>If request has "Filled" status and this professional filled then status will be changed to "Need Approval".</li>
    </ol>
    <p>Staus for this professional will be changed on request site to <b>Inactive by Admin</b> or <b>Deleted by Admin</b> accordingly.</p>
    <p>Also, this professional cannot be assigned on future requests.</p>
    <p><b>This action cannot be undo for affected requests.</b></p>

    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">
                Id
            </th>
            <th scope="col">
                Status
            </th>
        </tr>
        </thead>
        <tbody>
        @foreach (var request in Model)
        {
            <tr>
                <td >
                    <a href="/Requests/Edit/@request.Id" target="_blank">
                        @request.Id.ToString()
                    </a>
                </td>
                <td>@request.Status</td>
            </tr>
        }
        </tbody>
    </table>
}
else
{
    <p>This professional does not have any requests with status "Filled" or "Needs Approval".</p>
}

<p>Are you going to continue?</p>
