@using System.Web.Mvc.Html
@using DFI.Data.Accounts
@using DFI.Data.Requests
@using DFI.Helpers
@model DFI.Data.Requests.RequestDto

@Html.Hidden("IsAdminLogIn", this.User.IsInRole(Role.Admin))
@Html.HiddenFor(c => c.FacilityLocationId)
@Html.HiddenFor(m => m.Id)
@Html.HiddenFor(m => m.FacilityId)

@if (User.IsInRole(Role.Admin))
{
    if (Model.Status >= ERequestStatus.Active)
    {
        <div class="form-group row">
            @Html.Label("Facility", new { @class = "col-sm-3" })
            <div class="col-sm-9">
                @Html.ActionLink(Model.FacilityName, "Facility", "Facilities", new { id = Model.FacilityId }, null)
                @Html.ValidationMessageFor(model => model.LicenseType)
            </div>
        </div>
        <div class="form-group row">
            @Html.Label("Location", new { @class = "col-sm-3" })
            <div class="col-sm-9">
                <a href="https://maps.google.com/?q=@Model.FacilityLocationFullAddress" target="_blank">@Model.FacilityLocationFullAddress</a>
                @Html.ValidationMessageFor(model => model.LicenseType)
            </div>
        </div>
    }
    else if (Model.Status == null || Model.Status == ERequestStatus.Draft)
    {
        <div class="form-group row">
            @Html.LabelFor(c => c.FacilityId, "Facility", new { @class = "col-sm-3" })
            <div class="col-sm-9">
                @Html.EditorFor(model => model.FacilityName, new
                {
                    htmlAttributes = new
                    {
                        @class = "form-control",
                        @data_type = "autocomplete-input",
                        @data_action = "/Facilities/GetFacilityNames?eFacilityNameFor=CreateEditRequest"
                    }
                })
                @Html.ValidationMessageFor(model => model.FacilityId)
            </div>
        </div>
    }
}


<div class="form-group row">
    @Html.LabelFor(c => c.FacilityLocationFullAddress, "Locations", new { @class = "col-sm-3" })
    <div class="col-sm-9">
        @Html.DropDownListFor(
            c => c.FacilityLocationId,
            new SelectList(Model.LocationDropDownLists, "LocationId", "LocationFullAddress", Model.FacilityLocationId),
            new { @class = "form-control", @id = "FacilityLocationFullAddress" })
    </div>
</div>

<div class="form-group row">
    @Html.LabelFor(c => c.LicenseType, "Position", new { @class = "col-sm-3" })
    <div class="col-sm-9">
        @Html.DropDownListFor(
            c => c.LicenseType,
            new SelectList(Model.AvailableLicenseTypes),
            "Select license",
            new { @class = "form-control", data_group = "address" })
        @Html.ValidationMessageFor(model => model.LicenseType)
    </div>
</div>
<div class="form-group row">
    @Html.LabelFor(x => x.Description, new { @class = "col-sm-3" })
    <div class="col-sm-9">
        @Html.TextAreaFor(model => model.Description, new { @class = "form-control", @rows = 3 })
    </div>
</div>

@for (int i = 0; i < Model.RequestDays.Count; i++)
{
    <div class="card my-1">
        <div class="card-body">
            @Html.HiddenFor(m => m.RequestDays[i].RequestDayId)
            <div class="form-group row">
                @Html.LabelFor(model => model.RequestDays[i].StartDate, "Date", new { @class = "col-sm-3" })
                <div class="col-sm-9">
                    @Html.EditorFor(model => model.RequestDays[i].StartDate, new { htmlAttributes = new { @class = "form-control date-picker" } })
                    @Html.ValidationMessageFor(model => model.RequestDays[i].StartDate)
                </div>
            </div>

            <div class="form-group row">
                @Html.LabelFor(x => x.RequestDays[i].ArrivalTime, "Arrival Time", new { @class = "col-sm-3" })
                <div class="col-sm-9">

                    @foreach (var option in CommonConstants.ArrivalTimeOptions)
                    {
                        @Html.RadioButtonFor(model => model.RequestDays[i].ArrivalTime, option.Key)
                        <span data-id="labelRadioButton">@option.Key</span>
                    }
                    @Html.ValidationMessageFor(model => model.RequestDays[i].ArrivalTime)
                </div>
            </div>

            <div class="form-group row">
                @Html.LabelFor(x => x.RequestDays[i].PatientHoursStart.TimeOption, "Patient hours start", new { @class = "col-sm-3" })
                <div class="col-sm-5">
                    @Html.DropDownListFor(model =>
                        model.RequestDays[i].PatientHoursStart.TimeOption,
                        CommonConstants.TimeOptions.Keys.Select(x => new SelectListItem
                        {
                            Text = x,
                            Value = x,
                            Selected = x == Model.RequestDays[i].PatientHoursStart.TimeOption
                        }),
                        new { @class = "form-control", @data_val = "false" })
                </div>
                <div class="col-sm-4">
                    @Html.DropDownListFor(model =>
                        model.RequestDays[i].PatientHoursStart.ETimeKind,
                        Enum.GetNames(typeof(ETimeKind)).Select(x => new SelectListItem
                        {
                            Text = x,
                            Value = x,
                            Selected = x == Model.RequestDays[i].PatientHoursStart.ETimeKind.ToString()
                        }),
                        new { @class = "form-control", @data_val = "false" })
                </div>
            </div>

            <div class="form-group row">
                @Html.LabelFor(x => x.RequestDays[i].LunchTime, "Lunch time", new { @class = "col-sm-3" })
                <div class="col-sm-9">
                    @Html.DropDownListFor(
                        model => model.RequestDays[i].LunchTime,
                        CommonConstants.LunchTimeOptions
                            .Select(x => new SelectListItem
                            {
                                Text = x,
                                Value = x,
                                Selected = x == Model.RequestDays[i].LunchTime
                            }),
                        new { @class = "form-control", @data_val = "false" })
                </div>
            </div>

            <div class="form-group row">
                @Html.LabelFor(x => x.RequestDays[i].PatientHoursEnd.TimeOption, "Patient hours end", new { @class = "col-sm-3" })
                <div class="col-sm-5">
                    @Html.DropDownListFor(
                        model => model.RequestDays[i].PatientHoursEnd.TimeOption,
                        CommonConstants.TimeOptions.Keys.Select(x => new SelectListItem
                        {
                            Text = x,
                            Value = x,
                            Selected = x == Model.RequestDays[i].PatientHoursEnd.TimeOption
                        }),
                        new { @class = "form-control", @data_val = "false" })
                </div>
                <div class="col-sm-4">
                    @Html.DropDownListFor(
                        model => model.RequestDays[i].PatientHoursEnd.ETimeKind,
                        Enum.GetNames(typeof(ETimeKind)).Select(x => new SelectListItem
                        {
                            Text = x,
                            Value = x,
                            Selected = x == Model.RequestDays[i].PatientHoursEnd.ETimeKind.ToString()
                        }),
                        new { @class = "form-control", @data_val = "false" })
                </div>
            </div>
            <div class="form-group row">
                @Html.LabelFor(x => x.RequestDays[i].Description, new { @class = "col-sm-3" })
                <div class="col-sm-9">
                    @Html.TextAreaFor(model => model.RequestDays[i].Description, new { @class = "form-control", @rows = 2 })
                </div>
            </div>

            <div class="d-flex">
                <button type="button" class="btn btn-success" data-action="add-empty-day-with-same-hours" name="submitButton" data-id="@i"><i class="fa fa-plus mr-2"></i>Add a day with the same hours</button>
                @if (Model.RequestDays.Count > 1)
                {
                    <a style="cursor: pointer" value="Delete" class="fa fa-2x fa-trash text-danger ml-auto align-self-center p-0 btn" data-action="delete-request-day" data-id="@Model.RequestDays[i].RequestDayId"></a>
                }
            </div>
        </div>
    </div>
}

<div class="alert alert-danger" style="display: none" data-id="validationMessage" id="validationMessageId" role="alert"></div>
<div class="alert alert-success" style="display: none" data-id="successMessage" id="successMessageId" role="alert">Save successfully</div>

<div class="form-group row">
    <div class="col-sm-12 my-2">
        @if ((User.IsInRole(Role.Facility) && Model.Status == ERequestStatus.Draft)
            || User.IsInRole(Role.Admin))
        {
            <button type="button" data-toggle="modal" data-target="#saveAndSubmitModal" class="btn btn-danger">Save and submit</button>
        }

        <button type="submit" data-action="save-changes" class="btn btn-primary">Save</button>

        @if (Model.Id.HasValue)
        {
            <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#deleteModal">
                Delete
            </button>
        }
        <a onclick="history.go(-1); return false;" href="#" class="btn btn-light">Back</a>

        <button type="button" class="btn btn-success" data-action="add-empty-day"><i class="fa fa-plus mr-2"></i>Add an empty day</button>
        <i id="spinner" class="fa fa-spinner fa-spin" style="padding-left: 15px; font-size: 27px; display: none"></i>
    </div>
</div>

<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Delete Request</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Do you want to delete this draft request?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                <button type="button" data-action="delete-request" class="btn btn-primary" data-dismiss="modal">Yes</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="saveAndSubmitModal" tabindex="-1" role="dialog" aria-labelledby="saveAndSubmitModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="saveAndSubmitModalLabel">Save and Submit Request</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>
                    The request will be saved and active. Please,
                    double-check all entered information.<br /><br />After clicking "Yes (auto-searching)" the system will start searching for
                    temporary staff.
                    @if (User.IsInRole(Role.Admin))
                    {
                        <span>
                            <br /><br />If you would like to create the request without automatically searching for temporary staff and fill manually please click "Yes (no-searching)"
                        </span>
                    }
                    <span>
                        <br /><br />If you would like to create the request with automatically searching for temporary staff without checking expiration day in licenses "Yes (AUTO-searching WCEL)"
                    </span>
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                <button type="button" data-action="save-and-submit" data-auto-searching="true" class="btn btn-primary" data-dismiss="modal">Yes (AUTO-searching)</button>
                @if (User.IsInRole(Role.Admin))
                {
                    <button type="button" data-action="save-and-submit" data-auto-searching="false" class="btn btn-primary" data-dismiss="modal">Yes (NO-searching)</button>
                }
                <button type="button" data-action="save-and-submit" data-auto-searching-without-exp-licenses-check="true" class="btn btn-primary" data-dismiss="modal">Yes (AUTO-searching WCEL)</button>
            </div>
        </div>
    </div>
</div>

<script>
    if (!!layout.InitializeDatePickers) {
        layout.InitializeDatePickers();
    }
</script>