@using DFI.Data.Requests
@using DFI.Data.Accounts
@model DFI.Data.Requests.RequestCalendarViewModel

@{
    ViewBag.Title = $"Calendar";
}

<script>
    $(document).ready(function () {
        var qPar = window.location.search.split('=')[1];

        if (!qPar)
            return;

        if (qPar == "History") {
            $("#calendar-history-btn").addClass("btn-warning").removeClass("btn-outline-warning");
        }
        else if (qPar == "Open") {
            $("#calendar-open-btn").addClass("btn-success").removeClass("btn-outline-success");
        }
        else if (qPar == "Scheduled") {
            $("#calendar-scheduled-btn").addClass("btn-primary").removeClass("btn-outline-primary");
        }
        else if (qPar == "RecentAndFuture") {
            $("#calendar-recent-and-future-btn").addClass("btn-info").removeClass("btn-outline-info");
        }
    })
</script>

@if (User.IsInRole(Role.Admin) || User.IsInRole(Role.Facility))
{
<div class="mb-1">
    @Html.ActionLink("Available Jobs", "Calendar", "Requests", new { eCalendarEvent = ECalendarEvent.Open }, new { @class = "btn btn-outline-success mr-2", id = "calendar-open-btn" })
    @Html.ActionLink("Scheduled", "Calendar", "Requests", new { eCalendarEvent = ECalendarEvent.Scheduled }, new { @class = "btn btn-outline-primary mr-2", id = "calendar-scheduled-btn" })
    @Html.ActionLink("All", "Calendar", "Requests", new { eCalendarEvent = ECalendarEvent.RecentAndFuture }, new { @class = "btn btn-outline-info mr-2", id = "calendar-recent-and-future-btn" })
    @Html.ActionLink("History", "Calendar", "Requests", new { eCalendarEvent = ECalendarEvent.History }, new { @class = "btn btn-outline-warning pull-right", id = "calendar-history-btn" })
</div>
}

<div id="calendar"></div>

@Html.ActionLink("Back", "Index", "Requests", new { area = "" }, new { @class = "btn btn-light mt-2" })

<div class="modal fade" id="requestModal" tabindex="-1" role="dialog" aria-labelledby="requestModalLabel" aria-hidden="true">
</div>

@Html.Partial("_CalendarInfoStatus")

@section styles
{
    @Styles.Render("~/Content/css/fullCalendar")
}

@section Scripts{
    @Scripts.Render("~/bundles/fullCalendar")

    <script>
        $(document).ready(function () {
            var events = "@Html.Raw(HttpUtility.JavaScriptStringEncode(Model.SerializedEventsData))";
            var eventsObject = JSON.parse(events);
            GenerateCalendar(eventsObject);
            RedirectToRequestDayModalIfNeeded();

            function RedirectToRequestDayModalIfNeeded() {
                var urlParams = new URLSearchParams(window.location.search);
                var requestId = urlParams.get('requestId');
                var requestDayId = urlParams.get('requestDayId');

                if (requestId && requestDayId) {
                    getCalendarRequest(requestId, requestDayId);
                }
            }

            function eventClickHandler(eventInfo){
                var eventId = eventInfo.event.id;
                var requestDayId = eventInfo.event.extendedProps.requestdayid;

                getCalendarRequest(eventId, requestDayId);
            }

            function getCalendarRequest(requestId, requestDayId) {
                $.ajax({
                    type: "GET",
                    url: '/Requests/CalendarRequest?id=' + requestId + "&requestDayId=" + requestDayId,
                    success: function (result) {
                        $("#requestModal").html(result);
                        $("#requestModal").modal('toggle');
                    },
                    error: function (ex) {
                    }
                });
            }

            function GenerateCalendar(eventsObject) {
                var calendarEl = document.getElementById('calendar');
                var calendar = new FullCalendar.Calendar(calendarEl, {
                    plugins: [ 'interaction', 'dayGrid', 'timeGrid' ],
                    events: eventsObject,
                    header: {
                      left: 'prev,next today',
                      center: 'title',
                      right: 'dayGridMonth,timeGridWeek,timeGridDay',
                    },
                    eventClick: eventClickHandler,
                    defaultView: localStorage.getItem("fcDefaultView") !== null ? localStorage.getItem("fcDefaultView") : 'dayGridMonth',
                    viewSkeletonRender: function (info) {
                      localStorage.setItem("fcDefaultView", info.view.type);
                    },
                    footer: {
                        left: 'prev,next',
                        right: 'dayGridMonth,timeGridWeek,timeGridDay'
                    }
                });
                calendar.render();
                InsertInfoButton();
            }

            function InsertInfoButton() {
                var afterElement = $(".fc-today-button");
                var html = '<a href="javascript:void(0)" id="info-status-link"  title="Info" data-toggle="modal" data-target="#info-status" class="btn btn-info media-off">' +
                                '<i class="fa fa-info-circle" aria-hidden="true"></i>' +
                            '</a>';

                $("#info-status-link").remove();
                afterElement.after(html);
            }

            $(document).on("click", ".fc-button", function (e) {
                InsertInfoButton();
            });
        })
    </script>
}