@model DFI.Data.Requests.RequestDto
@{
    ViewBag.Title = Model.Id.HasValue && Model.Id > 0 ? "Update request" : "Create new request";
}

@section scripts
{
    @Scripts.Render("~/bundles/datepicker")
    @Scripts.Render("~/bundles/requestForm")

    <script>
        $(function () {
            layout.InitializeDatePickers();
        });
    </script>
}

<h2 class="mb-4">@(Model.Id.HasValue && Model.Id > 0 ? "Update request" : "Create new request")</h2>

@{
    if (Model.Status != null)
    {
        Html.RenderPartial("_RequestStatus", Model.Status);
    }
}

<form id="ajax-form">
    <div id="ajax-partial-container">
        @Html.Partial("_RequestEditor", Model)
    </div>
</form>

@Styles.Render("~/Content/Styles/autocomplite-input")
@Scripts.Render("~/bundles/autocomplete_input")
@Scripts.Render("~/bundles/request-facility-location")