@model DFI.Data.Requests.RequestDto
@{
    ViewBag.Title = $"Request {Model.Id}";
}

@section scripts
{
    @Scripts.Render("~/bundles/requestForm")
    @Scripts.Render("~/bundles/assigneesRequest")
    @Scripts.Render("~/bundles/requestReviewDetail")

    <script>
        $(function () {
            layout.InitializeDatePickers();
        });
    </script>
}
@section styles {
    @Styles.Render("~/Content/css/jquery-bar-rating")
}

@Html.HiddenFor(c => c.Id)
@Html.HiddenFor(c => c.WhoCompletedRequestTempId)


<h2 class="mb-4">@($"Request {Model.Id}")</h2>

@{
    if (Model.Status != null)
    {
        Html.RenderPartial("_RequestStatus", Model.Status);
    }
}

<form id="ajax-form">
    <div id="ajax-partial-container">
        @Html.Partial("_RequestHoursEditor", Model)
    </div>
</form>
