@using DFI.Data.Requests
@using DFI.Data.Accounts
@using DFI.Helpers
@model DFI.Data.Requests.RequestSearchDto

@{
    ViewBag.Title = "Requests";
}

<h2>Requests</h2>
@if (!User.IsInRole(Role.Facility))
{
    <div class="form-group row">
        <label class="col-sm-3" for="FacilityName">Facility Name</label>
        <div class="col-sm-5">
            @Html.EditorFor(model => model.FacilityName, new { htmlAttributes = new { @class = "form-control", @data_type = "autocomplete-input", @data_action = "/Facilities/GetFacilityNames?eFacilityNameFor=RequestsList" } })
            @Html.ValidationMessageFor(model => model.FacilityName)
        </div>
    </div>
}

<div class="form-group row">
    <label class="col-sm-3" for="Licenses">Position</label>
    <div class="col-sm-5">
            <div class="fixedHeight">
                @foreach (var license in Model.Licenses)
                {
                    <div style="margin-left: 10px;" class="checkbox">
                        <label>
                            <input type="checkbox" data-group="licenses" value="@license">
                            @license
                        </label>
                    </div>
                }
            </div>
        </div>
</div>
<div class="form-group row">
    <label class="col-sm-3" for="Status">Status</label>
    <div class="col-sm-5">
        @foreach (var status in Enum.GetNames(typeof(ERequestStatus)).Where(c => c != ERequestStatus.Deleted.ToString()))
        {
            <label style="margin-right: 10px;">
                <input type="checkbox" data-group="statuses" value="@((int)Enum.Parse(typeof(ERequestStatus), status))" name="Status">
                @(((ERequestStatus)Enum.Parse(typeof(ERequestStatus), status)).GetDisplayName())
            </label>
        }
    </div>
</div>
<div class="form-group row">
    <div class="col-sm-6">
        <a href="javascript:void(0)" class="btn btn-primary" id="search">Search</a>
        <a href="javascript:void(0)" class="btn btn-secondary" id="cleanSearch">Clean filters</a>
        <span style="padding-left: 15px;">
            <i id="spinner" class="fa fa-spinner fa-spin" style="font-size: 27px;"></i>
        </span>
    </div>
</div>
<div id="requestListPartialView"></div>

@Scripts.Render("~/bundles/requestTableJS")

@Styles.Render("~/Content/Styles/autocomplite-input")
@Scripts.Render("~/bundles/autocomplete_input")