@model DFI.Data.Requests.RequestDto
@using DFI.Data.Accounts
@using DFI.Data.Requests

@{
    ViewBag.Title = $"Request {Model.Id}";
}

@section scripts {
    @Scripts.Render("~/bundles/assigneesRequest")
    @Scripts.Render("~/bundles/requestReviewDetail")
}

@section styles {
    @Styles.Render("~/Content/css/jquery-bar-rating")
}

@Html.HiddenFor(c => c.Id)
@Html.HiddenFor(c => c.WhoCompletedRequestTempId)


<h2 class="mb-4">@($"Request {Model.Id}")</h2>
@if (Model.Status.HasValue)
{
    @Html.Partial("_RequestStatus", Model.Status.Value)
}
@if (User.IsInRole(Role.Admin) || User.IsInRole(Role.Facility))
{
    <div class="mb-2 entity-state">
        <span class="badge badge-pill badge-light text-capitalize badge-lg">
            <i class="fa fa-usd" aria-hidden="true"></i>
            <span id="priceForOffice">@Model.PriceForOffice</span>
        </span>
    </div>
}
else if (User.IsInRole(Role.Temp))
{
    <div class="mb-2 entity-state">
        <span class="badge badge-pill badge-light text-capitalize badge-lg">
            <i class="fa fa-usd" aria-hidden="true"></i>
            <span id="priceForTemp">@Model.PriceForTemp</span>
        </span>
    </div>
}

@if (User.IsInRole(Role.Admin))
{
    <div class="form-group row">
        @Html.Label("Facility", new { @class = "col-sm-3" })
        <div class="col-sm-9">
            @Html.ActionLink(Model.FacilityName, "Facility", "Facilities", new { id = Model.FacilityId }, null)
            @Html.ValidationMessageFor(model => model.LicenseType)
        </div>
    </div>
}

@if (User.IsInRole(Role.Temp))
{
    <div class="form-group row">
        @Html.Label("Facility", new { @class = "col-sm-3" })
        <div class="col-sm-9">
            @Html.DisplayFor(model => model.FacilityName)
        </div>
    </div>
}

<div class="form-group row">
    @Html.Label("Location", new { @class = "col-sm-3" })
    <div class="col-sm-9">
        <a href="https://maps.google.com/?q=@Model.FacilityLocationFullAddress" target="_blank">@Model.FacilityLocationFullAddress</a>
        @Html.ValidationMessageFor(model => model.LicenseType)
    </div>
</div>

<div class="form-group row">
    @Html.LabelFor(c => c.LicenseType, "Position", new { @class = "col-sm-3" })
    <div class="col-sm-9">
        @Html.DisplayFor(c => c.LicenseType)
    </div>
</div>
<div class="form-group row">
    @Html.LabelFor(x => x.Description, new { @class = "col-sm-3" })
    <div class="col-sm-9">
        @Html.DisplayFor(model => model.Description)
    </div>
</div>
<div class="form-group row">
    @Html.LabelFor(x => x.PayType, "Payment Type", new { @class = "col-sm-3" })
    <div class="col-sm-9">
        @Html.DisplayFor(model => model.PayTypeDisplay)
    </div>
</div>
@if (User.IsInRole(Role.Admin) || User.IsInRole(Role.Facility))
{
    <div class="form-group row">
        @Html.LabelFor(x => x.IsAutoSearching, "Auto searching for temporary staff", new { @class = "col-sm-3" })
        <div class="col-sm-9">
            <span id="IsAutoSearching">@Model.IsAutoSearching</span>
        </div>
    </div>
    <div class="form-group row">
        @Html.LabelFor(x => x.IsAutoSearchingWithoutCheckingLicenseExpirationDay, "Auto searching for temporary staff without checking expiration day in licenses", new { @class = "col-sm-3" })
        <div class="col-sm-9">
            <span id="IsAutoSearching">@Model.IsAutoSearchingWithoutCheckingLicenseExpirationDay</span>
        </div>
    </div>
}
<span style="padding-left: 15px;">
    <i id="spinner" class="fa fa-spinner fa-spin" style="font-size: 27px; display: none"></i>
</span>
<ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
        <a class="nav-link active" id="RequestsDays-tab" data-toggle="tab" href="#RequestsDays" role="tab" aria-controls="home" aria-selected="true">Request's days</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="ProfessionalsAssignes-tab" data-toggle="tab" href="#ProfessionalsAssignes" role="tab" aria-controls="profile" aria-selected="false">Professionals</a>
    </li>
    @if (Model.Status == ERequestStatus.Canceled)
    {
        <li class="nav-item">
            <a class="nav-link" id="Cancelation-tab" data-toggle="tab" href="#cancelation_info" role="tab" aria-controls="profile" aria-selected="false">Cancelation</a>
        </li>
    }
    @if (Model.Status == ERequestStatus.Success)
    {
        <li class="nav-item">
            <a class="nav-link" id="review-tab" data-toggle="tab" href="#review_info" role="tab" aria-controls="profile" aria-selected="false">Review</a>
        </li>
    }
</ul>
<br />
<div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="RequestsDays" role="tabpanel" aria-labelledby="RequestsDays-tab">
        @for (int i = 0; i < Model.RequestDays.Count; i++)
        {
            <div class="card my-1">
                <div class="card-body">
                    <div class="form-group row">
                        @Html.LabelFor(model => model.RequestDays[i].StartDateUi, "Date", new { @class = "col-sm-3" })
                        <div class="col-sm-9">
                            @Html.DisplayFor(model => model.RequestDays[i].StartDateUi)
                        </div>
                    </div>

                    <div class="form-group row">
                        @Html.LabelFor(x => x.RequestDays[i].ArrivalTime, "Arrival Time", new { @class = "col-sm-3" })
                        <div class="col-sm-9">
                            @Html.DisplayFor(model => model.RequestDays[i].ArrivalTime)
                        </div>
                    </div>

                    <div class="form-group row">
                        @Html.LabelFor(x => x.RequestDays[i].PatientHoursStart, "Patient hours start", new { @class = "col-sm-3" })
                        <div class="col-sm-9">
                            @Html.DisplayFor(model => model.RequestDays[i].PatientHoursStart.TimeOption)
                            @Html.DisplayFor(model => model.RequestDays[i].PatientHoursStart.ETimeKind)
                        </div>
                    </div>

                    <div class="form-group row">
                        @Html.LabelFor(x => x.RequestDays[i].LunchTime, "Lunch time", new { @class = "col-sm-3" })
                        <div class="col-sm-9">
                            @Html.DisplayFor(model => model.RequestDays[i].LunchTime)
                        </div>
                    </div>

                    <div class="form-group row">
                        @Html.LabelFor(x => x.RequestDays[i].PatientHoursEnd, "Patient hours end", new { @class = "col-sm-3" })
                        <div class="col-sm-9">
                            @Html.DisplayFor(model => model.RequestDays[i].PatientHoursEnd.TimeOption)
                            @Html.DisplayFor(model => model.RequestDays[i].PatientHoursEnd.ETimeKind)
                        </div>
                    </div>
                    <div class="form-group row">
                        @Html.LabelFor(x => x.RequestDays[i].Description, new { @class = "col-sm-3" })
                        <div class="col-sm-9">
                            @Html.DisplayFor(model => model.RequestDays[i].Description)
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
    <div class="tab-pane fade" id="ProfessionalsAssignes" role="tabpanel" aria-labelledby="ProfessionalsAssignes-tab"></div>
    <div class="tab-pane fade" id="cancelation_info" role="tabpanel" aria-labelledby="Cancelation-tab">
        <div class="form-group row">
            @Html.LabelFor(x => x.DateOfCancelation, "Date of cancellation", new { @class = "col-sm-3" })
            <div class="col-sm-9">
                @Html.DisplayFor(model => model.DateOfCancelation)
            </div>
        </div>
        <div class="form-group row">
            @Html.LabelFor(x => x.RoleWhoCanceled, "Role who canceled", new { @class = "col-sm-3" })
            <div class="col-sm-9">
                @Html.DisplayFor(model => model.RoleWhoCanceled)
            </div>
        </div>
        <div class="form-group row">
            @Html.LabelFor(x => x.EmailWhoCanceled, "Email who canceled", new { @class = "col-sm-3" })
            <div class="col-sm-9">
                @Html.DisplayFor(model => model.EmailWhoCanceled)
            </div>
        </div>
        <div class="form-group row">
            @Html.LabelFor(x => x.ReasonOfCancelation, "Reason of cancellation", new { @class = "col-sm-3" })
            <div class="col-sm-9">
                @Html.DisplayFor(model => model.ReasonOfCancelation)
            </div>
        </div>
    </div>
    <div class="tab-pane fade" id="review_info" role="tabpanel" aria-labelledby="review-tab"></div>
</div>

<a onclick="history.go(-1); return false;" href="#" class="btn btn-light">Back</a>

@if ((Model.Status == ERequestStatus.InProgress || Model.Status == ERequestStatus.Filled || Model.Status == ERequestStatus.Active || Model.Status == ERequestStatus.NeedsApproval) && (User.IsInRole(Role.Admin) || User.IsInRole(Role.Facility)))
{
    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#cancelModal">
        Cancel
    </button>
}


@Html.Partial("_RequestCancelPopup")