﻿@model DFI.Data.ProfessionalReviews.PageProfessionalReviews
@using PagedList.Mvc;

<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col" class="d-none d-lg-table-cell">RequestId</th>
            <th scope="col" class="d-none d-lg-table-cell">Position</th>
            <th scope="col" class="d-none d-lg-table-cell">Rating</th>
            <th scope="col" class="d-none d-lg-table-cell">IsBlocked</th>
            <th scope="col" class="d-none d-lg-table-cell">Description</th>
            <th scope="col" class="d-none d-lg-table-cell">Questionnaire</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var temp in Model.OwnProfessionalReviews)
        {
        <tr>
            <td class="d-none d-md-table-cell">@temp.RequestId</td>
            <td class="d-none d-md-table-cell">@temp.Position</td>
            <td class="d-none d-md-table-cell">@temp.Rating</td>
            <td class="d-none d-lg-table-cell">@temp.IsBlocked</td>
            <td class="d-none d-md-table-cell">@temp.Description</td>
            <td class="d-none d-md-table-cell">
                <p>Did Arrive In Timely Manner: @temp.DidArriveInTimelyManner</p>
                <p>Did Present In Professional Attire: @temp.DidPresentInProfessionalAttire</p>
                <p>Did Interact Well With Staff: @temp.DidInteractWellWithStaff</p>
                <p>Did Interact Well With Customers: @temp.DidInteractWellWithCustomers</p>
                <p>Was Competent In Digital Charting And Documentation: @temp.WasCompetentInDigitalChartingAndDocumentation</p>
            </td>
        </tr>
        }
    </tbody>
</table>
<br />
Page @(Model.OwnProfessionalReviews.PageCount < Model.OwnProfessionalReviews.PageNumber ? 0 : Model.OwnProfessionalReviews.PageNumber) of @Model.OwnProfessionalReviews.PageCount

@if (Model.OwnProfessionalReviews.PageCount > 1)
{
    @Html.PagedListPager(Model.OwnProfessionalReviews, page => Url.Action("Index",
        new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }), new PagedListRenderOptions()
        {
            MaximumPageNumbersToDisplay = 5
        })
}
