﻿@model DFI.Data.ProfessionalReviews.ProfessionalReviewDto


@using (Html.BeginForm("Review", "ProfessionalReviews"))
{
    @Html.HiddenFor(x => x.TempId)
    @Html.HiddenFor(x => x.RequestId)
    @Html.HiddenFor(x => x.RequestDisplayName)
    @Html.HiddenFor(x => x.TempDisplayName)
    @Html.HiddenFor(x => x.TempPhoto)
    @Html.HiddenFor(x => x.IsReadonly)

    <div class="form-group row">
        <label class="col-sm-3">Request date(s)</label>
        <div class="col-sm-9">
            @Html.ActionLink(Model.RequestDisplayName, "Edit", "Requests", new { id = Model.RequestId }, null)
        </div>
    </div>

    <div class="form-group row">
        <label class="col-sm-3">Position</label>
        <div class="col-sm-9">
            @Html.DisplayFor(m => m.Position)
        </div>
    </div>

    <div class="form-group row">
        <label class="col-sm-3">Professional</label>
        <div class="col-sm-9">
            <span>@Model.TempDisplayName</span>
            @if (Model.TempPhoto.Length > 0)
            {
                <img class="img-fluid" src="@Model.TempPhoto" alt="@Model.TempDisplayName" style="display: flex; width: 300px;" />
            }
        </div>
    </div>

    <div class="form-group row">
        @Html.LabelFor(x => x.Rating, new { @class = "col-sm-3" })
        <div class="col-sm-9">
            @if (Model.IsReadonly)
            {
                <span><b style="font-size: xx-large;">@Model.Rating</b></span>
            }
            else
            {
                @Html.DropDownListFor(
                    m => m.Rating,
                    Enumerable.Range(1, 10).Select(i => new SelectListItem {Text = i.ToString(), Value = i.ToString()}))
                @Html.ValidationMessageFor(x => x.Rating)
            }

        </div>
    </div>

    <div class="form-group row">
        @Html.LabelFor(x => x.DidArriveInTimelyManner, new { @class = "col-sm-3" })
        <div class="col-sm-9">
            @Html.RadioButtonFor(x => x.DidArriveInTimelyManner, true, new {@data_group = "disabled"}) <label class="mr-5" data-group="label-radio">Yes</label>
            @Html.RadioButtonFor(x => x.DidArriveInTimelyManner, false, new {@data_group = "disabled"}) <label data-group="label-radio">No</label>
        </div>
    </div>

    <div class="form-group row">
        @Html.LabelFor(x => x.DidPresentInProfessionalAttire, new { @class = "col-sm-3" })
        <div class="col-sm-9">
            @Html.RadioButtonFor(x => x.DidPresentInProfessionalAttire, true, new { @data_group = "disabled" }) <label class="mr-5" data-group="label-radio">Yes</label>
            @Html.RadioButtonFor(x => x.DidPresentInProfessionalAttire, false, new { @data_group = "disabled" }) <label data-group="label-radio">No</label>
        </div>
    </div>

    <div class="form-group row">
        @Html.LabelFor(x => x.DidInteractWellWithStaff, new { @class = "col-sm-3" })
        <div class="col-sm-9">
            @Html.RadioButtonFor(x => x.DidInteractWellWithStaff, true, new { @data_group = "disabled" }) <label class="mr-5" data-group="label-radio">Yes</label>
            @Html.RadioButtonFor(x => x.DidInteractWellWithStaff, false, new { @data_group = "disabled" }) <label data-group="label-radio">No</label>
        </div>
    </div>

    <div class="form-group row">
        @Html.LabelFor(x => x.DidInteractWellWithCustomers, new { @class = "col-sm-3" })
        <div class="col-sm-9">
            @Html.RadioButtonFor(x => x.DidInteractWellWithCustomers, true, new { @data_group = "disabled" }) <label class="mr-5" data-group="label-radio">Yes</label>
            @Html.RadioButtonFor(x => x.DidInteractWellWithCustomers, false, new { @data_group = "disabled" }) <label data-group="label-radio">No</label>
        </div>
    </div>

    <div class="form-group row">
        @Html.LabelFor(x => x.WasCompetentInDigitalChartingAndDocumentation, new { @class = "col-sm-3" })
        <div class="col-sm-9">
            @Html.RadioButtonFor(x => x.WasCompetentInDigitalChartingAndDocumentation, true, new { @data_group = "disabled" }) <label class="mr-5" data-group="label-radio">Yes</label>
            @Html.RadioButtonFor(x => x.WasCompetentInDigitalChartingAndDocumentation, false, new { @data_group = "disabled" }) <label data-group="label-radio">No</label>
        </div>
    </div>

    <div class="form-group row">
        @Html.LabelFor(x => x.IsBlocked, new { @class = "col-sm-3" })
        <div class="col-sm-9">
            @Html.EditorFor(x => x.IsBlocked, new { htmlAttributes = new { @data_group = "disabled" } })
        </div>
    </div>

    <div class="form-group row">
        @Html.LabelFor(x => x.Description, new { @class = "col-sm-3" })
        <div class="col-sm-9">
            @Html.EditorFor(x => x.Description, new { htmlAttributes = new { @class = "form-control", @data_group="disabled" } })
            @Html.ValidationMessageFor(x => x.Description)
        </div>
    </div>

    if (Model.IsReadonly == false)
    {
        <div class="form-group row">
            <div class="col-sm-12 my-2">
                <button type="submit" class="btn btn-primary">Save</button>
            </div>
        </div>
    }
}


