﻿@{
    ViewBag.Title = "AllProfessionalReviews";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    var firstName = char.ToUpper(ViewBag.FirstName[0]) + ViewBag.FirstName.Substring(1).ToLower();
    var lastName = char.ToUpper(ViewBag.LastName[0]) + ViewBag.LastName.Substring(1).ToLower();
}

<h2>All Professional's Reviews for @firstName @lastName</h2>

<div id="allReviewsDiv"></div>

@Scripts.Render("~/bundles/all-reviews-table")