@{
    ViewBag.Title = "Professional Review";
}
@section scripts {
    @Scripts.Render("~/bundles/jquery-bar-rating")
    @Scripts.Render("~/bundles/professional-review")
    @Scripts.Render("~/bundles/reviewDetail")
}

@section styles {
    @Styles.Render("~/Content/css/jquery-bar-rating")
}

<h2>Professional Review</h2>
<div id="review-detail"></div>
