@model DFI.Data.Temps.ListTempDto
@using PagedList.Mvc;

<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col" class="d-none d-md-table-cell">
                <a href="javascript:void(0)" class="notunderline" data-group="column" data-id="firstname">First Name</a>
                <i class="fa fa-sort-alpha-desc" style="display: none" aria-hidden="true"></i>
            </th>
            <th scope="col">
                <a href="javascript:void(0)" class="notunderline" data-group="column" data-id="lastname">Last Name</a>
                <i class="fa fa-sort-alpha-desc" style="display: none" aria-hidden="true"></i>
            </th>
            <th scope="col" class="d-none d-lg-table-cell">
                Email
            </th>
            <th scope="col" class="d-none d-lg-table-cell">
                Phone
            </th>
            <th scope="col"  class="d-none d-md-table-cell">
                Licenses
            </th>
            <th scope="col">
                <a href="javascript:void(0)" class="notunderline" data-group="column" data-id="status">Status</a>
                <i class="fa fa-sort-alpha-desc" style="display: none" aria-hidden="true"></i>
            </th>
            <th scope="col" class="d-none d-md-table-cell">
                Days
            </th>
            <th scope="col">
                Actions
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var temp in Model.TempShortDtos)
        {
            <tr>
                <td class="d-none d-md-table-cell">@temp.FirstName</td>
                <td>@temp.LastName</td>
                <td class="d-none d-lg-table-cell text-break">@temp.Email</td>
                <td class="d-none d-lg-table-cell">@temp.PhoneNumber</td>
                <td class="d-none d-md-table-cell">@temp.Licenses</td>
                <td>@temp.Status</td>
            <td>@temp.Days</td>
                <td>
                    <a href="/professionals/professional/@temp.TempId">
                        <i class="fa fa-share-square-o blueIcon" aria-hidden="true"></i>
                    </a> 
                    <a href="javascript:void(0)" data-id="sendEmailDirectly" data-email="@temp.Email" 
                       title="Send email directly" data-toggle="modal" data-fullname="@temp.FirstName @temp.LastName" data-target="#sendEmailDirectlyModal"> 
                        <i class="fa fa-envelope envelopIcon" aria-hidden="true"></i>
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
<br />
Page @(Model.TempShortDtos.PageCount < Model.TempShortDtos.PageNumber ? 0 : Model.TempShortDtos.PageNumber) of @Model.TempShortDtos.PageCount

@if (Model.TempShortDtos.PageCount > 1)
{
    @Html.PagedListPager(Model.TempShortDtos, page => Url.Action("Index",
        new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }),new PagedListRenderOptions()
        {
            MaximumPageNumbersToDisplay = 5
        })
}
