@using DFI.Data.Emails
@using DFI.Helpers
@model DFI.Data.Temps.TempSearchDto
@{
    ViewBag.Title = "Index";
}
<h2>Professionals</h2>
<div class="form-group row">
    <label class="col-sm-3" for="FirstName">First Name</label>
    <div class="col-sm-5">
        @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control", @data_type = "autocomplete-input", @data_action = "/Professionals/GetTempFirstNames" } })
        @Html.ValidationMessageFor(model => model.FirstName)
    </div>
</div>
<div class="form-group row">
    <label class="col-sm-3" for="LastName">Last Name</label>
    <div class="col-sm-5">
        @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control", @data_type = "autocomplete-input", @data_action = "/Professionals/GetTempLastNames" } })
        @Html.ValidationMessageFor(model => model.LastName)
    </div>
</div>
<div class="form-group row">
    <label class="col-sm-3" for="Email">Email</label>
    <div class="col-sm-5">
        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", @data_type = "autocomplete-input", @data_action = "/Professionals/GetTempEmail" } })
        @Html.ValidationMessageFor(model => model.Email)
    </div>
</div>
<div class="form-group row">
    <label class="col-sm-3" for="PhoneNumber">Phone Number</label>
    <div class="col-sm-5">
        @Html.EditorFor(model => model.PhoneNumber, new { htmlAttributes = new { @class = "form-control", @data_type = "autocomplete-input", @data_action = "/Professionals/GetTempPhoneNumber" } })
        @Html.ValidationMessageFor(model => model.PhoneNumber)
    </div>
</div>
<div class="form-group row">
    <label class="col-sm-3" for="Licenses">Licenses</label>
    <div class="col-sm-5">
        <div class="fixedHeight">
            @foreach (var license in Model.Licenseses)
            {
                <div style="margin-left: 10px;" class="checkbox">
                    <label>
                        <input type="checkbox" data-group="licenses" value="@license">
                        @license
                    </label>
                </div>
            }
        </div>
    </div>
</div>
<div class="form-group row">
    <label class="col-sm-3" for="Status">Status</label>
    <div class="col-sm-5">
        @foreach (var status in Enum.GetNames(typeof(Helper.EState)).Where(x => x != Helper.EState.Deleted.ToString() && x != Helper.EState.New.ToString()))
        {
            <label style="margin-right: 10px;">
                <input type="checkbox" data-group="statuses" value="@((int)Enum.Parse(typeof(Helper.EState), status))" name="ResourceType">
                @status
            </label>
        }
    </div>
</div>
<div class="form-group row">
    <label class="col-sm-3" for="Day">Days available to work</label>
    <div class="col-sm-5">
        @for (int i = 0; i < 7; i++)
        {
            <label for="@i-day" style="margin-right: 10px;">
                <input type="checkbox" data-group="days"  value ="@Enum.GetName(typeof(DayOfWeek), i)" name="ResourceType" id="@i-day">
                @Enum.GetName(typeof(DayOfWeek), i).Substring(0, 2)
            </label>
        }
    </div>
</div>
<div class="form-group row">
    <div class="col-sm-4">
        <a href="javascript:void(0)" class="btn btn-primary" id="search">Search</a>
        <a href="javascript:void(0)" class="btn btn-secondary" id="cleanSearch">Clean filters</a>
        <a href="javascript:void(0)" class="btn btn-warning" id="showPopupForSendEmailToAll" data-toggle="modal" data-target="#sendEmailToAllModal">Email to all</a>
        <span style="padding-left: 15px;">
            <i id="spinner" class="fa fa-spinner fa-spin" style="font-size: 27px;"></i>
        </span>
    </div>
</div>
<div id="tempListPartialView"></div>

@Html.Partial("_SendBulkEmail", new EmailLightDto())
@Html.Partial("_SendDirectlyEmail", new EmailLightDto())
@Html.Partial("_ToastPopups")
@Scripts.Render("~/bundles/tempTableJS")

@Styles.Render("~/Content/Styles/autocomplite-input")
@Scripts.Render("~/bundles/autocomplete_input")
