﻿@model DFI.Data.Temps.TempDto
@using DFI.Data.Accounts
@using DFI.Data.Emails
@using DFI.Helpers
@using DFI.Data.Temps
@{
    ViewBag.Title = "Professional";
}

<h2>Professional</h2>
@Html.Partial("_Status", (Helper.EState)Model.TempStatus)
<div class="mb-2 entity-state">
    <span class="badge badge-pill badge-light text-capitalize badge-lg">
        <i class="fa fa-thumbs-o-up" aria-hidden="true"></i> @Model.Rating.GetTwoDecimalPlacesStringOrNa()
    </span>
    @if (this.User.IsInRole(Role.Admin))
    {
        <a class="btn btn-light" href="/ProfessionalReviews/AllProfessionalReviews?tempId=@Model.Id&firstName=@Model.FirstName&lastName=@Model.LastName">
            Reviews <span class="badge badge-light">@Model.ReviewCount</span>
        </a>
    }
</div>

@using (Ajax.BeginForm("Professional", "Professionals", null, new AjaxOptions()
{
    HttpMethod = "POST",
    InsertionMode = InsertionMode.Replace,
    LoadingElementId = "spinner",
    OnSuccess = "fnSuccess"
}, new { enctype = "multipart/form-data", id = "TempForm" }))

{
    <script type="text/javascript">
        function fnSuccess(message) {
            console.log(message);
            if (message) {
                $("#validationMessageId").html(message);
                $("#validationMessageId").show();
            } else {
                $("#createAccount").attr('disabled', 'disabled');
                $("#validationMessageId").hide();
                $("#successMessage").show();
                setTimeout(function () { location.reload() }, 1000);
            }
        }
    </script>

    @Html.HiddenFor(c => c.Id)
    @Html.HiddenFor(c => c.TempStatus)
    @Html.HiddenFor(c => c.PersonId)

    for (int i = 0; i < Model.DocumentDtos.Count; i++)
    {
        @Html.HiddenFor(model => Model.DocumentDtos[i].Id)
        @Html.HiddenFor(model => Model.DocumentDtos[i].Type)
        @Html.HiddenFor(model => Model.DocumentDtos[i].Name)
    }

    <div class="form-group row">
        <div class="col-sm-3">
            <img src='@Url.Action("GetTempPhoto", "Professionals", new {id = Model.DocumentDtos.FirstOrDefault(c => c.Type == EDocumentType.Photo.ToString())?.Id})' id="tempPhoto" class="img-fluid img-thumbnail" alt="Photo" />
        </div>
        <div class="col-sm-9">
            <div class="form-group row">
                @Html.LabelFor(c => c.Photo, "Upload Photo", new { @class = "col-sm-3" })
                <div class="col-sm-4">
                    <div class="custom-file" id="photoFile" lang="es">
                        @Html.TextBoxFor(m => m.Photo, new { type = "file", data_id = "file", id = "TempDto_Photo", @class = "custom-file-input", aria_describedby = "fileHelp" })
                        @Html.LabelFor(c => c.Photo, "Select photo...", new { @class = "custom-file-label" })
                    </div>
                </div>
            </div>
            @foreach (var doc in Model.DocumentDtos.Where(c => c.Type == EDocumentType.Photo.ToString()))
            {
                <div class="form-group row">
                    <label class="col-sm-3"><i class="fa fa-download" aria-hidden="true"></i></label>
                    <div class="col-sm-4">
                        <a href="/Professionals/DownloadFile/@doc.Id" title="Download" class="notunderline" data-type="@doc.Type" data-id="@doc.Id" data-group="documents">
                            @doc.Name
                        </a>
                    </div>
                    <div class="col-sm-5">
                    </div>
                </div>
            }

            <div class="form-group row">
                @Html.LabelFor(model => model.FirstName, "First Name", new { @class = "col-sm-3" })
                <div class="col-sm-9">
                    @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.FirstName)
                </div>
            </div>

            <div class="form-group row">
                @Html.LabelFor(model => model.LastName, "Last Name", new { @class = "col-sm-3" })
                <div class="col-sm-9">
                    @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.LastName)
                </div>
            </div>
            @Html.HiddenFor(c => c.Email)
            <div class="form-group row">
                @Html.LabelFor(model => model.Email, "Email", new { @class = "col-sm-3" })
                <div class="col-sm-9">
                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control mb-2", @disabled = "disabled" } })
                    <p id="newEmailInfo" @(string.IsNullOrEmpty(Model.NewEmail) ? "style=display:none" : "style=display:block")>
                        The new email, <b><span id="newEmailRequest">@Model.NewEmail</span></b>, is waiting confirmation
                    </p>
                    <p>
                        <a href="javascript:void()" class="btn btn-info" data-toggle="modal" data-target="#changeEmailModal">Change email</a>
                    </p>
                </div>
            </div>
        </div>
    </div>

    @Html.HiddenFor(c => c.AddressFromGoogle, new { data_id = "addressFromGoogle" })

    <div class="form-group row">
        @Html.LabelFor(model => model.Apartment, "Apartment", new { @class = "col-sm-3" })
        <div class="col-sm-9">
            @Html.EditorFor(model => model.Apartment, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Apartment)
        </div>
    </div>

    @Html.Partial("_Map");

    <div class="form-group row">
        @Html.LabelFor(model => model.CellPhone, "Cell Phone", new { @class = "col-sm-3" })
        <div class="col-sm-9">
            @Html.EditorFor(model => model.CellPhone, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.CellPhone)
        </div>
    </div>

    <div class="form-group row">
        @Html.LabelFor(model => model.HomePhone, "Home Phone", new { @class = "col-sm-3" })
        <div class="col-sm-9">
            @Html.EditorFor(model => model.HomePhone, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.HomePhone)
        </div>
    </div>

    <div class="form-group row">
        @Html.LabelFor(model => model.DistanceToWork, "How far are you willing to travel? (miles)", new { @class = "col-sm-3" })
        <div class="col-sm-9">
            @Html.EditorFor(model => model.DistanceToWork, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.DistanceToWork)
        </div>
    </div>

    <div class="form-group row">
        @Html.LabelFor(model => model.WhoReferenced, "Who can we thank for referring you?", new { @class = "col-sm-3" })
        <div class="col-sm-9">
            @Html.EditorFor(model => model.WhoReferenced, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.WhoReferenced)
        </div>
    </div>

    <div id="licensesSection">
        @for (int i = 0; i < Model.LicenseDtos.Count; i++)
        {
            <div class="card form-group" data-id=@("licenseNumber" + i)>
                @Html.HiddenFor(c => c.LicenseDtos[i].LicenseType)
                @if (Model.LicenseDtos[i].LicenseType != ENoLicensePosition.DentalAssistant.GetDisplayName())
                {
                    @Html.HiddenFor(c => c.LicenseDtos[i].LicenseNumber)
                }
                @Html.HiddenFor(c => c.LicenseDtos[i].ExpiryDate)
                @Html.HiddenFor(c => c.LicenseDtos[i].BoardName)
                @Html.HiddenFor(c => c.LicenseDtos[i].Status)
                @Html.HiddenFor(c => c.LicenseDtos[i].Profession)
                @Html.HiddenFor(c => c.LicenseDtos[i].IsDeleted, new { @data_name = "IsDeletedLicense" })
                <div class="card-header" id=@("headingOne" + i)>
                    <h5 class="mb-0">
                        <button class="btn btn-link" data-toggle="collapse" data-target=@("#collapseOne" + i) aria-expanded="true" aria-controls=@("collapseOne" + i)>
                            @Model.LicenseDtos[i].LicenseType @Model.LicenseDtos[i].LicenseNumber <br />
                            @if (Model.LicenseDtos[i].ExpiryDate != null)
                            {
                                <span style="color: red">EXP: @(Model.LicenseDtos[i].ExpiryDate?.ToString("M/d/yyyy"))</span>
                            }
                        </button>
                        @if (Model.LicenseDtos.Count > 1)
                        {
                            <span class="fa fa-trash pull-right" style="color: red; cursor: pointer" title="Delete license" data-action="deleteLicense"
                                  data-licensename="@Model.LicenseDtos[i].LicenseType" data-id=@("licenseNumber" + i)
                                  data-toggle="modal" data-target="#deleteLicenseModal"></span>
                        }
                    </h5>
                </div>

                <div id=@("collapseOne" + i) class="collapse" aria-labelledby=@("headingOne" + i) data-parent="#licensesSection">
                    <div class="card-body">

                        @if (Model.LicenseDtos[i].LicenseType == ENoLicensePosition.DentalAssistant.GetDisplayName())
                        {
                            <div class="form-group row">
                                @Html.LabelFor(model => model.LicenseDtos[i].LicenseNumber, "License number", new { @class = "col-sm-3" })
                                <div class="col-sm-9">
                                    @Html.EditorFor(model => model.LicenseDtos[i].LicenseNumber, new { htmlAttributes = new { @class = "form-control", data_name = "license_number" } })
                                    @Html.ValidationMessageFor(model => model.LicenseDtos[i].LicenseNumber)
                                </div>
                            </div>
                        }

                        <div class="form-group row">
                            @Html.LabelFor(model => model.LicenseDtos[i].DesiredHourlyRate, "Desired hourly rate", new { @class = "col-sm-3" })
                            <div class="col-sm-9">
                                @Html.EditorFor(model => model.LicenseDtos[i].DesiredHourlyRate, new { htmlAttributes = new { @class = "form-control", data_name = "desired_hourly_rate" } })
                                @Html.ValidationMessageFor(model => model.LicenseDtos[i].DesiredHourlyRate)
                            </div>
                        </div>

                        <div class="form-group row">
                            @Html.LabelFor(model => model.LicenseDtos[i].YearsInPractice, "Years in practice", new { @class = "col-sm-3" })
                            <div class="col-sm-9">
                                @Html.EditorFor(model => model.LicenseDtos[i].YearsInPractice, new { htmlAttributes = new { @class = "form-control", data_name = "years_in_practice" } })
                                @Html.ValidationMessageFor(model => model.LicenseDtos[i].YearsInPractice)
                            </div>
                        </div>

                        <div class="form-group row">
                            @Html.LabelFor(model => model.LicenseDtos[i].UniqueQualities, "What unique qualities do you have to offer in your field?", new { @class = "col-sm-3" })
                            <div class="col-sm-9">
                                @Html.EditorFor(model => model.LicenseDtos[i].UniqueQualities, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.LicenseDtos[i].UniqueQualities)
                            </div>
                        </div>

                        <div class="form-group row">
                            @Html.LabelFor(model => model.LicenseDtos[i].CurrentEmployer, "Current employer", new { @class = "col-sm-3" })
                            <div class="col-sm-9">
                                @Html.EditorFor(model => model.LicenseDtos[i].CurrentEmployer, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.LicenseDtos[i].CurrentEmployer)
                            </div>
                        </div>

                        <div class="form-group row">
                            @Html.LabelFor(model => model.LicenseDtos[i].CurrentEmployerPhoneNumber, "Current employer phone number", new { @class = "col-sm-3" })
                            <div class="col-sm-9">
                                @Html.EditorFor(model => model.LicenseDtos[i].CurrentEmployerPhoneNumber, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.LicenseDtos[i].CurrentEmployerPhoneNumber)
                            </div>
                        </div>

                        <div class="form-group row">
                            @Html.LabelFor(model => model.LicenseDtos[i].CurrentEmployerEmail, "Current employer email", new { @class = "col-sm-3" })
                            <div class="col-sm-9">
                                @Html.EditorFor(model => model.LicenseDtos[i].CurrentEmployerEmail, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.LicenseDtos[i].CurrentEmployerEmail)
                            </div>
                        </div>

                        @if (Model.LicenseDtos[i].LicenseType == ENoLicensePosition.DentalAssistant.GetDisplayName())
                        {
                            <div class="form-group row">
                                @Html.LabelFor(c => c.RadiologyLicense, "Upload Radiology License", new { @class = "col-sm-3" })
                                <div class="col-sm-4">
                                    <div class="custom-file" id="radiologyLicenseFile" lang="es">
                                        @Html.TextBoxFor(m => m.RadiologyLicense, new { type = "file", data_id = "file", id = "TempDto_RadiologyLicense", @class = "custom-file-input", aria_describedby = "fileHelp" })
                                        @Html.LabelFor(c => c.RadiologyLicense, "Select file...", new { @class = "custom-file-label" })
                                    </div>
                                </div>
                            </div>

                            foreach (var doc in Model.DocumentDtos.Where(c => c.Type == EDocumentType.RadiologyLicense.ToString()))
                            {
                                <div class="form-group row">
                                    <label class="col-sm-3"><i class="fa fa-download" aria-hidden="true"></i></label>
                                    <div class="col-sm-4">
                                        <a href="/Professionals/DownloadFile/@doc.Id" title="Download" class="notunderline" data-type="@doc.Type" data-id="@doc.Id" data-group="documents">
                                            @doc.Name
                                        </a>
                                    </div>
                                    <div class="col-sm-5">
                                    </div>
                                </div>
                            };
                        }

                    </div>
                </div>
            </div>
        }
    </div>

    <div class="form-group row">
        @Html.LabelFor(c => c.IsReadyToPermanentWork, "Are interested in being on our contact list for permanent placement opportunities?", new { @class = "col-sm-3" })
        <div class="col-sm-9">
            @Html.CheckBoxFor(model => model.IsReadyToPermanentWork, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.IsReadyToPermanentWork)
        </div>
    </div>

    <div class="form-group row">
        @Html.LabelFor(c => c.IsGetSMSForNewRequest, "Receive notifications via text message for new requests?", new { @class = "col-sm-3" })
        <div class="col-sm-9">
            @Html.CheckBoxFor(model => model.IsGetSMSForNewRequest, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.IsGetSMSForNewRequest)
        </div>
    </div>

    <div class="form-group row">
        @Html.LabelFor(model => model.TempAvailableDaysDto, "What days of the week are you available to work?", new { @class = "col-sm-3" })
        <div class="col-sm-9">
            <div class="form-group row">
                @for (int i = 0; i < 7; i++)
                {
                        <label class="col-sm-1">
                            @Html.CheckBoxFor(c => c.TempAvailableDaysDto[i].IsSelected, new { @class = "day-checkbox" })
                            @Enum.GetName(typeof(DayOfWeek), i).Substring(0, 2)
                            @Html.HiddenFor(model => model.TempAvailableDaysDto[i].DayOfWeekAvailable, new { @Value = i })
                        </label>          
                }
            </div>
            @Html.ValidationMessageFor(model => model.TempAvailableDaysDto)
        </div>
    </div>

    if (this.User.IsInRole(Role.Admin))
    {
        <div class="form-group row">
            @Html.LabelFor(model => model.AdministratorsNotes, "Administrators notes", new { @class = "col-sm-3" })
            <div class="col-sm-9">
                @Html.TextAreaFor(model => model.AdministratorsNotes, new { @class = "form-control", rows = 5 })
                @Html.ValidationMessageFor(model => model.AdministratorsNotes)
            </div>
        </div>
    }

    foreach (var doc in Model.DocumentDtos.Where(c => c.Type != EDocumentType.Photo.ToString() && c.Type != EDocumentType.RadiologyLicense.ToString()))
    {
        <div class="form-group row">
            <label class="col-sm-3"><i class="fa fa-download" aria-hidden="true"></i></label>
            <div class="col-sm-4">
                <a href="/Professionals/DownloadFile/@doc.Id" title="Download" class="notunderline" data-type="@doc.Type" data-id="@doc.Id" data-group="documents">
                    @doc.Name
                </a>
            </div>
            <div class="col-sm-5">
            </div>
        </div>
    };

    <div class="form-group row">
        @Html.LabelFor(c => c.Certificate, "Upload Act 31 certificate", new { @class = "col-sm-3" })
        <div class="col-sm-4">
            <div class="custom-file" id="certificateFile" lang="es">
                @Html.TextBoxFor(m => m.Certificate, new { type = "file", data_id = "file", id = "TempDto_Certificate", @class = "custom-file-input", aria_describedby = "fileHelp" })
                @Html.LabelFor(c => c.Certificate, "Select certificate...", new { @class = "custom-file-label" })
            </div>
        </div>
    </div>

    <div class="form-group row">
        @Html.LabelFor(c => c.Resume, "Upload Resume", new { @class = "col-sm-3" })
        <div class="col-sm-4">
            <div class="custom-file" id="resumeFile" lang="es">
                @Html.TextBoxFor(m => m.Resume, new { type = "file", data_id = "file", id = "TempDto_Resume", @class = "custom-file-input", aria_describedby = "fileHelp" })
                @Html.LabelFor(c => c.Resume, "Select resume...", new { @class = "custom-file-label" })
            </div>
        </div>
    </div>

    <div class="alert alert-danger" style="display: none" data-id="validationMessage" id="validationMessageId" role="alert"></div>
    <div class="alert alert-success" style="display: none" id="successMessage" role="alert">Saved successfully</div>

    <div class="form-group row">
        <div class="col-sm-12">
            <button type="submit" class="btn btn-primary" id="createAccount">Update Account</button>
            @if (this.User.IsInRole(Role.Temp))
            {
                @Html.ActionLink("Cancel", "Index", "Home", new { area = "" }, new { @class = "btn btn-secondary", id = "cancelBtn" })
            }
            else
            {
                @Html.ActionLink("Cancel", "Index", "Professionals", new { area = "" }, new { @class = "btn btn-secondary", id = "cancelBtn" })
            }

            @if (this.User.IsInRole(Role.Admin))
            {
                <button type="button" class="btn btn-success @((Model.TempStatus == (int) Helper.EState.Active || Model.TempStatus == (int) Helper.EState.New) ? "d-none" : "")" id="activateTemp">Activate</button>
                <button type="button" class="btn btn-warning @(Model.TempStatus != (int) Helper.EState.Active ? "d-none" : "")" id="deactivateTemp" data-toggle="modal" data-target="#deleteOrInactiveTempModal">Deactivate</button>
                <button type="button" class="btn btn-danger @(Model.TempStatus == (int) Helper.EState.Deleted ? "d-none" : "")" id="deleteTempBtn" data-toggle="modal" data-target="#deleteOrInactiveTempModal">Delete</button>
                <button type="button" class="btn btn-secondary" id="impersonateUser">Impersonate</button>

                if (Model.TempStatus == (int)Helper.EState.Submitted)
                {
                    <button type="button" class="btn btn-info" id="resend-registration-email">Resend registration email</button>
                }
            }
            <i id="spinner" class="fa fa-spinner fa-spin" style="padding-left: 15px; font-size: 27px; display: none"></i>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-sm-12">
            <p>
                <a href="javascript:void(0)" id="temporaryStaffingAgreement"
                   class="font-weight-bold" data-toggle="modal"
                   data-target="#temporaryStaffingAgreementModal">Temporary Staffing Agreement</a>
            </p>
        </div>
    </div>
}

<div class="modal fade" id="temporaryStaffingAgreementModal" tabindex="-1" role="dialog" aria-labelledby="temporaryStaffingAgreementModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="temporaryStaffingAgreementLabel">Temporary Staffing Agreement</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                @{ Html.RenderPartial("../../Views/Registrator/_TemporaryStaffingAgreement"); }
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="deleteLicenseModal" tabindex="-1" role="dialog" aria-labelledby="deleteLicenseModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteLicenseModalLabel">Delete License</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Are you sure?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                <button type="button" id="deleteLicense" class="btn btn-primary" data-dismiss="modal">Yes</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="deleteOrInactiveTempModal" tabindex="-1" role="dialog" aria-labelledby="deleteOrInactiveTempModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteOrInactiveTempLabel"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="deleteOrInactiveTempBody">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                <button type="button" id="deleteOrInactiveTemp" class="btn btn-primary" data-dismiss="modal">Yes</button>
            </div>
        </div>
    </div>
</div>

@Html.Partial("_ChangeEmail", new EmailChangeDto { Email = Model.Email })

@Scripts.Render("~/bundles/tempAccountCreate")
@Scripts.Render("~/bundles/impersonate-account")
@Scripts.Render("~/bundles/resend-registration-email")